In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1741,tt0455960,10000000,25399945,The Hitcher,Sean Bean|Sophia Bush|Zachary Knighton|Neal Mc...,Dave Meyers,Never pick up strangers.,While driving through the New Mexico Desert du...,84,Action|Horror|Crime,Intrepid Pictures|Focus Films|Platinum Dunes,1/19/2007,5.4,2007
1826,tt0186151,31000000,68106245,Frequency,Dennis Quaid|Jim Caviezel|Andre Braugher|Eliza...,Gregory Hoblit,The future is listening.,When a rare phenomenon gives police officer Jo...,118,Crime|Drama|Science Fiction|Thriller,New Line Cinema,4/28/2000,6.8,2000
1864,tt0203019,32000000,48814909,Men of Honor,Robert De Niro|Cuba Gooding Jr.|Charlize Thero...,"George Tillman, Jr.",History is made by those who break the rules.,Against formidable odds -- and an old-school d...,129,Drama,Fox 2000 Pictures,9/13/2000,7.0,2000
1649,tt0356618,42000000,117575636,The Forgotten,Julianne Moore|Anthony Edwards|Jessica Hecht|C...,Joseph Ruben,You'll Never Forget The Ones You Love,Telly Paretta is a grieving mother struggling ...,91,Crime|Drama|Horror|Mystery|Science Fiction,Revolution Studios|Jinks/Cohen Company|Visual ...,9/24/2004,5.4,2004
52,tt0810819,15000000,64191523,The Danish Girl,Eddie Redmayne|Alicia Vikander|Matthias Schoen...,Tom Hooper,Find the courage to be yourself.,When Gerda Wegener asks her husband Einar to f...,120,Drama,Pretty Pictures|Working Title Films|ArtÃ©mis P...,11/27/2015,7.3,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [4]:
# 1
data['release_date'] = pd.to_datetime(data['release_date']) # turning release date strings into a Series with dtype datetime64[ns]
data['release_date']

0      2015-06-09
1      2015-05-13
2      2015-03-18
3      2015-12-15
4      2015-04-01
          ...
1884   2000-07-13
1885   2000-10-27
1886   2000-06-30
1887   2000-02-16
1888   2000-07-19
Name: release_date, Length: 1889, dtype: datetime64[ns]

In [5]:
# 2
data['genres'] = data['genres'].apply(lambda x: x.split('|')) # splitting genres strings into lists
data['genres']

0       [Action, Adventure, Science Fiction, Thriller]
1       [Action, Adventure, Science Fiction, Thriller]
2               [Adventure, Science Fiction, Thriller]
3        [Action, Adventure, Science Fiction, Fantasy]
4                            [Action, Crime, Thriller]
                             ...
1884              [Adventure, Action, Science Fiction]
1885                         [Horror, Family, Foreign]
1886    [Adventure, Animation, Action, Comedy, Family]
1887                                   [Comedy, Drama]
1888                                        [Thriller]
Name: genres, Length: 1889, dtype: object

In [6]:
# 3
data['director'] = data['director'].apply(lambda x: x.split('|')) # splitting directors strings into lists
data['director']

0        [Colin Trevorrow]
1          [George Miller]
2       [Robert Schwentke]
3            [J.J. Abrams]
4              [James Wan]
               ...
1884        [Bryan Singer]
1885            [Uli Edel]
1886         [Des McAnuff]
1887        [Diane Keaton]
1888        [Mary Lambert]
Name: director, Length: 1889, dtype: object

In [7]:
# 4
data['cast'] = data['cast'].apply(lambda x: x.split('|')) # splitting actors strings into lists
data['cast']

0       [Chris Pratt, Bryce Dallas Howard, Irrfan Khan...
1       [Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...
2       [Shailene Woodley, Theo James, Kate Winslet, A...
3       [Harrison Ford, Mark Hamill, Carrie Fisher, Ad...
4       [Vin Diesel, Paul Walker, Jason Statham, Miche...
                              ...
1884    [Patrick Stewart, Hugh Jackman, Ian McKellen, ...
1885    [Richard E. Grant, Jonathan Lipnicki, Jim Cart...
1886    [Rene Russo, Jason Alexander, Piper Perabo, Ra...
1887    [Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...
1888    [Susan Ward, Lori Heuring, Matthew Settle, Nat...
Name: cast, Length: 1889, dtype: object

In [8]:
# 5
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|')) # splitting prod companies strings into lists
data['production_companies']

0       [Universal Studios, Amblin Entertainment, Lege...
1       [Village Roadshow Pictures, Kennedy Miller Pro...
2       [Summit Entertainment, Mandeville Films, Red W...
3           [Lucasfilm, Truenorth Productions, Bad Robot]
4       [Universal Pictures, Original Film, Media Righ...
                              ...
1884    [Twentieth Century Fox Film Corporation, Donne...
1885                                    [New Line Cinema]
1886    [Universal Pictures, Capella International, KC...
1887    [Laurence Mark Productions, Columbia Pictures ...
1888                              [Warner Bros. Pictures]
Name: production_companies, Length: 1889, dtype: object

In [ ]:
import re

# data['imdb_id'] = data['imdb_id'].apply(lambda x: re.search('\d+', x)[0]) # removing 'tt' from imdb_id's
data.head(10)

In [ ]:
# data['cast'] = data['cast'].apply(lambda x: x.split('|')) # splitting string into a list
data['cast'][0]

In [9]:
# 6
data['profit'] = data['revenue'] - data['budget'] # add the column with profit
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",[Colin Trevorrow],The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",[George Miller],What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,"[Action, Adventure, Science Fiction, Thriller]","[Village Roadshow Pictures, Kennedy Miller Pro...",2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,"[Shailene Woodley, Theo James, Kate Winslet, A...",[Robert Schwentke],One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,"[Adventure, Science Fiction, Thriller]","[Summit Entertainment, Mandeville Films, Red W...",2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",[J.J. Abrams],Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",[James Wan],Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]","[Universal Pictures, Original Film, Media Righ...",2015-04-01,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [15]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'tt1298650 Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [16]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [17]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'tt0279111 Gods and Generals'

In [18]:
data[data['runtime'] == data['runtime'].max()][['imdb_id', 'original_title', 'runtime']]

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
answers['3'] = 'tt1449283 Winnie the Pooh'

In [20]:
data[data['runtime'] == data['runtime'].min()][['imdb_id', 'original_title', 'runtime']]

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [21]:
answers['4'] = 110

In [22]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [23]:
answers['5'] = 107

In [24]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [25]:
answers['6'] = 'tt0499549 Avatar'

In [26]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title', 'profit']]

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [27]:
answers['7'] = 'tt1210819 The Lone Ranger'

In [28]:
data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title', 'profit']]

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [29]:
answers['8'] = 1478

In [30]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [31]:
answers['9'] = 'tt0468569 The Dark Knight'

* FIRST METHOD: Using the column 'release_date'. If 'release_date' stays string.

In [6]:
import time

%timeit released_2008 = data[data['release_date'].str.contains('2008')]
released_2008[released_2008['revenue'] == released_2008['revenue'].max()][['imdb_id', 'original_title', 'revenue']]

1.46 ms ± 366 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

* SECOND METHOD: using the column 'release_date'. If 'release_date' is turned into datetime

In [14]:
%timeit released_2008 = data[(data['release_date'] >= '2008-01-01') & (data['release_date'] <= '2008-12-31')]
released_2008[released_2008['revenue'] == released_2008['revenue'].max()][['imdb_id', 'original_title', 'revenue']]

619 µs ± 15.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

The second method is much faster

* THIRD METHOD: Using the column 'release_year' (int64)

In [15]:
%timeit released_2008 = data[data['release_year'] == 2008]
released_2008[released_2008['revenue'] == released_2008['revenue'].max()][['imdb_id', 'original_title', 'revenue']]

708 µs ± 7.57 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = 'tt1210819 The Lone Ranger'

* FIRST METHOD: Using the column 'release_date'. If 'release_date' is turned into datetime

In [ ]:
%timeit movies_2012_2014 = data[(data['release_date'] >= '2012-01-01') & (data['release_date'] <= '2014-12-31')]
movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()][['imdb_id', 'original_title', 'profit']]

* SECOND METHOD: Using the column 'release_year' (int64)

In [ ]:
%timeit movies_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()][['imdb_id', 'original_title', 'profit']]

Working with pandas datetimes is faster after all.

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [ ]:
answers['11'] = 'Drama'

* FIRST METHOD

In [ ]:
genres_counter = Counter() # genres Counter
for genre_list in data['genres']: # listing each list in Series
    for genre in genre_list: # listing each genre in list
        genres_counter[genre] += 1

genres_counter_ordered = {
    key: value for key, value in sorted(genres_counter.items(), key=lambda item: item[1], reverse=True)
    } # sorting dictionary by values - giving a dictionary
genres_counter_ordered

* Another method of sorting

In [ ]:
genres_counter_ordered_keys = sorted(genres_counter, key=genres_counter.get, reverse=True) # sorting dictionary by values - giving a list of keys
genres_counter_ordered_keys[0]

* SECOND METHOD - adviced in Slack

In [ ]:
genres = data['genres'].sum() # merging the lists
c = Counter()
for item in genres:
    c[item] += 1
sorted(c, key=c.get, reverse=True)[0] # decending sorting and getting the first item

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] = 'Drama'

In [ ]:
def genres_profit(row, counter):
    """
    Takes a row of a movies dataframe and an outer genres Counter, adds up 1 to the genre if the movie is profitable.
    """
    
    for genre in row['genres']:
        if row['profit'] > 0:
            counter[genre] += 1
    return True


genres_profit_counter = Counter()
data.apply(genres_profit, axis=1, counter=genres_profit_counter) # applying function to the dataframe

genres_profit_counter_ordered = {
    key: value for key, value in sorted(genres_profit_counter.items(), key=lambda item: item[1], reverse=True)
} # sorting dictionary by values - giving a dictionary

genres_profit_counter_ordered

In [ ]:
data[data['genres'].map(lambda x: 'Foreign' in x) == True] # why genre 'Foreign' is not in 'genres_profit_counter_ordered'
# using usual sorting of df in [] but also using map cause each member of Series contains a list

=> see that their profit is < 0

Ответ получен (драма), ОДНАКО частота различных жанров различна - соответственно, ожидаемо, что прибыльность наиболее часто встречающихся жанров будет выше. Поэтому имеет смысл посчитать прибыльность относительно частоты "встречаемости" жанра.

In [ ]:
genres_profit_counter_ordered['Foreign'] = 0 # adding profitability of the genre 'Foreign' to 'genres_profit_counter_ordered' (to make lengths of both dicts equal)

In [ ]:
# create a dataframe of genres profitability
genres = pd.DataFrame({
    'frequency': [value for value in genres_counter_ordered.values()],
    'abs_profitability': [value for value in genres_profit_counter_ordered.values()]
})
genres['rel_profitability'] = round(genres['abs_profitability'] / genres['frequency'], 4)
genres.index = [key for key in genres_counter_ordered.keys()]
genres

In [ ]:
genres.describe()

In [ ]:
genres[genres['rel_profitability'] >= 0.8294] # checking the 4th quartile

Таким образом, из всех выпущенных фильмов в жанрах семейные, фэнтэзи, хоррор, анимационные, документальные наибольшее процентное количество становится прибыльными.

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [68]:
answers['13'] = 'Peter Jackson'

In [82]:
dir_rev = pd.Series(data['director'].sum()) # merging lists of directors into Series
dir_rev = dir_rev.value_counts() # now index contains unique directors; we could also use Series.unique() for this -> numpy.ndarray of directors
for director in dir_rev.index:
    dir_rev[director] = data[data['director'].map(lambda x: director in x)]['revenue'].sum()
dir_rev.sort_values(ascending=False)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = 'Robert Rodriguez'

FIRST METHOD: Using collections.Counter

In [ ]:
action_dir_counter = Counter()

def action_dir_count(row, counter):
    """
    Counts directors of action movies in a dataframe row by row. Uses an external collections.Counter.
    """
    
    for director in row['director']:
        if 'Action' in row['genres']:
            counter[director] += 1
    
    return True


data.apply(action_dir_count, axis=1, counter=action_dir_counter)

# sort counter dictionary keys by descending values, take the first key
sorted(action_dir_counter, key=action_dir_counter.get, reverse=True)[0]

In [ ]:
# sorting action_dir_counter items by descending values
action_dir_counter_sorted = {
    key: value for key, value in sorted(action_dir_counter.items(), key=lambda item: item[1], reverse=True)
}
action_dir_counter_sorted

SECOND METHOD

In [36]:
data_action = data[data['genres'].map(lambda genres: 'Action' in genres)] # using usual sorting of df in [] but also using map cause each member of Series contains list

directors = data_action['director'].sum() # merging the Series of lists of directors

a) Using collections.Counter()

In [53]:
# counting using collections.Counter
dir_count = Counter()
for director in directors:
    dir_count[director] += 1

dir_count_sorted = {
    key: value for key, value in sorted(dir_count.items(), key=lambda item: item[1], reverse=True)
}
dir_count_sorted

{'Robert Rodriguez': 9,
 'Michael Bay': 7,
 'Paul W.S. Anderson': 7,
 'Antoine Fuqua': 6,
 'Ridley Scott': 6,
 'Brett Ratner': 5,
 'Quentin Tarantino': 5,
 'Zack Snyder': 5,
 'Roland Emmerich': 5,
 'Andrzej Bartkowiak': 5,
 'Louis Leterrier': 5,
 'Tony Scott': 5,
 'Paul Greengrass': 5,
 'Peter Jackson': 5,
 'Lee Tamahori': 5,
 'Gore Verbinski': 5,
 'Rob Cohen': 5,
 'Peter Berg': 5,
 'J.J. Abrams': 4,
 'Lana Wachowski': 4,
 'Lilly Wachowski': 4,
 'Olivier Megaton': 4,
 'Guy Ritchie': 4,
 'Bryan Singer': 4,
 'Tim Story': 4,
 'Renny Harlin': 4,
 'Mark Neveldine': 4,
 'Brian Taylor': 4,
 'Dominic Sena': 4,
 'Justin Lin': 4,
 'Christopher Nolan': 4,
 'Simon West': 4,
 'John Moore': 4,
 'Steven Spielberg': 4,
 'Martin Campbell': 4,
 'John Singleton': 4,
 'Len Wiseman': 4,
 'Brad Bird': 3,
 'Matthew Vaughn': 3,
 'Neill Blomkamp': 3,
 'Jaume Collet-Serra': 3,
 'Breck Eisner': 3,
 'Pierre Morel': 3,
 'David Ayer': 3,
 'Doug Liman': 3,
 'Clint Eastwood': 3,
 'Phil Lord': 3,
 'Christopher Miller': 3,
 'McG': 3,
 'Stephen Sommers': 3,
 'Shawn Levy': 3,
 'Jonathan Mostow': 3,
 'Jon Favreau': 3,
 'Jon Turteltaub': 3,
 'Joe Carnahan': 3,
 'M. Night Shyamalan': 3,
 'Harald Zwart': 3,
 'Marc Forster': 3,
 'D.J. Caruso': 3,
 'Edward Zwick': 3,
 'Sam Raimi': 3,
 'Barry Sonnenfeld': 3,
 'Guillermo del Toro': 3,
 'John Woo': 3,
 'Uwe Boll': 3,
 'David Twohy': 3,
 'James Wan': 2,
 'Alan Taylor': 2,
 'Sam Mendes': 2,
 'Joss Whedon': 2,
 'Peyton Reed': 2,
 'Brad Peyton': 2,
 'Wes Ball': 2,
 'Michael Mann': 2,
 'Paul Feig': 2,
 'Ron Howard': 2,
 'Camille Delamarre': 2,
 'Luc Besson': 2,
 'Jonathan Liebesman': 2,
 'Matt Reeves': 2,
 'Marc Webb': 2,
 'Evan Goldberg': 2,
 'Seth Rogen': 2,
 'Roger Donaldson': 2,
 'J.C. Chandor': 2,
 'Kenneth Branagh': 2,
 'Scott Waugh': 2,
 'Alex Proyas': 2,
 'James McTeigue': 2,
 'NimrÃ³d Antal': 2,
 'Gavin Hood': 2,
 'Sylvester Stallone': 2,
 'Joseph Kosinski': 2,
 'Edgar Wright': 2,
 'Robert Schwentke': 2,
 'James Mangold': 2,
 'Neil Marshall': 2,
 'Kevin Munroe': 2,
 'Peter Howitt': 2,
 'Frank Oz': 2,
 'Joe Johnston': 2,
 'Peter Hyams': 2,
 'Timur Bekmambetov': 2,
 'David Gordon Green': 2,
 'Pete Travis': 2,
 'Frank Miller': 2,
 'Jason Friedberg': 2,
 'Aaron Seltzer': 2,
 'Rob Marshall': 2,
 'Andrew Niccol': 2,
 'Marcus Nispel': 2,
 'Ruben Fleischer': 2,
 'George Lucas': 2,
 'Andrew Davis': 2,
 'Walter Hill': 2,
 'Rob Bowman': 2,
 'Ang Lee': 2,
 'Baltasar KormÃ¡kur': 2,
 'Mark Steven Johnson': 2,
 'F. Gary Gray': 2,
 'David Dobkin': 2,
 'Clark Johnson': 2,
 'Richard Donner': 2,
 'William Friedkin': 2,
 'Francis Lawrence': 2,
 'Courtney Solomon': 2,
 'David R. Ellis': 2,
 'David S. Goyer': 2,
 'Colin Trevorrow': 1,
 'George Miller': 1,
 'Chris Columbus': 1,
 'Christopher McQuarrie': 1,
 'Ilya Naishuller': 1,
 'Ericson Core': 1,
 'Denis Villeneuve': 1,
 'Josh Trank': 1,
 'Aleksander Bach': 1,
 'Andy Fickman': 1,
 'John Erick Dowdle': 1,
 'Anne Fletcher': 1,
 'James Gunn': 1,
 'Joe Russo': 1,
 'Anthony Russo': 1,
 'Chad Stahelski': 1,
 'David Leitch': 1,
 'Don Hall': 1,
 'Chris Williams': 1,
 'Neil Burger': 1,
 'Gareth Edwards': 1,
 'Robert Stromberg': 1,
 'Dean DeBlois': 1,
 'Patrick Hughes': 1,
 'Gary Shore': 1,
 'Noam Murro': 1,
 'Vic Armstrong': 1,
 'JosÃ© Padilha': 1,
 'George Clooney': 1,
 'Brian A Miller': 1,
 'Steven Quale': 1,
 'Adam Wingard': 1,
 'James Cameron': 1,
 'Patrick Tatopoulos': 1,
 'Shane Acker': 1,
 'Steve Carr': 1,
 'Christian Alvart': 1,
 'Hoyt Yeatman': 1,
 'Kevin Macdonald': 1,
 'Michael Spierig': 1,
 'Peter Spierig': 1,
 'Paul McGuigan': 1,
 'Troy Duffy': 1,
 'Paul Weitz': 1,
 'David Bowers': 1,
 'Daniel Barber': 1,
 'Michael J. Bassett': 1,
 'Pierre Coffin': 1,
 'Chris Renaud': 1,
 'Phillip Noyce': 1,
 'Florian Henckel von Donnersmarck': 1,
 'Mike Newell': 1,
 'Ethan Maniquis': 1,
 'Albert Hughes': 1,
 'Allen Hughes': 1,
 'Tom McGrath': 1,
 'Adam McKay': 1,
 'Miguel Sapochnik': 1,
 'Andy Tennant': 1,
 'Jonathan Lynn': 1,
 'Jimmy Hayward': 1,
 'Robert Luketic': 1,
 'John Luessenhop': 1,
 'Kevin Smith': 1,
 'Jorma Taccone': 1,
 'Brian Levant': 1,
 'Stuart Beattie': 1,
 'Tim Burton': 1,
 'Brian Helgeland': 1,
 'John A. Davis': 1,
 'Chris Nahon': 1,
 'Hironobu Sakaguchi': 1,
 'Motonori Sakakibara': 1,
 'Rod Lurie': 1,
 'John Herzfeld': 1,
 'Ivan Reitman': 1,
 'Demian Lichtenstein': 1,
 'John Carpenter': 1,
 'Bobby Farrelly': 1,
 'Peter Farrelly': 1,
 'Barry Levinson': 1,
 'Luke Greenfield': 1,
 'Les Mayfield': 1,
 'Henry Selick': 1,
 'Rob Pritts': 1,
 'Ernest R. Dickerson': 1,
 'DJ Pooh': 1,
 'Eric Brevig': 1,
 'Ben Stiller': 1,
 'Jeff Wadlow': 1,
 'Lexi Alexander': 1,
 'Peter Segal': 1,
 'Mathieu Kassovitz': 1,
 'Rob Minkoff': 1,
 'Jon Avnet': 1,
 'Dennis Dugan': 1,
 'Howard McCain': 1,
 'Oxide Pang Chun': 1,
 'Danny Pang': 1,
 'Craig Mazin': 1,
 'Simon Hunter': 1,
 'Nicolas Winding Refn': 1,
 'Rupert Wyatt': 1,
 'Patrick Lussier': 1,
 'Gary McKendry': 1,
 'Scott Stewart': 1,
 'Tarsem Singh': 1,
 'Chris Gorak': 1,
 'Chris Miller': 1,
 'Michel Gondry': 1,
 'Oliver Parker': 1,
 'Joe Cornish': 1,
 'Joe Wright': 1,
 'John Michael McDonagh': 1,
 'Alister Grierson': 1,
 'Sean McNamara': 1,
 'John Whitesell': 1,
 'Benny Chan': 1,
 'Corey Yuen Kwai': 1,
 'Stuart Baird': 1,
 'Kurt Wimmer': 1,
 'Jay Roach': 1,
 'Jim Gillespie': 1,
 'Chuck Russell': 1,
 'Betty Thomas': 1,
 'Randall Wallace': 1,
 'Ron Shelton': 1,
 'Simon Wells': 1,
 'Roger Michell': 1,
 'Michael Apted': 1,
 'Tom Dey': 1,
 'Joel Schumacher': 1,
 'Luis Mandoki': 1,
 'Tamra Davis': 1,
 'Ron Underwood': 1,
 'Kevin Bray': 1,
 'Malcolm D. Lee': 1,
 'MÃ¥ns MÃ¥rlind': 1,
 'BjÃ¶rn Stein': 1,
 'Tony Gilroy': 1,
 'Mark Andrews': 1,
 'Steve Purcell': 1,
 'Brenda Chapman': 1,
 'Boaz Yakin': 1,
 'Andrew Stanton': 1,
 'Rian Johnson': 1,
 'Mike McCoy': 1,
 'Stephen St. Leger': 1,
 'James Mather': 1,
 'Daniel Espinosa': 1,
 'Asger Leth': 1,
 'Mabrouk El Mechri': 1,
 'Dan Bradley': 1,
 'Julie Anne Robinson': 1,
 'Anthony Hemingway': 1,
 'David Koepp': 1,
 'David Barrett': 1,
 'Stephen Norrington': 1,
 'Jan de Bont': 1,
 'Jon Amiel': 1,
 'John McTiernan': 1,
 'Shane Black': 1,
 'Tommy Wirkola': 1,
 'Carl Rinsch': 1,
 'Gary Fleder': 1,
 'Mikael HÃ¥fstrÃ¶m': 1,
 'Taylor Hackford': 1,
 'Steven Knight': 1,
 'Spike Lee': 1,
 'Dito Montiel': 1,
 'Keanu Reeves': 1,
 'Fyodor Bondarchuk': 1,
 'Karyn Kusama': 1,
 'Adam Shankman': 1,
 'John Stockwell': 1,
 'Sydney Pollack': 1,
 'Terry Gilliam': 1,
 'Jay Chandrasekhar': 1,
 'Richard Shepard': 1,
 'John Dahl': 1,
 'Bruce Hunt': 1,
 'Alfonso CuarÃ³n': 1,
 'Stefen Fangmeier': 1,
 'Mel Gibson': 1,
 'Bruce Beresford': 1,
 'Wolfgang Petersen': 1,
 'Jeff Tremaine': 1,
 'John Bonito': 1,
 'Geoffrey Sax': 1,
 'Tony Bill': 1,
 'Wayne Kramer': 1,
 'Sanjay Gadhvi': 1,
 'Phil Joanou': 1,
 'Alexander Witt': 1,
 'Bibo Bergeron': 1,
 'Vicky Jenson': 1,
 'Rob Letterman': 1,
 'Kerry Conran': 1,
 'Oliver Stone': 1,
 'Jonathan Hensleigh': 1,
 'Pitof': 1,
 'Philip Kaufman': 1,
 'Trey Parker': 1,
 'Steven Brill': 1,
 'Frank Coraci': 1,
 'Paul Abascal': 1,
 'Joseph Kahn': 1,
 'David Mamet': 1,
 'Jay Russell': 1,
 'Robert Redford': 1,
 'Philip G. Atwell': 1,
 'Michael Davis': 1,
 'Xavier Gens': 1,
 'Eli Roth': 1,
 'Rob Zombie': 1,
 'Jason Eisener': 1,
 'Dave Meyers': 1,
 'Russell Mulcahy': 1,
 'Andrew Dominik': 1,
 'Doug Lefler': 1,
 'David Leland': 1,
 'Feng Xiaogang': 1,
 'Ben Garant': 1,
 'Joel Coen': 1,
 'Donald Petrie': 1,
 'Paul Verhoeven': 1,
 'Roger Spottiswoode': 1,
 'Antony Hoffman': 1,
 'Stephen T. Kay': 1,
 'Don Bluth': 1,
 'Gary Goldman': 1,
 'Christian Duguay': 1,
 'Douglas Aarniokoski': 1,
 'Gina Prince-Bythewood': 1,
 'Brian Robbins': 1,
 'Des McAnuff': 1}

b) Using Series.value_counts()

In [39]:
# counting using pd.Series.value_counts()
directors = pd.Series(directors)
directors.value_counts(ascending=False)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Robert Stromberg      1
Roger Michell         1
Jay Russell           1
Brian Levant          1
Tamra Davis           1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = ''

In [45]:
data_2012 = data.query('release_year == 2012')

* FIRST METHOD - Using collections.Counter()

In [ ]:
actor_revenue_count = Counter()

def actor_revenue(row):
    """
    Sums up each actor revenues from a dataframe using external collections.Counter dictionary.
    """
    
    for actor in row['cast']:
        actor_revenue_count[actor] += row['revenue']
    
    return True


data_2012.apply(actor_revenue, axis=1)
actor_revenue_count = sorted(actor_revenue_count.items(), key=lambda item: item[1], reverse=True) # sorting dictionary into list of tuples
actor_revenue_count

* SECOND METHOD - Using pd.Series.value_counts() - adviced in Slack

In [67]:
cast = pd.Series(data_2012['cast'].sum())
cast = cast.value_counts(ascending=False)
for actor in cast.index:
    cast[actor] = data_2012[data_2012['cast'].map(lambda x: True if actor in x else False)]['revenue'].sum() # sorting the rows containing every certain actor out of the dataframe, summing up revenues
cast.sort_values(ascending=False)

Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Chris Evans        1519557910
Mark Ruffalo       1519557910
                      ...
Hope Davis            3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557
Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [85]:
answers['16'] = 'Matt Damon'

In [84]:
high_budget_data = data[data['budget'] > data['budget'].mean()]
pd.Series(high_budget_data['cast'].sum()).value_counts(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Eddie Deezen          1
Janeane Garofalo      1
Kim Coates            1
Aziz Ansari           1
Heather Locklear      1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [90]:
answers['17'] = 'Action'

In [89]:
NCage_data = data[data['cast'].map(lambda x: 'Nicolas Cage' in x)]
pd.Series(NCage_data['genres'].sum()).value_counts(ascending=False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Horror              1
Romance             1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [98]:
answers['18'] = 'tt0267626 K-19: The Widowmaker'

In [97]:
ParPic_data = data[data['production_companies'].map(lambda x: 'Paramount Pictures' in x)]
ParPic_data[ParPic_data['profit'] == ParPic_data['profit'].min()][['imdb_id', 'original_title', 'profit']]

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [131]:
answers['19'] = '2015'

In [130]:
year_revenue = data['release_year'].value_counts().sort_index()
for year in year_revenue.index:
    year_revenue[year] = data[data['release_year'] == year]['revenue'].sum()
year_revenue.sort_values(ascending=False)

2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: release_year, dtype: int64

In [108]:
# написать решение с помощью Counter()
year_revenue = Counter()
for year in data['release_year'].values:
    year_revenue[year] = data[data['release_year'] == year]['revenue'].sum()
year_revenue

Counter({2015: 25449202382,
         2014: 23405862953,
         2009: 20261791024,
         2010: 21071204961,
         2001: 13017764865,
         2008: 18252781990,
         2011: 22676791872,
         2002: 14136361487,
         2012: 23079001687,
         2003: 14346123312,
         2013: 23213799791,
         2005: 15309425558,
         2006: 14775042320,
         2004: 15663430720,
         2007: 18162406801,
         2000: 10664099805})

# 20. Какой самый прибыльный год для студии Warner Bros?

In [143]:
answers['20'] = '2007'

In [87]:
companies = pd.Series(data['production_companies'].sum()).value_counts() # проверяем название компании в датасете, тк по 'Warner Bros' найти нечего не удалось
companies.sort_index(ascending=False)[60:70] # видим, что в поиск включать нужно все 4

Warp Films                                  1
Warner Independent Pictures (WIP)           4
Warner Bros. Pictures                      13
Warner Bros. Interactive Entertainment      1
Warner Bros. Animation                      5
Warner Bros.                              168
Wandering Star Pictures                     1
Walt Disney Television Animation            2
Walt Disney Studios Motion Pictures         3
Walt Disney Pictures                       82
dtype: int64

In [75]:
WB_data = data[data['production_companies'].map(lambda x: 'Warner Bros' in '|'.join(x))]
WB_year_revenue = WB_data['release_year'].value_counts().sort_index() # collecting all release years into index of Series
for year in WB_year_revenue.index:
    WB_year_revenue[year] = WB_data[WB_data['release_year'] == year]['revenue'].sum()
# companies = pd.Series(data['production_companies'].sum()).value_counts() # проверяем название компании в датасете, тк по 'Warner Bros' найти нечего не удалось
companies.sort_index(ascending=False)[60:70] # видим, что в поиск включать нужно все 4WB_year_revenue.sort_values(ascending=False)

2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: release_year, dtype: int64

In [76]:
# код неверен, тк у WB есть "филиалы"
# WB_data = data[data['production_companies'].map(lambda x: 'Warner Bros.' in x)]
# WB_year_revenue = WB_data['release_year'].value_counts().sort_index() # collecting all release years into index of Series
# for year in WB_year_revenue.index:
#     WB_year_revenue[year] = WB_data[WB_data['release_year'] == year]['revenue'].sum()
# WB_year_revenue.sort_values(ascending=False)

2007    3114367993
2008    3050595031
2011    2845393682
2010    2807128844
2014    2773903827
2003    2745493377
2004    2725125175
2009    2708981628
2013    2599953400
2005    2412980298
2001    2206174853
2012    1869520056
2015    1691168351
2002    1587248589
2006    1465989614
2000    1015205068
Name: release_year, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [43]:
answers['21'] = '9'

In [42]:
data['release_month'] = data['release_date'].dt.month
month_movies = data['release_month'].value_counts().sort_index() # creating index of month movies Series
for month in month_movies.index:
    month_movies[month] = len(data[data['release_month'] == month]) # filling it in with movies numbers
month_movies.sort_values(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [61]:
answers['22'] = '450'

* FIRST METHOD

In [63]:
len(data[(data['release_month'] >= 6) & (data['release_month'] < 9)]) # or dataframe.count()

450

* SECOND METHOD

In [66]:
len(data[data['release_month'].isin(range(6, 9))])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [96]:
answers['23'] = 'Peter Jackson'

In [95]:
data_winter = data[data['release_month'].isin([12, 1, 2])]
pd.Series(data_winter['director'].sum()).value_counts().sort_values(ascending=False)

Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Adam Shankman            4
Shawn Levy               4
                        ..
Chris Gorak              1
David Gordon Green       1
Xavier Palud             1
Jonathan Lynn            1
Matt Bettinelli-Olpin    1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [63]:
answers['24'] = 'Universal Pictures'

In [122]:
mean_length = data['original_title'].map(lambda x: len(x)).mean()
long_title = data[data['original_title'].map(lambda x: len(x) > mean_length)]
companies = pd.Series(long_title['production_companies'].sum()).value_counts(ascending=False)
companies

# display(companies)
# companies.filter(like='Columbia')

Universal Pictures                        67
Paramount Pictures                        57
Warner Bros.                              57
Twentieth Century Fox Film Corporation    48
Columbia Pictures                         42
                                          ..
After Dark Films                           1
Chockstone Pictures                        1
Aegis Film Fund                            1
Gaylord Films                              1
Catch Productions                          1
Length: 897, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [174]:
answers['25'] = 'Midnight Picture Show'

In [173]:
from statistics import mean

comp_descr = pd.Series(data['production_companies'].sum()).value_counts() # creating a list of unique company names (Series.index)
# display(comp_descr)

comp_descr_dict = Counter()
for company in comp_descr.index:
    temp = list(data[data['production_companies'].map(lambda x: company in x)]['overview'].values) # list of overviews of a certain company
    comp_descr_dict[company] = mean([len(item.split(' ')) for item in temp]) # turning temp into a list of overview lengths, calculating mean length, writing down into the dictionary

sorted(comp_descr_dict.items(), key=(lambda item: item[1]), reverse=True)

[('Midnight Picture Show', 175),
 ('Heineken Branded Entertainment', 161),
 ('Room 9 Entertainment', 161),
 ('98 MPH Productions', 159),
 ('Brookwell-McNamara Entertainment', 156),
 ('Lions Gate Family Entertainment', 152),
 ('Crest Animation Productions', 152),
 ('Art Pictures Studio', 147),
 ('Cinema Gypsy Productions', 144),
 ('Starbucks Entertainment', 144),
 ('Sanctum Australia', 138),
 ('Great Wight Productions/ Osford Films', 138),
 ('Wayfare Entertainment', 138),
 ('Sudden Storm Productions', 134),
 ('Scooter Braun Films', 132),
 ('Magical Elves Productions', 132),
 ('Disney Double Dare You (DDY)', 130),
 ('K. JAM Media', 128),
 ('Radical Studios', 127.5),
 ('Silent Hill DCP Inc.', 126),
 ('Konami', 126),
 ('Omega Entertainment', 122),
 ('Oceana Media Finance', 122),
 ('Pantheon Entertainment Corporation', 122),
 ('Innocence Productions', 122),
 ('David Ladd Films', 119.5),
 ('O.N.C. Entertainment', 117),
 ('Crying Box Productions', 116),
 ('Ten Thirteen Productions', 116),
 ('Red Om Films', 115),
 ('Xingu Films', 113),
 ('Double Nickel Entertainment', 113),
 ('Cappa Productions', 113),
 ('Ex3 Productions', 113),
 ('Lunar Industries', 113),
 ('Limelight Fund', 113),
 ('Liberty Films UK', 113),
 ('Broken Chair Flickz', 112),
 ('Langley Park Production', 111),
 ('Esperanto Filmoj', 111),
 ('Panay Films', 111),
 ('Darlow Smithson Productions', 109),
 ('Varsity Pictures', 108),
 ('Andalasia Productions', 108),
 ('Right Coast Productions', 108),
 ('Alta Loma Entertainment', 108),
 ('Yash Raj Films', 107),
 ('China Film Group', 107),
 ('Farewell Productions', 107),
 ('Hemisphere Media Capital', 106.33333333333333),
 ('Upstairs Canada Productions', 106),
 ('FidÃ©litÃ© Films', 106),
 ('New Upstairs Productions', 106),
 ('Hwy61', 106),
 ('Front Street Productions', 105),
 ('Spitfire Pictures', 105),
 ('Walt Disney Studios Motion Pictures', 104),
 ('Mimran Schur Pictures', 104),
 ('Davis-Panzer Productions', 104),
 ('Stone Productions', 104),
 ('Out of the Blue... Entertainment', 103),
 ('Vidhu Vinod Chopra Productions', 103),
 ('Cube Vision', 102),
 ('Darko Entertainment', 102),
 ('Gaylord Films', 101),
 ('Catch Productions', 101),
 ('Bird and a Bear Entertainment', 101),
 ('Hallway Pictures', 101),
 ('MacDonald/Parkes Productions', 100),
 ('Washington Square Films', 99.5),
 ('Before the Door Pictures', 99.5),
 ('Kerner Entertainment Company', 99),
 ('Brownstone Productions', 98),
 ('Y Productions', 98),
 ('Mediana Productions Filmgesellschaft', 98),
 ('Flynn Picture Company', 97.5),
 ('Random Films', 97),
 ('Cannell Studios', 97),
 ('Rice Films', 97),
 ('Trackform Film Productions', 97),
 ('Trademark Films', 96),
 ('Bay Films', 96),
 ('Lip Sync Post', 96),
 ('Rhythm and Hues', 96),
 ('Picnic Basket', 96),
 ('Fastnet Films', 95),
 ('Helena Productions', 95),
 ('New Redemption Pictures', 95),
 ('Mark Johnson Productions', 95),
 ('Caramel Film', 95),
 ('Curmudgeon Films', 95),
 ('Animationwerks', 94),
 ("It's a Laugh Productions", 94),
 ('Storm King Productions', 94),
 ('Millar Gough Ink', 94),
 ('Josephson Entertainment', 93.5),
 ('NeoReel', 93.33333333333333),
 ('Film 44', 93),
 ('Ascension Pictures', 92),
 ('Cloud Atlas Productions', 92),
 ('Pioneer Pictures', 92),
 ('TF1 Droits Audiovisuels', 92),
 ('LBI Entertainment', 92),
 ('Metrol Technology', 92),
 ('ARD Degeto Film', 92),
 ('Qwerty Films', 92),
 ('Pinewood Studios', 92),
 ('Alpha Core', 91.5),
 ('Gerber Pictures', 91.33333333333333),
 ('Indochina Productions', 90.5),
 ('Nickelodeon Animation Studios', 90),
 ('United Plankton Pictures', 90),
 ('Sony', 90),
 ('Media Magik Entertainment', 89.5),
 ('Internationale Filmproduktion Stella-del-Sud Second', 89),
 ('Bedford Falls Productions', 88.33333333333333),
 ('Perdido Productions', 88),
 ('Talisman Productions', 88),
 ('Peach Trees', 87),
 ('Dutch Oven', 87),
 ('NuAmerica Entertainment', 87),
 ('Reiner-Greisman', 87),
 ('Emergency Films', 87),
 ('Disney Enterprises', 87),
 ('Toledo Productions', 87),
 ('New Regency Productions', 87),
 ('Rena Film', 87),
 ('Apotheosis Media Group', 87),
 ('Compulsion Inc.', 87),
 ('Troika Pictures', 87),
 ('Splendid Medien AG', 87),
 ('Mad Hatter Entertainment', 86),
 ('Zohar International', 86),
 ('Monolith Pictures (III)', 86),
 ('TSBD Canada Productions', 86),
 ('Total Entertainment', 86),
 ('Tooley Productions', 86),
 ('LStar Capital', 85.5),
 ('Michael Lobell Productions', 85),
 ('Storefront Films', 85),
 ('Edmonds Entertainment Group (EEG)', 84),
 ('Epidemic Pictures', 84),
 ('Lauren Levine Productions Inc.', 84),
 ('David Foster Productions', 83.33333333333333),
 ('The Ladd Company', 83),
 ('Mad Chance Productions', 83),
 ('Fireworks Pictures', 83),
 ('Samuelson Productions', 83),
 ('Emperor Motion Pictures', 82.5),
 ('Hollywood Pictures', 82.5),
 ('Octagon Films', 82),
 ('Avi Arad Productions', 82),
 ('The Javelina Film Company', 82),
 ('Pendle Mountain Productions', 82),
 ('Birnbaum/Barber', 82),
 ('Matt Tolmach Productions', 82),
 ('Roth Films', 81.85714285714286),
 ('Reliance BIG Entertainment', 81.5),
 ('Bedlam Productions', 81),
 ('See-Saw Films', 81),
 ('Chako Film Company', 81),
 ('MBC Beteiligungs Filmproduktion', 81),
 ('Parkes/MacDonald Productions', 80.75),
 ('China Film Co-Production Corporation', 80.25),
 ('Hammer Film Productions', 80),
 ('Shawn Danielle Productions Ltd.', 80),
 ('Friuli Venezia Giulia Film Commission', 80),
 ('MJW Films', 80),
 ('DefyNite Films', 80),
 ('Ozla Pictures', 80),
 ('Business Location Sudtirol Alto Adige', 80),
 ('Witness Protection Films', 80),
 ('Paco Cinematografica', 80),
 ('Constantin Film International', 80),
 ('Greenestreet Films', 80),
 ('Regione Lazio', 80),
 ('WV Films III', 79.66666666666667),
 ('Insurge Pictures', 79.66666666666667),
 ('Village Roadshow Pictures Asia', 79),
 ('Reaper Productions', 79),
 ('Ott Medien', 79),
 ('Millenium Films', 79),
 ('Lucasfilm', 78.25),
 ('Goldmann Pictures', 78),
 ('LionsGate', 78),
 ('Prime Focus', 78),
 ('SGF Entertainment', 78),
 ('I Remember Productions', 78),
 ('Case 39 Productions', 78),
 ('Riddick Canada Productions', 78),
 ('Raygun Productions', 78),
 ('Province of British Columbia Film Incentive BC', 78),
 ('Rosey Film Productions LLC', 78),
 ('Cattleya', 78),
 ('FilmDistrict', 77.85714285714286),
 ('Aardman Animations', 77.75),
 ('Team Todd', 77.66666666666667),
 ('Parkes+MacDonald Image Nation', 77.33333333333333),
 ('Intertainment AG', 77),
 ('Cott Productions', 77),
 ('Mythology Entertainment (II)', 77),
 ('Furia de Titanes II, A.I.E.', 77),
 ('Clubdeal', 77),
 ('Milagro Films', 77),
 ('Dreamworks Pictures', 77),
 ('Magic Light Pictures', 77),
 ('Harlequin Pictures', 77),
 ('DoRo Fiction Film', 77),
 ('Blackout Productions Inc.', 77),
 ('Cinema Four', 77),
 ('Akil Production Company', 77),
 ('Matador Pictures', 77),
 ('Riche-Ludwig Productions', 76),
 ('Universal Pictures International (UPI)', 76),
 ('Apaches Entertainment', 76),
 ('Mr. Smith Productions', 76),
 ('Unique Features', 76),
 ('Sociedad General de Cine S.A.', 76),
 ('Initial Entertainment Group (IEG)', 75.6),
 ("Mel's Cite du Cinema", 75.33333333333333),
 ('Three Strange Angels', 75),
 ('X-Filme Creative Pool', 75),
 ('Electronic Arts', 75),
 ('MavroCine Pictures GmbH & Co. KG', 75),
 ('Also Known As Pictures', 75),
 ('D8', 75),
 ('Propeler', 75),
 ('Serenade Films', 75),
 ('Ozumi Films', 75),
 ('TC Productions', 74.33333333333333),
 ('Infinitum Nihil', 74),
 ('Jackie Chan Films Limited', 74),
 ('2S Films', 74),
 ('All Knight Productions', 74),
 ('Chime Films', 74),
 ('TF1 Films Productions', 74),
 ('Hart-Sharp Entertainment', 74),
 ('Wild Ocean Films', 74),
 ('3Foot7', 74),
 ('Gone North Productions', 74),
 ('Goldcrest Pictures', 73.57142857142857),
 ('Winkler Films', 73.5),
 ('Type A Films', 73.5),
 ('Envision Entertainment Corporation', 73),
 ('SVT Drama', 73),
 ('Cliffjack Motion Pictures', 73),
 ('Kasdan Pictures', 73),
 ('Fine Line Features', 73),
 ('Zentropa Entertainments', 73),
 ('Arte', 73),
 ('Danmarks Radio (DR)', 73),
 ('Rainforest Films', 72.4),
 ('Strike Entertainment', 72),
 ('GreeneStreet Films', 72),
 ('Two Ton Films', 72),
 ('No Trace Camping', 72),
 ('Apparatus Productions', 72),
 ('Motion Picture KAPPA Produktionsgesellschaft', 72),
 ('Native Pictures Productions', 72),
 ('EFTI', 72),
 ('WV Films LLC', 72),
 ('Failure to Launch Productions', 72),
 ('Davis-Films', 71.8),
 ('Neal Street Productions', 71.75),
 ('Atmosphere Entertainment MM', 71.71428571428571),
 ('Imaginary Forces', 71.5),
 ('Tapestry Films', 71.4),
 ('Laika Entertainment', 71),
 ('Merlin Films', 71),
 ('Camelot Pictures', 71),
 ('Obelisk Productions', 71),
 ('Max Films Productions', 71),
 ('Mindfire Entertainment', 71),
 ('Illusion Entertainment', 71),
 ('Morag Loves Company', 71),
 ('K/O Camera Toys', 71),
 ('Pistolero Productions LLC', 71),
 ('Viz Media', 71),
 ('Bekmambetov Projects Ltd.', 71),
 ('Liveplanet', 71),
 ('MHF Zweite Academy Film', 70.5),
 ('26 Films', 70.5),
 ('H2F Entertainment', 70.5),
 ('Prana Animation Studios', 70),
 ('Anton Capital Entertainment (ACE)', 70),
 ('Seven West Media', 70),
 ('Cohen/Pearl Productions', 70),
 ('Fear of God Films', 70),
 ('Mark Gordon Productions', 70),
 ('Seven Group Holdings', 70),
 ('Nancy Tenenbaum Films', 70),
 ('Smokewood Entertainment Group', 70),
 ('What to Expect Productions', 70),
 ('Huayi Brothers', 70),
 ('Tezuka Production Company Ltd.', 70),
 ('Great Scott Productions Pty. Ltd.', 70),
 ('Infinity Features Entertainment', 70),
 ('Bad Robot', 69.66666666666667),
 ('Sony Pictures Animation', 69.33333333333333),
 ('The Safran Company', 69.33333333333333),
 ('Alliance Films', 69.25),
 ('The Mark Gordon Company', 69),
 ('Ambience Entertainment', 69),
 ('Fake Empire', 69),
 ('Kennedy Miller Productions', 69),
 ('Omnilab Media', 69),
 ('Curse Productions', 69),
 ('Dark Lot Entertainment', 69),
 ('Triple Threat Talent', 69),
 ('Moonrise', 69),
 ('UTV Motion Pictures', 69),
 ('Gold Circle Films', 68.33333333333333),
 ('Imprint Entertainment', 68.33333333333333),
 ('Instituto de la CinematografÃ\xada y de las Artes Audiovisuales (ICAA)',
  68.33333333333333),
 ('Isle of Man Film', 68.2),
 ('Odyssey Entertainment', 68),
 ('Nine Yards Productions', 68),
 ('Starz Media', 68),
 ('Riff Raff Film Productions', 68),
 ('Filmauro', 68),
 ('Summertime Entertainment', 68),
 ('City Productions', 68),
 ('Natural Nylon Entertainment', 68),
 ('Jaffilms Inc.', 68),
 ('Horsepower Films', 68),
 ('Studiopolis', 68),
 ('Silver Bullet Productions (II)', 68),
 ('Blue Flower Productions', 68),
 ('Really Useful Films', 68),
 ('Cineblue Internationale Filmproduktionsgesellschaft', 68),
 ('Cranium Films', 68),
 ('Vanguard Animation', 68),
 ('Rational Packaging Company', 68),
 ('Red Hour Productions', 68),
 ('Core Productions', 68),
 ('Blind Wink Productions', 68),
 ('Skydance Productions', 67.88888888888889),
 ('Icon Productions', 67.75),
 ('Bluegrass Films', 67.5),
 ('Hollywood Gang Productions', 67.5),
 ('One Race Films', 67.5),
 ('KMP Film Invest', 67.5),
 ('RatPac-Dune Entertainment', 67.375),
 ('Spring Creek Productions', 67.33333333333333),
 ('Affirm Films', 67.33333333333333),
 ('Overbrook Entertainment', 67.3),
 ('Sony Pictures Entertainment (SPE)', 67.25),
 ('Nimar Studios', 67.25),
 ('Nickelodeon Movies', 67),
 ('TOKYOPOP', 67),
 ('Toho Company', 67),
 ('Mediastream Dritte Film', 67),
 ('Universal CGI', 67),
 ('Golden Mean', 67),
 ('Rickshaw Productions', 67),
 ('First Foot Films', 67),
 ('Dentsu Inc.', 67),
 ('IFP Westcoast Erste', 67),
 ('Shutt/Jones Productions', 67),
 ('QED International', 66.66666666666667),
 ('Mid Atlantic Films', 66.6),
 ('Wayans Bros. Entertainment', 66.5),
 ('Energy Entertainment', 66.5),
 ('Hypnotic', 66.33333333333333),
 ('Centropolis Entertainment', 66),
 ('Zanuck Company, The', 66),
 ('Baltimore Spring Creek Productions', 66),
 ('Kemp Company', 66),
 ('Hofflund/Polone', 66),
 ('Handprint Entertainment', 66),
 ('Berlanti Productions', 66),
 ('4M', 66),
 ('Studio Babelsberg Motion Pictures', 66),
 ('Burg/Koules Productions', 66),
 ('Iron Film', 66),
 ('Indelible Productions', 66),
 ('Ventanarosa Productions', 66),
 ('Gran Via Productions', 65.8),
 ('Millennium Films', 65.70588235294117),
 ('Bedford Falls Company, The', 65.66666666666667),
 ('Walt Disney', 65.6),
 ('Participant Productions', 65.5),
 ('Internationale Filmproduktion Blackbird Dritte', 65.33333333333333),
 ('Jerry Weintraub Productions', 65.25),
 ('Michael De Luca Productions', 65.16666666666667),
 ('FilmEngine', 65),
 ('40 Acres & A Mule Filmworks', 65),
 ('Zadan / Meron Productions', 65),
 ('Runteam Ltd.', 65),
 ('Tripod Entertainment', 65),
 ('Motion Picture THETA Produktionsgesellschaft', 65),
 ('R.P. Productions', 65),
 ('GK Films', 64.9090909090909),
 ('Amen Ra Films', 64.75),
 ('Buckaroo Entertainment', 64.66666666666667),
 ('Kurtzman/Orci', 64.5),
 ('Twins Financing', 64.5),
 ('Evolution Entertainment', 64.33333333333333),
 ('Newmarket Capital Group', 64.25),
 ('Broken Road Productions', 64.2),
 ('Red Hour Films', 64),
 ('VCL Communications', 64),
 ('Whamaphram Productions', 64),
 ('JLT Productions', 64),
 ('HorrorFlix', 64),
 ('Cruella Productions', 64),
 ('BrownHouse Productions', 64),
 ('Bottom of the Ninth Productions', 64),
 ('Top Rope', 64),
 ('Konami Corporation Ltd.', 64),
 ('Myriad Pictures', 64),
 ('Jeepers Creepers II', 64),
 ('Eketahuna LLC', 64),
 ('Cinerenta-Cinebeta', 64),
 ('Tyler Perry Company, The', 64),
 ('Escape Artists', 63.92307692307692),
 ('Cloud Eight Films', 63.666666666666664),
 ('Wonderland Sound and Vision', 63.6),
 ('International Traders', 63.5),
 ('Nu Image Films', 63.36363636363637),
 ('Starz Animation', 63.333333333333336),
 ('Don Carmody Productions', 63),
 ('Rogue Marble', 63),
 ('Kanbar Entertainment', 63),
 ('Nine Yards Two Productions', 63),
 ('The Shuman Company', 63),
 ('Marvel Entertainment, LLC', 63),
 ('Internationale Filmproduktion Richter', 63),
 ('20th Century Fox Home Entertainment', 63),
 ('Vision View Entertainment', 63),
 ('Milk & Honey', 63),
 ('Rifkin-Eberts', 63),
 ('Littlestar', 63),
 ('Bungalow Productions', 63),
 ('Catch 23 Entertainment', 63),
 ('Stephen J. Cannell Productions', 63),
 ('Clipsal Films', 63),
 ('Persistent Entertainment', 63),
 ('Midnight Sun Pictures', 63),
 ('The Cantillon Company', 63),
 ('Eclipse Catering', 63),
 ('Silver Lion Films', 63),
 ('UW3 Film Productions', 63),
 ('Blue Yonder Films', 63),
 ('Playtone', 62.75),
 ('Chris Lee Productions', 62.5),
 ('Stars Road Entertainment', 62.5),
 ('Pixar Animation Studios', 62.15384615384615),
 ('Treehouse Pictures', 62),
 ('Scope Pictures', 62),
 ('Evergreen Media Group', 62),
 ('Pandemonium Productions', 62),
 ('Wind Dancer Productions', 62),
 ('MMCB Film Produktion 2004', 62),
 ('Yellow Bird', 62),
 ('Visual Arts Entertainment', 62),
 ('Post No Bills Films', 62),
 ('Clinica Estetico', 61.666666666666664),
 ('Storyline Entertainment', 61.5),
 ('Blue Star Pictures', 61.5),
 ('Jinks/Cohen Company', 61.333333333333336),
 ('Current Entertainment', 61),
 ('Miramax', 61),
 ('Ludlum Entertainment', 61),
 ('Envision Entertainment', 61),
 ('Scanbox', 61),
 ('Ixtlan Productions', 61),
 ('Alberto Grimaldi Productions', 61),
 ('Global Entertainment Group', 61),
 ('360 Pictures', 61),
 ('Camp / Thompson Pictures', 61),
 ('Dee Gee Entertainment', 61),
 ('Mill Film', 61),
 ('Prufrock Pictures', 61),
 ('Polsky Films', 61),
 ('Sunset Gower Studios', 61),
 ('Earthship Productions', 61),
 ('Thunder Road Pictures', 60.75),
 ('Tribeca Productions', 60.666666666666664),
 ('Eon Productions', 60.666666666666664),
 ('Marc Platt Productions', 60.6),
 ('Wild West Picture Show Productions', 60.6),
 ('Revolution Sun Studios', 60.5),
 ('Herold Productions', 60.5),
 ('Boll Kino Beteiligungs GmbH & Co. KG', 60.5),
 ('Lin Pictures', 60.2),
 ('Walt Disney Animation Studios', 60.1),
 ('Focus Features', 60),
 ('Karz Entertainment', 60),
 ('Mikona Productions GmbH & Co. KG', 60),
 ('Film i VÃ¤st', 60),
 ('Clifford Werber Productions', 60),
 ('China Film Group Corporation (CFGC)', 60),
 ('Crystal Lake Entertainment', 60),
 ('Sean S. Cunningham Films', 60),
 ('Visiona Romantica', 60),
 ('KirchMedia', 60),
 ('Alan Greenspan Productions', 60),
 ('Pierce/Williams Entertainment', 60),
 ('True Grit Productions', 60),
 ('Initial Entertainment Group', 60),
 ('Bernard Gayle Productions', 60),
 ('Headline Pictures', 60),
 ('Starlite Films', 60),
 ('Crystal Sky Pictures', 60),
 ('Zehnte Babelsberg', 60),
 ('Sea Breeze Productions Inc.', 60),
 ('Zero Gravity Management', 60),
 ('Sweetpea Entertainment', 60),
 ('Screen Gems', 59.96774193548387),
 ('Signature Pictures', 59.666666666666664),
 ('Craven-Maddalena Films', 59.5),
 ('DreamWorks Animation', 59.46153846153846),
 ('FilmNation Entertainment', 59.4),
 ('Beacon Communications', 59.333333333333336),
 ('Dylan Sellers Productions', 59.333333333333336),
 ('Saturn Films', 59.30769230769231),
 ('Rogue Pictures', 59.22222222222222),
 ('Anarchos Productions', 59.2),
 ('Fortis Films', 59),
 ('Marvel Knights', 59),
 ('Biscayne Pictures', 59),
 ('DJ Films', 59),
 ('Vast Entertainment', 59),
 ('MFP Munich Film Partners', 59),
 ('Kumar Mobiliengesellschaft mbH & Co. Projekt Nr. 3 KG', 59),
 ('AZL Productions KG', 59),
 ('Primal Foe Productions', 59),
 ('Phase 1 Productions', 59),
 ('Alloy Entertainment', 59),
 ('Internationale Filmproduktion', 59),
 ('BenderSpink', 58.875),
 ('Stuber Productions', 58.714285714285715),
 ('This Is That Productions', 58.666666666666664),
 ('Disruption Entertainment', 58.666666666666664),
 ('Laura Ziskin Productions', 58.6),
 ('Rat Entertainment', 58.5),
 ('Andell Entertainment', 58.5),
 ('Hal Lieberman Company', 58.5),
 ('Australian Film Finance Corporation (AFFC)', 58.5),
 ('2929 Productions', 58.333333333333336),
 ('Radiant Productions', 58.333333333333336),
 ('Junction Entertainment', 58.333333333333336),
 ('Silver Pictures', 58.1764705882353),
 ('Lions Gate Films', 58.1578947368421),
 ('87Eleven', 58),
 ('David Brown Productions', 58),
 ('Jet Tone Production', 58),
 ('Achte Babelsberg Film', 58),
 ('Producers Circle', 58),
 ('Yuma', 58),
 ('KC Medien AG', 58),
 ('Black and Blu Entertainment', 58),
 ('Jessie Nelson Productions', 58),
 ('Block 2 Pictures', 58),
 ('Capella International', 58),
 ('Lou Yi Inc.', 58),
 ('Finestkind', 58),
 ('City Light Films', 58),
 ('Don Simpson/Jerry Bruckheimer Films', 58),
 ('Farah Films & Management', 58),
 ('Munich Film Partners & Company (MFP) MI2 Productions', 58),
 ('Vinyl Films', 57.8),
 ('TriStar Pictures', 57.64705882352941),
 ('Imagenation Abu Dhabi FZ', 57.583333333333336),
 ('Heyday Films', 57.583333333333336),
 ('DreamWorks SKG', 57.58064516129032),
 ('Columbia Pictures', 57.51282051282051),
 ('Cheyenne Enterprises', 57.5),
 ('Lion Rock Productions', 57.5),
 ('ApolloMedia Distribution', 57.5),
 ('Kaplan/Perrone Entertainment', 57.5),
 ('Revolution Studios', 57.46666666666667),
 ('Ghost House Pictures', 57.333333333333336),
 ('Voltage Pictures', 57.333333333333336),
 ('Impact Pictures', 57.22222222222222),
 ('Walt Disney Pictures', 57.15853658536585),
 ('De Line Pictures', 57.111111111111114),
 ('Alphaville Films', 57),
 ('One Race Productions', 57),
 ('British Film Institute (BFI)', 57),
 ('Monarch Pictures', 57),
 ('Prana Studios', 57),
 ('Bourne Again', 57),
 ('Cruise-Wagner Productions', 57),
 ('Charenton Productions', 57),
 ('Walrus & Associates', 57),
 ('Scared Productions', 57),
 ('SKA Films', 57),
 ('Fat Free', 57),
 ('Patalex Productions', 57),
 ('Anka Film', 57),
 ('Oops Doughnuts Productions', 57),
 ('Block / Hanson', 57),
 ('Daybreak Productions', 57),
 ('Image Entertainment', 57),
 ('Hollywood Partners', 57),
 ('Reel FX Creative Studios', 57),
 ('Motion Picture BETA Produktionsgesellschaft', 57),
 ('Frontier Pictures', 57),
 ('Furry Vengeance Productions', 57),
 ('Legendary Pictures', 56.8235294117647),
 ('Mutual Film Company', 56.8),
 ('Franchise Pictures', 56.69230769230769),
 ('Hasbro', 56.6),
 ('Happy Madison Productions', 56.52173913043478),
 ('John Wells Productions', 56.5),

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [21]:
answers['26'] == ''

RangeIndex(start=0, stop=1889, step=1)

In [66]:
votes = data['vote_average'].sort_values(ascending=False)

length = round(len(votes)*0.01)
votes_1percent = votes[0:length]

data_sorted = data.iloc[list(votes_1percent.index)]
data_sorted

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",[Morten Tyldum],The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]",2014-11-14,8.0,2014,219555708
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",2015-06-09,8.0,2015,678708609
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",2014-11-05,8.0,2014,456752480
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",2015-10-16,8.0,2015,29401758
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]",2003-12-01,7.9,2003,1024888979
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah...",[Wes Anderson],A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,"[Comedy, Drama]","[Fox Searchlight Pictures, Scott Rudin Product...",2014-02-26,7.9,2014,144600318
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",[Martin Scorsese],EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,"[Crime, Drama, Comedy]","[Paramount Pictures, Appian Way, EMJAG Product...",2013-12-25,7.9,2013,292000694
370,tt1375666,160000000,825500000,Inception,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",[Christopher Nolan],Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,"[Action, Thriller, Science Fiction, Mystery, A...","[Legendary Pictures, Warner Bros., Syncopy]",2010-07-14,7.9,2010,665500000
119,tt2015381,170000000,773312399,Guardians of the Galaxy,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",[James Gunn],All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,"[Action, Science Fiction, Adventure]","[Marvel Studios, Moving Picture Company (MPC),...",2014-07-30,7.9,2014,603312399
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",[Christopher Nolan],Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,"[Mystery, Thriller]","[Summit Entertainment, Newmarket Capital Group...",2000-10-11,7.9,2000,30723096
128,tt2267998,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",[David Fincher],You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,"[Mystery, Thriller, Drama]","[Twentieth Century Fox Film Corporation, Regen...",2014-10-01,7.9,2014,308330363
872,tt0253474,35000000,120072577,The Pianist,"[Adrien Brody, Thomas Kretschmann, Frank Finla...",[Roman Polanski],Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,"[Drama, War]","[Bac Films, Canal+Polska, Heritage Films, Stud...",2002-09-24,7.9,2002,85072577
1191,tt2024544,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",[Steve McQueen],The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,"[Drama, History]","[Plan B Entertainment, Regency Enterprises, Ri...",2013-10-18,7.9,2013,167000000
283,tt0485947,47000000,3547209,Mr. Nobody,"[Jared Leto, Diane Kruger, Linh Äan Pháº¡m, Sa...",[Jaco Van Dormael],"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,"[Science Fiction, Drama, Romance, Fantasy]","[Pan EuropÃ©enne Production, Virtual Films]",2009-09-11,7.8,2009,-43452791
1688,tt0469494,25000000,76181545,There Will Be Blood,"[Daniel Day-Lewis, Paul Dano, Dillon Freasier,...",[Paul Thomas Anderson],There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,[Drama],"[Miramax Films, Ghoulardi Film Company, Paramo...",2007-12-28,7.8,2007,51181545
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema, The Saul Zaen...",2002-12-18,7.8,2002,847287400
155,tt2980516,15000000,121201940,The Theory of Everything,"[Eddie Redmayne, Felicity Jones, Harry Lloyd, ...",[James Marsh],His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,"[Drama, Romance]",[Working Title Films],2014-11-26,7.8,2014,106201940
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,"[Jim Carrey, Kate Winslet, Elijah Wood, Mark R...",[Michel Gondry],I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,"[Science Fiction, Drama, Romance]","[Anonymous Content, This Is That Productions, ...",2004-03-19,7.8,2004,52258126

In [67]:
# set of options proposed:
titles1 = ['Inside Out', 'The Dark Knight', '12 Years a Slave']
titles2 = ['BloodRayne', 'The Adventures of Rocky & Bullwinkle']
titles3 = ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down']
titles4 = ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1']
titles5 = ['Upside Down', 'Inside Out', 'Iron Man']

In [68]:
titles_list = [titles1, titles2, titles3, titles4, titles5]

def find_set(titles_list):
    """
    Returns the number of list that fully matches with dataframe containing 1% best voted movies.
    """
    
    for i in range(len(titles_list)):
        temp_data = data_sorted[data_sorted['original_title'].isin(titles_list[i])]
        if len(temp_data) == len(titles_list[i]):
            return i+1


find_set(titles_list)

1

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)