In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [120]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
917,tt0279331,15000000,9237470,Dark Blue,Kurt Russell|Scott Speedman|Michael Michele|Br...,Ron Shelton,"1992, L.A is at boiling point. One cop's turni...","Set during the Rodney King riots, a robbery ho...",118,Action|Crime|Drama|Thriller,United Artists|Intermedia Films|IM Filmprodukt...,12/14/2002,6.7,2002
736,tt1499658,35000000,117000000,Horrible Bosses,Jennifer Aniston|Jason Bateman|Charlie Day|Jas...,Seth Gordon,Ever wish your boss was dead?,"For Nick (Jason Bateman), Kurt (Jason Sudeikis...",98,Comedy|Crime,New Line Cinema|Rat Entertainment,7/8/2011,6.4,2011
211,tt3322940,6500000,255273813,Annabelle,Annabelle Wallis|Alfre Woodard|Eric Ladin|Tony...,John R. Leonetti,"Before the Conjuring, there was Annabelle.",John Form has found the perfect gift for his e...,99,Horror,New Line Cinema|The Safran Company|Evergreen M...,10/2/2014,5.6,2014
708,tt0486674,25000000,6673422,What Just Happened,Bruce Willis|Robert De Niro|Sean Penn|Robin Wr...,Barry Levinson,Admit nothing.,During the course of an ordinary week in Holly...,104,Comedy|Drama,2929 Productions|Linson Entertainment|Art Lins...,10/17/2008,5.1,2008
884,tt0243585,120000000,169956806,Stuart Little 2,Michael J. Fox|Geena Davis|Hugh Laurie|Jonatha...,Rob Minkoff,A Little Goes A Long Way,"Stuart, an adorable white mouse, still lives h...",78,Family|Adventure|Animation|Comedy,Columbia Pictures|Sony Pictures Entertainment,7/19/2002,5.4,2002

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [14]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [121]:
# 1
data['release_date'] = pd.to_datetime(data['release_date']) # turning release date strings into a Series with dtype datetime64[ns]
data['release_date']

0      2015-06-09
1      2015-05-13
2      2015-03-18
3      2015-12-15
4      2015-04-01
          ...
1884   2000-07-13
1885   2000-10-27
1886   2000-06-30
1887   2000-02-16
1888   2000-07-19
Name: release_date, Length: 1889, dtype: datetime64[ns]

In [122]:
# 2
data['genres'] = data['genres'].apply(lambda x: x.split('|')) # splitting genres strings into lists
data['genres']

0       [Action, Adventure, Science Fiction, Thriller]
1       [Action, Adventure, Science Fiction, Thriller]
2               [Adventure, Science Fiction, Thriller]
3        [Action, Adventure, Science Fiction, Fantasy]
4                            [Action, Crime, Thriller]
                             ...
1884              [Adventure, Action, Science Fiction]
1885                         [Horror, Family, Foreign]
1886    [Adventure, Animation, Action, Comedy, Family]
1887                                   [Comedy, Drama]
1888                                        [Thriller]
Name: genres, Length: 1889, dtype: object

In [123]:
# 3
data['director'] = data['director'].apply(lambda x: x.split('|')) # splitting directors strings into lists
data['director']

0        [Colin Trevorrow]
1          [George Miller]
2       [Robert Schwentke]
3            [J.J. Abrams]
4              [James Wan]
               ...
1884        [Bryan Singer]
1885            [Uli Edel]
1886         [Des McAnuff]
1887        [Diane Keaton]
1888        [Mary Lambert]
Name: director, Length: 1889, dtype: object

In [124]:
# 4
data['cast'] = data['cast'].apply(lambda x: x.split('|')) # splitting actors strings into lists
data['cast']

0       [Chris Pratt, Bryce Dallas Howard, Irrfan Khan...
1       [Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...
2       [Shailene Woodley, Theo James, Kate Winslet, A...
3       [Harrison Ford, Mark Hamill, Carrie Fisher, Ad...
4       [Vin Diesel, Paul Walker, Jason Statham, Miche...
                              ...
1884    [Patrick Stewart, Hugh Jackman, Ian McKellen, ...
1885    [Richard E. Grant, Jonathan Lipnicki, Jim Cart...
1886    [Rene Russo, Jason Alexander, Piper Perabo, Ra...
1887    [Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...
1888    [Susan Ward, Lori Heuring, Matthew Settle, Nat...
Name: cast, Length: 1889, dtype: object

In [125]:
# 5
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|')) # splitting prod companies strings into lists
data['production_companies']

0       [Universal Studios, Amblin Entertainment, Lege...
1       [Village Roadshow Pictures, Kennedy Miller Pro...
2       [Summit Entertainment, Mandeville Films, Red W...
3           [Lucasfilm, Truenorth Productions, Bad Robot]
4       [Universal Pictures, Original Film, Media Righ...
                              ...
1884    [Twentieth Century Fox Film Corporation, Donne...
1885                                    [New Line Cinema]
1886    [Universal Pictures, Capella International, KC...
1887    [Laurence Mark Productions, Columbia Pictures ...
1888                              [Warner Bros. Pictures]
Name: production_companies, Length: 1889, dtype: object

In [ ]:
import re

# data['imdb_id'] = data['imdb_id'].apply(lambda x: re.search('\d+', x)[0]) # removing 'tt' from imdb_id's
data.head(10)

In [ ]:
# data['cast'] = data['cast'].apply(lambda x: x.split('|')) # splitting string into a list
data['cast'][0]

In [126]:
# 6
data['profit'] = data['revenue'] - data['budget'] # add the column with profit
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",[Colin Trevorrow],The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",[George Miller],What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,"[Action, Adventure, Science Fiction, Thriller]","[Village Roadshow Pictures, Kennedy Miller Pro...",2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,"[Shailene Woodley, Theo James, Kate Winslet, A...",[Robert Schwentke],One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,"[Adventure, Science Fiction, Thriller]","[Summit Entertainment, Mandeville Films, Red W...",2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",[J.J. Abrams],Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",[James Wan],Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]","[Universal Pictures, Original Film, Media Righ...",2015-04-01,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [15]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'tt1298650 Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [16]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [17]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'tt0279111 Gods and Generals'

In [18]:
data[data['runtime'] == data['runtime'].max()][['imdb_id', 'original_title', 'runtime']]

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
answers['3'] = 'tt1449283 Winnie the Pooh'

In [20]:
data[data['runtime'] == data['runtime'].min()][['imdb_id', 'original_title', 'runtime']]

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [21]:
answers['4'] = 110

In [22]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [23]:
answers['5'] = 107

In [24]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [25]:
answers['6'] = 'tt0499549 Avatar'

In [26]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title', 'profit']]

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [27]:
answers['7'] = 'tt1210819 The Lone Ranger'

In [28]:
data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title', 'profit']]

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [29]:
answers['8'] = 1478

In [30]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [31]:
answers['9'] = 'tt0468569 The Dark Knight'

* FIRST METHOD: Using the column 'release_date'. If 'release_date' stays string.

In [32]:
import time

%timeit released_2008 = data[data['release_date'].str.contains('2008')]
released_2008[released_2008['revenue'] == released_2008['revenue'].max()][['imdb_id', 'original_title', 'revenue']]

AttributeError: Can only use .str accessor with string values!

* SECOND METHOD: using the column 'release_date'. If 'release_date' is turned into datetime

In [34]:
%timeit released_2008 = data[(data['release_date'] >= '2008-01-01') & (data['release_date'] <= '2008-12-31')]
released_2008[released_2008['revenue'] == released_2008['revenue'].max()][['imdb_id', 'original_title', 'revenue']]

1.02 ms ± 7.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

The second method is much faster

* THIRD METHOD: Using the column 'release_year' (int64)

In [ ]:
%timeit released_2008 = data[data['release_year'] == 2008]
released_2008[released_2008['revenue'] == released_2008['revenue'].max()][['imdb_id', 'original_title', 'revenue']]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = 'tt1210819 The Lone Ranger'

* FIRST METHOD: Using the column 'release_date'. If 'release_date' is turned into datetime

In [ ]:
%timeit movies_2012_2014 = data[(data['release_date'] >= '2012-01-01') & (data['release_date'] <= '2014-12-31')]
movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()][['imdb_id', 'original_title', 'profit']]

* SECOND METHOD: Using the column 'release_year' (int64)

In [ ]:
%timeit movies_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()][['imdb_id', 'original_title', 'profit']]

Working with pandas datetimes is faster after all.

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [ ]:
answers['11'] = 'Drama'

* FIRST METHOD

In [ ]:
genres_counter = Counter() # genres Counter
for genre_list in data['genres']: # listing each list in Series
    for genre in genre_list: # listing each genre in list
        genres_counter[genre] += 1

genres_counter_ordered = {
    key: value for key, value in sorted(genres_counter.items(), key=lambda item: item[1], reverse=True)
    } # sorting dictionary by values - giving a dictionary
genres_counter_ordered

* Another method of sorting

In [ ]:
genres_counter_ordered_keys = sorted(genres_counter, key=genres_counter.get, reverse=True) # sorting dictionary by values - giving a list of keys
genres_counter_ordered_keys[0]

* SECOND METHOD - adviced in Slack

In [ ]:
genres = data['genres'].sum() # merging the lists
c = Counter()
for item in genres:
    c[item] += 1
sorted(c, key=c.get, reverse=True)[0] # decending sorting and getting the first item

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] = 'Drama'

In [ ]:
def genres_profit(row, counter):
    """
    Takes a row of a movies dataframe and an outer genres Counter, adds up 1 to the genre if the movie is profitable.
    """
    
    for genre in row['genres']:
        if row['profit'] > 0:
            counter[genre] += 1
    return True


genres_profit_counter = Counter()
data.apply(genres_profit, axis=1, counter=genres_profit_counter) # applying function to the dataframe

genres_profit_counter_ordered = {
    key: value for key, value in sorted(genres_profit_counter.items(), key=lambda item: item[1], reverse=True)
} # sorting dictionary by values - giving a dictionary

genres_profit_counter_ordered

In [ ]:
data[data['genres'].map(lambda x: 'Foreign' in x) == True] # why genre 'Foreign' is not in 'genres_profit_counter_ordered'
# using usual sorting of df in [] but also using map cause each member of Series contains a list

=> see that their profit is < 0

Ответ получен (драма), ОДНАКО частота различных жанров различна - соответственно, ожидаемо, что прибыльность наиболее часто встречающихся жанров будет выше. Поэтому имеет смысл посчитать прибыльность относительно частоты "встречаемости" жанра.

In [ ]:
genres_profit_counter_ordered['Foreign'] = 0 # adding profitability of the genre 'Foreign' to 'genres_profit_counter_ordered' (to make lengths of both dicts equal)

In [ ]:
# create a dataframe of genres profitability
genres = pd.DataFrame({
    'frequency': [value for value in genres_counter_ordered.values()],
    'abs_profitability': [value for value in genres_profit_counter_ordered.values()]
})
genres['rel_profitability'] = round(genres['abs_profitability'] / genres['frequency'], 4)
genres.index = [key for key in genres_counter_ordered.keys()]
genres

In [ ]:
genres.describe()

In [ ]:
genres[genres['rel_profitability'] >= 0.8294] # checking the 4th quartile

Таким образом, из всех выпущенных фильмов в жанрах семейные, фэнтэзи, хоррор, анимационные, документальные наибольшее процентное количество становится прибыльными.

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [68]:
answers['13'] = 'Peter Jackson'

In [82]:
dir_rev = pd.Series(data['director'].sum()) # merging lists of directors into Series
dir_rev = dir_rev.value_counts() # now index contains unique directors; we could also use Series.unique() for this -> numpy.ndarray of directors
for director in dir_rev.index:
    dir_rev[director] = data[data['director'].map(lambda x: director in x)]['revenue'].sum()
dir_rev.sort_values(ascending=False)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = 'Robert Rodriguez'

FIRST METHOD: Using collections.Counter

In [ ]:
action_dir_counter = Counter()

def action_dir_count(row, counter):
    """
    Counts directors of action movies in a dataframe row by row. Uses an external collections.Counter.
    """
    
    for director in row['director']:
        if 'Action' in row['genres']:
            counter[director] += 1
    
    return True


data.apply(action_dir_count, axis=1, counter=action_dir_counter)

# sort counter dictionary keys by descending values, take the first key
sorted(action_dir_counter, key=action_dir_counter.get, reverse=True)[0]

In [ ]:
# sorting action_dir_counter items by descending values
action_dir_counter_sorted = {
    key: value for key, value in sorted(action_dir_counter.items(), key=lambda item: item[1], reverse=True)
}
action_dir_counter_sorted

SECOND METHOD

In [36]:
data_action = data[data['genres'].map(lambda genres: 'Action' in genres)] # using usual sorting of df in [] but also using map cause each member of Series contains list

directors = data_action['director'].sum() # merging the Series of lists of directors

a) Using collections.Counter()

In [53]:
# counting using collections.Counter
dir_count = Counter()
for director in directors:
    dir_count[director] += 1

dir_count_sorted = {
    key: value for key, value in sorted(dir_count.items(), key=lambda item: item[1], reverse=True)
}
dir_count_sorted

{'Robert Rodriguez': 9,
 'Michael Bay': 7,
 'Paul W.S. Anderson': 7,
 'Antoine Fuqua': 6,
 'Ridley Scott': 6,
 'Brett Ratner': 5,
 'Quentin Tarantino': 5,
 'Zack Snyder': 5,
 'Roland Emmerich': 5,
 'Andrzej Bartkowiak': 5,
 'Louis Leterrier': 5,
 'Tony Scott': 5,
 'Paul Greengrass': 5,
 'Peter Jackson': 5,
 'Lee Tamahori': 5,
 'Gore Verbinski': 5,
 'Rob Cohen': 5,
 'Peter Berg': 5,
 'J.J. Abrams': 4,
 'Lana Wachowski': 4,
 'Lilly Wachowski': 4,
 'Olivier Megaton': 4,
 'Guy Ritchie': 4,
 'Bryan Singer': 4,
 'Tim Story': 4,
 'Renny Harlin': 4,
 'Mark Neveldine': 4,
 'Brian Taylor': 4,
 'Dominic Sena': 4,
 'Justin Lin': 4,
 'Christopher Nolan': 4,
 'Simon West': 4,
 'John Moore': 4,
 'Steven Spielberg': 4,
 'Martin Campbell': 4,
 'John Singleton': 4,
 'Len Wiseman': 4,
 'Brad Bird': 3,
 'Matthew Vaughn': 3,
 'Neill Blomkamp': 3,
 'Jaume Collet-Serra': 3,
 'Breck Eisner': 3,
 'Pierre Morel': 3,
 'David Ayer': 3,
 'Doug Liman': 3,
 'Clint Eastwood': 3,
 'Phil Lord': 3,
 'Christopher Miller': 3,
 'McG': 3,
 'Stephen Sommers': 3,
 'Shawn Levy': 3,
 'Jonathan Mostow': 3,
 'Jon Favreau': 3,
 'Jon Turteltaub': 3,
 'Joe Carnahan': 3,
 'M. Night Shyamalan': 3,
 'Harald Zwart': 3,
 'Marc Forster': 3,
 'D.J. Caruso': 3,
 'Edward Zwick': 3,
 'Sam Raimi': 3,
 'Barry Sonnenfeld': 3,
 'Guillermo del Toro': 3,
 'John Woo': 3,
 'Uwe Boll': 3,
 'David Twohy': 3,
 'James Wan': 2,
 'Alan Taylor': 2,
 'Sam Mendes': 2,
 'Joss Whedon': 2,
 'Peyton Reed': 2,
 'Brad Peyton': 2,
 'Wes Ball': 2,
 'Michael Mann': 2,
 'Paul Feig': 2,
 'Ron Howard': 2,
 'Camille Delamarre': 2,
 'Luc Besson': 2,
 'Jonathan Liebesman': 2,
 'Matt Reeves': 2,
 'Marc Webb': 2,
 'Evan Goldberg': 2,
 'Seth Rogen': 2,
 'Roger Donaldson': 2,
 'J.C. Chandor': 2,
 'Kenneth Branagh': 2,
 'Scott Waugh': 2,
 'Alex Proyas': 2,
 'James McTeigue': 2,
 'NimrÃ³d Antal': 2,
 'Gavin Hood': 2,
 'Sylvester Stallone': 2,
 'Joseph Kosinski': 2,
 'Edgar Wright': 2,
 'Robert Schwentke': 2,
 'James Mangold': 2,
 'Neil Marshall': 2,
 'Kevin Munroe': 2,
 'Peter Howitt': 2,
 'Frank Oz': 2,
 'Joe Johnston': 2,
 'Peter Hyams': 2,
 'Timur Bekmambetov': 2,
 'David Gordon Green': 2,
 'Pete Travis': 2,
 'Frank Miller': 2,
 'Jason Friedberg': 2,
 'Aaron Seltzer': 2,
 'Rob Marshall': 2,
 'Andrew Niccol': 2,
 'Marcus Nispel': 2,
 'Ruben Fleischer': 2,
 'George Lucas': 2,
 'Andrew Davis': 2,
 'Walter Hill': 2,
 'Rob Bowman': 2,
 'Ang Lee': 2,
 'Baltasar KormÃ¡kur': 2,
 'Mark Steven Johnson': 2,
 'F. Gary Gray': 2,
 'David Dobkin': 2,
 'Clark Johnson': 2,
 'Richard Donner': 2,
 'William Friedkin': 2,
 'Francis Lawrence': 2,
 'Courtney Solomon': 2,
 'David R. Ellis': 2,
 'David S. Goyer': 2,
 'Colin Trevorrow': 1,
 'George Miller': 1,
 'Chris Columbus': 1,
 'Christopher McQuarrie': 1,
 'Ilya Naishuller': 1,
 'Ericson Core': 1,
 'Denis Villeneuve': 1,
 'Josh Trank': 1,
 'Aleksander Bach': 1,
 'Andy Fickman': 1,
 'John Erick Dowdle': 1,
 'Anne Fletcher': 1,
 'James Gunn': 1,
 'Joe Russo': 1,
 'Anthony Russo': 1,
 'Chad Stahelski': 1,
 'David Leitch': 1,
 'Don Hall': 1,
 'Chris Williams': 1,
 'Neil Burger': 1,
 'Gareth Edwards': 1,
 'Robert Stromberg': 1,
 'Dean DeBlois': 1,
 'Patrick Hughes': 1,
 'Gary Shore': 1,
 'Noam Murro': 1,
 'Vic Armstrong': 1,
 'JosÃ© Padilha': 1,
 'George Clooney': 1,
 'Brian A Miller': 1,
 'Steven Quale': 1,
 'Adam Wingard': 1,
 'James Cameron': 1,
 'Patrick Tatopoulos': 1,
 'Shane Acker': 1,
 'Steve Carr': 1,
 'Christian Alvart': 1,
 'Hoyt Yeatman': 1,
 'Kevin Macdonald': 1,
 'Michael Spierig': 1,
 'Peter Spierig': 1,
 'Paul McGuigan': 1,
 'Troy Duffy': 1,
 'Paul Weitz': 1,
 'David Bowers': 1,
 'Daniel Barber': 1,
 'Michael J. Bassett': 1,
 'Pierre Coffin': 1,
 'Chris Renaud': 1,
 'Phillip Noyce': 1,
 'Florian Henckel von Donnersmarck': 1,
 'Mike Newell': 1,
 'Ethan Maniquis': 1,
 'Albert Hughes': 1,
 'Allen Hughes': 1,
 'Tom McGrath': 1,
 'Adam McKay': 1,
 'Miguel Sapochnik': 1,
 'Andy Tennant': 1,
 'Jonathan Lynn': 1,
 'Jimmy Hayward': 1,
 'Robert Luketic': 1,
 'John Luessenhop': 1,
 'Kevin Smith': 1,
 'Jorma Taccone': 1,
 'Brian Levant': 1,
 'Stuart Beattie': 1,
 'Tim Burton': 1,
 'Brian Helgeland': 1,
 'John A. Davis': 1,
 'Chris Nahon': 1,
 'Hironobu Sakaguchi': 1,
 'Motonori Sakakibara': 1,
 'Rod Lurie': 1,
 'John Herzfeld': 1,
 'Ivan Reitman': 1,
 'Demian Lichtenstein': 1,
 'John Carpenter': 1,
 'Bobby Farrelly': 1,
 'Peter Farrelly': 1,
 'Barry Levinson': 1,
 'Luke Greenfield': 1,
 'Les Mayfield': 1,
 'Henry Selick': 1,
 'Rob Pritts': 1,
 'Ernest R. Dickerson': 1,
 'DJ Pooh': 1,
 'Eric Brevig': 1,
 'Ben Stiller': 1,
 'Jeff Wadlow': 1,
 'Lexi Alexander': 1,
 'Peter Segal': 1,
 'Mathieu Kassovitz': 1,
 'Rob Minkoff': 1,
 'Jon Avnet': 1,
 'Dennis Dugan': 1,
 'Howard McCain': 1,
 'Oxide Pang Chun': 1,
 'Danny Pang': 1,
 'Craig Mazin': 1,
 'Simon Hunter': 1,
 'Nicolas Winding Refn': 1,
 'Rupert Wyatt': 1,
 'Patrick Lussier': 1,
 'Gary McKendry': 1,
 'Scott Stewart': 1,
 'Tarsem Singh': 1,
 'Chris Gorak': 1,
 'Chris Miller': 1,
 'Michel Gondry': 1,
 'Oliver Parker': 1,
 'Joe Cornish': 1,
 'Joe Wright': 1,
 'John Michael McDonagh': 1,
 'Alister Grierson': 1,
 'Sean McNamara': 1,
 'John Whitesell': 1,
 'Benny Chan': 1,
 'Corey Yuen Kwai': 1,
 'Stuart Baird': 1,
 'Kurt Wimmer': 1,
 'Jay Roach': 1,
 'Jim Gillespie': 1,
 'Chuck Russell': 1,
 'Betty Thomas': 1,
 'Randall Wallace': 1,
 'Ron Shelton': 1,
 'Simon Wells': 1,
 'Roger Michell': 1,
 'Michael Apted': 1,
 'Tom Dey': 1,
 'Joel Schumacher': 1,
 'Luis Mandoki': 1,
 'Tamra Davis': 1,
 'Ron Underwood': 1,
 'Kevin Bray': 1,
 'Malcolm D. Lee': 1,
 'MÃ¥ns MÃ¥rlind': 1,
 'BjÃ¶rn Stein': 1,
 'Tony Gilroy': 1,
 'Mark Andrews': 1,
 'Steve Purcell': 1,
 'Brenda Chapman': 1,
 'Boaz Yakin': 1,
 'Andrew Stanton': 1,
 'Rian Johnson': 1,
 'Mike McCoy': 1,
 'Stephen St. Leger': 1,
 'James Mather': 1,
 'Daniel Espinosa': 1,
 'Asger Leth': 1,
 'Mabrouk El Mechri': 1,
 'Dan Bradley': 1,
 'Julie Anne Robinson': 1,
 'Anthony Hemingway': 1,
 'David Koepp': 1,
 'David Barrett': 1,
 'Stephen Norrington': 1,
 'Jan de Bont': 1,
 'Jon Amiel': 1,
 'John McTiernan': 1,
 'Shane Black': 1,
 'Tommy Wirkola': 1,
 'Carl Rinsch': 1,
 'Gary Fleder': 1,
 'Mikael HÃ¥fstrÃ¶m': 1,
 'Taylor Hackford': 1,
 'Steven Knight': 1,
 'Spike Lee': 1,
 'Dito Montiel': 1,
 'Keanu Reeves': 1,
 'Fyodor Bondarchuk': 1,
 'Karyn Kusama': 1,
 'Adam Shankman': 1,
 'John Stockwell': 1,
 'Sydney Pollack': 1,
 'Terry Gilliam': 1,
 'Jay Chandrasekhar': 1,
 'Richard Shepard': 1,
 'John Dahl': 1,
 'Bruce Hunt': 1,
 'Alfonso CuarÃ³n': 1,
 'Stefen Fangmeier': 1,
 'Mel Gibson': 1,
 'Bruce Beresford': 1,
 'Wolfgang Petersen': 1,
 'Jeff Tremaine': 1,
 'John Bonito': 1,
 'Geoffrey Sax': 1,
 'Tony Bill': 1,
 'Wayne Kramer': 1,
 'Sanjay Gadhvi': 1,
 'Phil Joanou': 1,
 'Alexander Witt': 1,
 'Bibo Bergeron': 1,
 'Vicky Jenson': 1,
 'Rob Letterman': 1,
 'Kerry Conran': 1,
 'Oliver Stone': 1,
 'Jonathan Hensleigh': 1,
 'Pitof': 1,
 'Philip Kaufman': 1,
 'Trey Parker': 1,
 'Steven Brill': 1,
 'Frank Coraci': 1,
 'Paul Abascal': 1,
 'Joseph Kahn': 1,
 'David Mamet': 1,
 'Jay Russell': 1,
 'Robert Redford': 1,
 'Philip G. Atwell': 1,
 'Michael Davis': 1,
 'Xavier Gens': 1,
 'Eli Roth': 1,
 'Rob Zombie': 1,
 'Jason Eisener': 1,
 'Dave Meyers': 1,
 'Russell Mulcahy': 1,
 'Andrew Dominik': 1,
 'Doug Lefler': 1,
 'David Leland': 1,
 'Feng Xiaogang': 1,
 'Ben Garant': 1,
 'Joel Coen': 1,
 'Donald Petrie': 1,
 'Paul Verhoeven': 1,
 'Roger Spottiswoode': 1,
 'Antony Hoffman': 1,
 'Stephen T. Kay': 1,
 'Don Bluth': 1,
 'Gary Goldman': 1,
 'Christian Duguay': 1,
 'Douglas Aarniokoski': 1,
 'Gina Prince-Bythewood': 1,
 'Brian Robbins': 1,
 'Des McAnuff': 1}

b) Using Series.value_counts()

In [39]:
# counting using pd.Series.value_counts()
directors = pd.Series(directors)
directors.value_counts(ascending=False)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Robert Stromberg      1
Roger Michell         1
Jay Russell           1
Brian Levant          1
Tamra Davis           1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = ''

In [45]:
data_2012 = data.query('release_year == 2012')

* FIRST METHOD - Using collections.Counter()

In [ ]:
actor_revenue_count = Counter()

def actor_revenue(row):
    """
    Sums up each actor revenues from a dataframe using external collections.Counter dictionary.
    """
    
    for actor in row['cast']:
        actor_revenue_count[actor] += row['revenue']
    
    return True


data_2012.apply(actor_revenue, axis=1)
actor_revenue_count = sorted(actor_revenue_count.items(), key=lambda item: item[1], reverse=True) # sorting dictionary into list of tuples
actor_revenue_count

* SECOND METHOD - Using pd.Series.value_counts() - adviced in Slack

In [67]:
cast = pd.Series(data_2012['cast'].sum())
cast = cast.value_counts(ascending=False)
for actor in cast.index:
    cast[actor] = data_2012[data_2012['cast'].map(lambda x: True if actor in x else False)]['revenue'].sum() # sorting the rows containing every certain actor out of the dataframe, summing up revenues
cast.sort_values(ascending=False)

Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Chris Evans        1519557910
Mark Ruffalo       1519557910
                      ...
Hope Davis            3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557
Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [85]:
answers['16'] = 'Matt Damon'

In [84]:
high_budget_data = data[data['budget'] > data['budget'].mean()]
pd.Series(high_budget_data['cast'].sum()).value_counts(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Eddie Deezen          1
Janeane Garofalo      1
Kim Coates            1
Aziz Ansari           1
Heather Locklear      1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [90]:
answers['17'] = 'Action'

In [89]:
NCage_data = data[data['cast'].map(lambda x: 'Nicolas Cage' in x)]
pd.Series(NCage_data['genres'].sum()).value_counts(ascending=False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Horror              1
Romance             1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [98]:
answers['18'] = 'tt0267626 K-19: The Widowmaker'

In [97]:
ParPic_data = data[data['production_companies'].map(lambda x: 'Paramount Pictures' in x)]
ParPic_data[ParPic_data['profit'] == ParPic_data['profit'].min()][['imdb_id', 'original_title', 'profit']]

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [131]:
answers['19'] = '2015'

In [130]:
year_revenue = data['release_year'].value_counts().sort_index()
for year in year_revenue.index:
    year_revenue[year] = data[data['release_year'] == year]['revenue'].sum()
year_revenue.sort_values(ascending=False)

2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: release_year, dtype: int64

In [108]:
# написать решение с помощью Counter()
year_revenue = Counter()
for year in data['release_year'].values:
    year_revenue[year] = data[data['release_year'] == year]['revenue'].sum()
year_revenue

Counter({2015: 25449202382,
         2014: 23405862953,
         2009: 20261791024,
         2010: 21071204961,
         2001: 13017764865,
         2008: 18252781990,
         2011: 22676791872,
         2002: 14136361487,
         2012: 23079001687,
         2003: 14346123312,
         2013: 23213799791,
         2005: 15309425558,
         2006: 14775042320,
         2004: 15663430720,
         2007: 18162406801,
         2000: 10664099805})

# 20. Какой самый прибыльный год для студии Warner Bros?

In [143]:
answers['20'] = '2007'

In [142]:
WB_data = data[data['production_companies'].map(lambda x: 'Warner Bros.' in x)]
WB_year_revenue = WB_data['release_year'].value_counts().sort_index() # collecting all release years into index of Series
for year in WB_year_revenue.index:
    WB_year_revenue[year] = WB_data[WB_data['release_year'] == year]['revenue'].sum()
WB_year_revenue.sort_values(ascending=False)

2007    3114367993
2008    3050595031
2011    2845393682
2010    2807128844
2014    2773903827
2003    2745493377
2004    2725125175
2009    2708981628
2013    2599953400
2005    2412980298
2001    2206174853
2012    1869520056
2015    1691168351
2002    1587248589
2006    1465989614
2000    1015205068
Name: release_year, dtype: int64

In [144]:
pd.Series(data['production_companies'].sum()).value_counts() # проверяем название компании в датасете, тк по 'Warner Bros' найти нечего не удалось

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Allison Shearmur Productions                1
OddLot Entertainment                        1
SNL Studios                                 1
Red Lion Sarl                               1
Wild Ocean Films                            1
Length: 1771, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)