In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
913,tt0264935,50000000,56714147,Murder by Numbers,Sandra Bullock|Ben Chaplin|Ryan Gosling|Michae...,Barbet Schroeder,The only flaw in their plan was her.,Tenacious homicide detective Cassie Mayweather...,120,Crime|Drama|Thriller,Castle Rock Entertainment|Warner Bros. Picture...,4/19/2002,6.1,2002
700,tt0871426,30000000,63833449,Baby Mama,Tina Fey|Amy Poehler|Dax Shepard|Sigourney Wea...,Michael McCullers,Would you put your eggs...in this basket?,"A successful, single businesswoman who dreams ...",99,Comedy,Relativity Media|Michaels-Goldwyn,4/23/2008,5.8,2008
1367,tt0355295,88000000,105316267,The Brothers Grimm,Heath Ledger|Matt Damon|Mackenzie Crook|Roger ...,Terry Gilliam,Eliminating Evil Since 1812.,"Folklore collectors and con artists, Jake and ...",118,Adventure|Fantasy|Action|Comedy|Thriller,The Weinstein Company|Summit Entertainment|Atl...,8/25/2005,5.4,2005
461,tt0808510,48000000,112462508,Tooth Fairy,Dwayne Johnson|Stephen Merchant|Ashley Judd|Ju...,Michael Lembeck,You can't handle the tooth.,When minor-league hockey player Derek Thompson...,101,Comedy|Family|Fantasy,Dune Entertainment|Dune Entertainment III|Twen...,1/14/2010,5.2,2010
784,tt0479997,40000000,88100000,Season of the Witch,Nicolas Cage|Ron Perlman|Ulrich Thomsen|Christ...,Dominic Sena,Not all souls can be saved.,A 14th century Crusader (Cage) returns with hi...,95,Adventure|Fantasy|Action,Atlas Entertainment|Relativity Media,1/7/2011,5.2,2011

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [2]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [8]:
# 1
data['release_date'] = pd.to_datetime(data['release_date']) # turning release date strings into a Series with dtype datetime64[ns]
data['release_date']

0      2015-06-09
1      2015-05-13
2      2015-03-18
3      2015-12-15
4      2015-04-01
          ...
1884   2000-07-13
1885   2000-10-27
1886   2000-06-30
1887   2000-02-16
1888   2000-07-19
Name: release_date, Length: 1889, dtype: datetime64[ns]

In [9]:
# 2
data['genres'] = data['genres'].apply(lambda x: x.split('|')) # splitting genres strings into lists
data['genres']

0       [Action, Adventure, Science Fiction, Thriller]
1       [Action, Adventure, Science Fiction, Thriller]
2               [Adventure, Science Fiction, Thriller]
3        [Action, Adventure, Science Fiction, Fantasy]
4                            [Action, Crime, Thriller]
                             ...
1884              [Adventure, Action, Science Fiction]
1885                         [Horror, Family, Foreign]
1886    [Adventure, Animation, Action, Comedy, Family]
1887                                   [Comedy, Drama]
1888                                        [Thriller]
Name: genres, Length: 1889, dtype: object

In [10]:
# 3
data['director'] = data['director'].apply(lambda x: x.split('|')) # splitting directors strings into lists
data['director']

0        [Colin Trevorrow]
1          [George Miller]
2       [Robert Schwentke]
3            [J.J. Abrams]
4              [James Wan]
               ...
1884        [Bryan Singer]
1885            [Uli Edel]
1886         [Des McAnuff]
1887        [Diane Keaton]
1888        [Mary Lambert]
Name: director, Length: 1889, dtype: object

In [11]:
# 4
data['cast'] = data['cast'].apply(lambda x: x.split('|')) # splitting actors strings into lists
data['cast']

0       [Chris Pratt, Bryce Dallas Howard, Irrfan Khan...
1       [Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...
2       [Shailene Woodley, Theo James, Kate Winslet, A...
3       [Harrison Ford, Mark Hamill, Carrie Fisher, Ad...
4       [Vin Diesel, Paul Walker, Jason Statham, Miche...
                              ...
1884    [Patrick Stewart, Hugh Jackman, Ian McKellen, ...
1885    [Richard E. Grant, Jonathan Lipnicki, Jim Cart...
1886    [Rene Russo, Jason Alexander, Piper Perabo, Ra...
1887    [Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...
1888    [Susan Ward, Lori Heuring, Matthew Settle, Nat...
Name: cast, Length: 1889, dtype: object

In [12]:
# 5
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|')) # splitting prod companies strings into lists
data['production_companies']

0       [Universal Studios, Amblin Entertainment, Lege...
1       [Village Roadshow Pictures, Kennedy Miller Pro...
2       [Summit Entertainment, Mandeville Films, Red W...
3           [Lucasfilm, Truenorth Productions, Bad Robot]
4       [Universal Pictures, Original Film, Media Righ...
                              ...
1884    [Twentieth Century Fox Film Corporation, Donne...
1885                                    [New Line Cinema]
1886    [Universal Pictures, Capella International, KC...
1887    [Laurence Mark Productions, Columbia Pictures ...
1888                              [Warner Bros. Pictures]
Name: production_companies, Length: 1889, dtype: object

In [13]:
# 6
data['profit'] = data['revenue'] - data['budget'] # add the column with profit
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",[Colin Trevorrow],The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",[George Miller],What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,"[Action, Adventure, Science Fiction, Thriller]","[Village Roadshow Pictures, Kennedy Miller Pro...",2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,"[Shailene Woodley, Theo James, Kate Winslet, A...",[Robert Schwentke],One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,"[Adventure, Science Fiction, Thriller]","[Summit Entertainment, Mandeville Films, Red W...",2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",[J.J. Abrams],Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",[James Wan],Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]","[Universal Pictures, Original Film, Media Righ...",2015-04-01,7.3,2015,1316249360

In [1]:
# User functions:

# to question 12
def genres_profit(row, counter):
    """
    Takes a row of a movies dataframe and an outer genres Counter, adds up 1 to each genre if a movie is profitable.
    """
    
    for genre in row['genres']:
        if row['profit'] > 0:
            counter[genre] += 1
    
    return True


# to question 14
def action_dir_count(row, counter):
    """
    Counts directors of action movies in a dataframe row by row. Uses an external collections.Counter.
    """
    
    for director in row['director']:
        if 'Action' in row['genres']:
            counter[director] += 1
    
    return True


# to question 15
def actor_revenue(row):
    """
    Sums up each actor revenues from a dataframe to an external collections.Counter.
    """
    
    for actor in row['cast']:
        actor_revenue_count[actor] += row['revenue']
    
    return True


# to question 11 (second method)
def genres_count(item):
    """
    Counts up genres into an external collections.Counter().
    """
    
    for genre in item: # listing each genre in list
        genres_counter[genre] += 1
    
    return True


# to question 26
def find_set(titles_list):
    """
    Returns the number of titles list that fully matches with dataframe containing 1% best voted movies.
    """
    
    for i in range(len(titles_list)):
        temp_data = data_best_vote[data_best_vote['original_title'].isin(titles_list[i])]
        
        if len(temp_data) == len(titles_list[i]):
            return i+1

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [3]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'tt1298650 Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [15]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [4]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'tt0279111 Gods and Generals'

In [17]:
data[data['runtime'] == data['runtime'].max()][['imdb_id', 'original_title', 'runtime']]

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [5]:
answers['3'] = 'tt1449283 Winnie the Pooh'

In [19]:
data[data['runtime'] == data['runtime'].min()][['imdb_id', 'original_title', 'runtime']]

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [6]:
answers['4'] = 110

In [21]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [7]:
answers['5'] = 107

In [23]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [8]:
answers['6'] = 'tt0499549 Avatar'

In [25]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title', 'profit']]

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [9]:
answers['7'] = 'tt1210819 The Lone Ranger'

In [27]:
data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title', 'profit']]

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [10]:
answers['8'] = 1478

In [31]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [11]:
answers['9'] = 'tt0468569 The Dark Knight'

* FIRST METHOD: Using the column 'release_date'. If 'release_date' stays string.

In [7]:
import time

%timeit released_2008 = data[data['release_date'].str.contains('2008')]
released_2008[released_2008['revenue'] == released_2008['revenue'].max()][['imdb_id', 'original_title', 'revenue']]

1.5 ms ± 363 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

* SECOND METHOD: using the column 'release_date'. If 'release_date' is turned into datetime

In [34]:
%timeit released_2008 = data[(data['release_date'] >= '2008-01-01') & (data['release_date'] <= '2008-12-31')]
released_2008[released_2008['revenue'] == released_2008['revenue'].max()][['imdb_id', 'original_title', 'revenue']]

1.01 ms ± 26.2 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

The second method is much faster

* THIRD METHOD: Using the column 'release_year' (int64)

In [35]:
%timeit released_2008 = data[data['release_year'] == 2008]
released_2008[released_2008['revenue'] == released_2008['revenue'].max()][['imdb_id', 'original_title', 'revenue']]

707 µs ± 6.25 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

The third one is the fastest.

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [12]:
answers['10'] = 'tt1210819 The Lone Ranger'

* FIRST METHOD: Using the column 'release_date'. If 'release_date' is turned into datetime

In [38]:
%timeit movies_2012_2014 = data[(data['release_date'] >= '2012-01-01') & (data['release_date'] <= '2014-12-31')]
movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()][['imdb_id', 'original_title', 'profit']]

1.08 ms ± 22.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

* SECOND METHOD: Using the column 'release_year' (int64)

In [39]:
%timeit movies_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()][['imdb_id', 'original_title', 'profit']]

608 µs ± 10.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

* THIRD METHOD - Using pandas.Series.isin() instead of math operators

In [120]:
%timeit movies_2012_2014 = data[data['release_year'].isin(range(2012, 2015))]
movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()][['imdb_id', 'original_title', 'profit']]

936 µs ± 31.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

Again, working with numerical objects is faster than parcing string dates to datetime objects, therefore using 'release_year' column (method 2) is better in this case.

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [13]:
answers['11'] = 'Drama'

* FIRST METHOD - Raw, without a function (ineffective)

In [43]:
genres_counter = Counter() # genres Counter

for genre_list in data['genres']: # listing each list in Series
    for genre in genre_list: # listing each genre in list
        genres_counter[genre] += 1

genres_counter_ordered = {
    key: value for key, value in sorted(genres_counter.items(), key=lambda item: item[1], reverse=True)
    } # sorting dictionary by values - returning a dictionary
genres_counter_ordered

{'Drama': 782,
 'Comedy': 683,
 'Thriller': 596,
 'Action': 582,
 'Adventure': 415,
 'Crime': 315,
 'Romance': 308,
 'Family': 260,
 'Science Fiction': 248,
 'Fantasy': 222,
 'Horror': 176,
 'Mystery': 168,
 'Animation': 139,
 'Music': 64,
 'History': 62,
 'War': 58,
 'Western': 19,
 'Documentary': 8,
 'Foreign': 2}

* Another method of sorting

In [46]:
genres_counter_ordered_keys = sorted(genres_counter, key=genres_counter.get, reverse=True) # sorting dictionary by values - returning a list of keys
genres_counter_ordered_keys[0]

'Drama'

* SECOND METHOD - Using a user function

In [124]:
genres_counter = Counter() # external genres Counter

data['genres'].apply(genres_count)

genres_counter_ordered_keys = sorted(genres_counter, key=genres_counter.get, reverse=True) # sorting dictionary by values - returning a list of keys
genres_counter_ordered_keys[0]

'Drama'

* THIRD METHOD - adviced in Slack

In [48]:
genres = data['genres'].sum() # merging the lists into one
c = Counter()

for item in genres:
    c[item] += 1

sorted(c, key=c.get, reverse=True)[0] # decending sorting and getting the first item (dict to list)

'Drama'

* Another method of sorting

In [51]:
c_sorted = {key: value for key, value in sorted(c.items(), key=lambda item: item[1], reverse=True)} # sorting dict to dict by descending values
c_sorted

{'Drama': 782,
 'Comedy': 683,
 'Thriller': 596,
 'Action': 582,
 'Adventure': 415,
 'Crime': 315,
 'Romance': 308,
 'Family': 260,
 'Science Fiction': 248,
 'Fantasy': 222,
 'Horror': 176,
 'Mystery': 168,
 'Animation': 139,
 'Music': 64,
 'History': 62,
 'War': 58,
 'Western': 19,
 'Documentary': 8,
 'Foreign': 2}

* FORTH METHOD - Using pandas.Series (most effective)

In [126]:
pd.Series(data['genres'].sum()).value_counts(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [14]:
answers['12'] = 'Drama'

* FIRST METHOD - Using collections.Counter()

In [54]:
genres_profit_counter = Counter()

data.apply(genres_profit, axis=1, counter=genres_profit_counter) # applying function to the dataframe

genres_profit_counter_ordered = {
    key: value for key, value in sorted(genres_profit_counter.items(), key=lambda item: item[1], reverse=True)
} # sorting dict to dict by descending values

genres_profit_counter_ordered

{'Drama': 560,
 'Comedy': 551,
 'Thriller': 446,
 'Action': 444,
 'Adventure': 337,
 'Romance': 242,
 'Crime': 231,
 'Family': 226,
 'Science Fiction': 195,
 'Fantasy': 188,
 'Horror': 150,
 'Animation': 120,
 'Mystery': 119,
 'Music': 47,
 'History': 46,
 'War': 41,
 'Western': 12,
 'Documentary': 7}

In [56]:
data[data['genres'].map(lambda x: 'Foreign' in x) == True] # why genre 'Foreign' is not in 'genres_profit_counter_ordered'
# using usual sorting of df in [] but also using map cause each member of Series contains a list

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
494,tt1396208,10000000,5000000,Action Replayy,"[Akshay Kumar, Aishwarya Rai Bachchan, Neha Dh...",[Vipul Amrutlal Shah],Romance 1970s style,A young man tries to revive his parents' wilti...,100,"[Drama, Comedy, Romance, Foreign]","[PVR Cinemas, Hari Om Entertainment Co., Block...",2010-11-05,4.9,2010,-5000000
1885,tt0192255,22000000,13555988,The Little Vampire,"[Richard E. Grant, Jonathan Lipnicki, Jim Cart...",[Uli Edel],"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,"[Horror, Family, Foreign]",[New Line Cinema],2000-10-27,6.4,2000,-8444012

=> see that their profit is < 0

Ответ получен (драма), ОДНАКО количество фильмов в различных жанрах различно - соответственно, ожидаемо, что прибыльность наиболее часто встречающихся жанров будет выше. Поэтому имеет смысл посчитать прибыльность относительно частоты появления фильмов в каждом из жанров.

In [57]:
genres_profit_counter_ordered['Foreign'] = 0 # adding profitability of the genre 'Foreign' to 'genres_profit_counter_ordered' (to make lengths of both dicts equal)

In [58]:
# creating the dataframe of genres profitability
genres = pd.DataFrame({
    'movies_number': [value for value in genres_counter_ordered.values()], # dict from question 11
    'abs_profitability': [value for value in genres_profit_counter_ordered.values()]
})
genres['rel_profitability'] = round(genres['abs_profitability'] / genres['movies_number'], 4)
genres.index = [key for key in genres_counter_ordered.keys()]
genres

                 movies_number  abs_profitability  rel_profitability
Drama                      782                560             0.7161
Comedy                     683                551             0.8067
Thriller                   596                446             0.7483
Action                     582                444             0.7629
Adventure                  415                337             0.8120
Crime                      315                242             0.7683
Romance                    308                231             0.7500
Family                     260                226             0.8692
Science Fiction            248                195             0.7863
Fantasy                    222                188             0.8468
Horror                     176                150             0.8523
Mystery                    168                120             0.7143
Animation                  139                119             0.8561
Music                       64                 47             0.7344
History                     62                 46             0.7419
War                         58                 41             0.7069
Western                     19                 12             0.6316
Documentary                  8                  7             0.8750
Foreign                      2                  0             0.0000

In [59]:
genres.describe()

       movies_number  abs_profitability  rel_profitability
count      19.000000          19.000000          19.000000
mean      268.789474         208.526316           0.735742
std       239.699019         181.700415           0.189598
min         2.000000           0.000000           0.000000
25%        63.000000          46.500000           0.725250
50%       222.000000         188.000000           0.762900
75%       365.000000         289.500000           0.829400
max       782.000000         560.000000           0.875000

In [60]:
genres[genres['rel_profitability'] >= 0.8294] # checking the 4th quartile

             movies_number  abs_profitability  rel_profitability
Family                 260                226             0.8692
Fantasy                222                188             0.8468
Horror                 176                150             0.8523
Animation              139                119             0.8561
Documentary              8                  7             0.8750

Таким образом, из всех выпущенных фильмов в жанрах семейные, фэнтэзи, хоррор, анимационные, документальные наибольшее процентное количество становится прибыльными.

* SECOND METHOD - Using pandas.Series

In [66]:
profitable = data[data['profit'] > 0]
pd.Series(profitable['genres'].sum()).value_counts(ascending=False)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

Second method, working with Series, is much more effective, clear and short.

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [15]:
answers['13'] = 'Peter Jackson'

In [111]:
dir_rev = pd.Series(data['director'].sum()) # merging lists of directors into Series; dir_rev = 'director_revenue'
dir_rev = dir_rev.value_counts() # now index contains unique directors; we could also use Series.unique() -> numpy.ndarray of directors

for director in dir_rev.index:
    dir_rev[director] = data[data['director'].map(lambda x: director in x)]['revenue'].sum()

dir_rev.sort_values(ascending=False)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [16]:
answers['14'] = 'Robert Rodriguez'

FIRST METHOD: Using collections.Counter

In [73]:
action_dir_counter = Counter()

data.apply(action_dir_count, axis=1, counter=action_dir_counter)

# sorting dict to list of keys by descending values, taking the first key
sorted(action_dir_counter, key=action_dir_counter.get, reverse=True)[0]

'Robert Rodriguez'

In [74]:
# sorting dict to dict by descending values
action_dir_counter_sorted = {
    key: value for key, value in sorted(action_dir_counter.items(), key=lambda item: item[1], reverse=True)
}
action_dir_counter_sorted

{'Robert Rodriguez': 9,
 'Michael Bay': 7,
 'Paul W.S. Anderson': 7,
 'Antoine Fuqua': 6,
 'Ridley Scott': 6,
 'Brett Ratner': 5,
 'Quentin Tarantino': 5,
 'Zack Snyder': 5,
 'Roland Emmerich': 5,
 'Andrzej Bartkowiak': 5,
 'Louis Leterrier': 5,
 'Tony Scott': 5,
 'Paul Greengrass': 5,
 'Peter Jackson': 5,
 'Lee Tamahori': 5,
 'Gore Verbinski': 5,
 'Rob Cohen': 5,
 'Peter Berg': 5,
 'J.J. Abrams': 4,
 'Lana Wachowski': 4,
 'Lilly Wachowski': 4,
 'Olivier Megaton': 4,
 'Guy Ritchie': 4,
 'Bryan Singer': 4,
 'Tim Story': 4,
 'Renny Harlin': 4,
 'Mark Neveldine': 4,
 'Brian Taylor': 4,
 'Dominic Sena': 4,
 'Justin Lin': 4,
 'Christopher Nolan': 4,
 'Simon West': 4,
 'John Moore': 4,
 'Steven Spielberg': 4,
 'Martin Campbell': 4,
 'John Singleton': 4,
 'Len Wiseman': 4,
 'Brad Bird': 3,
 'Matthew Vaughn': 3,
 'Neill Blomkamp': 3,
 'Jaume Collet-Serra': 3,
 'Breck Eisner': 3,
 'Pierre Morel': 3,
 'David Ayer': 3,
 'Doug Liman': 3,
 'Clint Eastwood': 3,
 'Phil Lord': 3,
 'Christopher Miller': 3,
 'McG': 3,
 'Stephen Sommers': 3,
 'Shawn Levy': 3,
 'Jonathan Mostow': 3,
 'Jon Favreau': 3,
 'Jon Turteltaub': 3,
 'Joe Carnahan': 3,
 'M. Night Shyamalan': 3,
 'Harald Zwart': 3,
 'Marc Forster': 3,
 'D.J. Caruso': 3,
 'Edward Zwick': 3,
 'Sam Raimi': 3,
 'Barry Sonnenfeld': 3,
 'Guillermo del Toro': 3,
 'John Woo': 3,
 'Uwe Boll': 3,
 'David Twohy': 3,
 'James Wan': 2,
 'Alan Taylor': 2,
 'Sam Mendes': 2,
 'Joss Whedon': 2,
 'Peyton Reed': 2,
 'Brad Peyton': 2,
 'Wes Ball': 2,
 'Michael Mann': 2,
 'Paul Feig': 2,
 'Ron Howard': 2,
 'Camille Delamarre': 2,
 'Luc Besson': 2,
 'Jonathan Liebesman': 2,
 'Matt Reeves': 2,
 'Marc Webb': 2,
 'Evan Goldberg': 2,
 'Seth Rogen': 2,
 'Roger Donaldson': 2,
 'J.C. Chandor': 2,
 'Kenneth Branagh': 2,
 'Scott Waugh': 2,
 'Alex Proyas': 2,
 'James McTeigue': 2,
 'NimrÃ³d Antal': 2,
 'Gavin Hood': 2,
 'Sylvester Stallone': 2,
 'Joseph Kosinski': 2,
 'Edgar Wright': 2,
 'Robert Schwentke': 2,
 'James Mangold': 2,
 'Neil Marshall': 2,
 'Kevin Munroe': 2,
 'Peter Howitt': 2,
 'Frank Oz': 2,
 'Joe Johnston': 2,
 'Peter Hyams': 2,
 'Timur Bekmambetov': 2,
 'David Gordon Green': 2,
 'Pete Travis': 2,
 'Frank Miller': 2,
 'Jason Friedberg': 2,
 'Aaron Seltzer': 2,
 'Rob Marshall': 2,
 'Andrew Niccol': 2,
 'Marcus Nispel': 2,
 'Ruben Fleischer': 2,
 'George Lucas': 2,
 'Andrew Davis': 2,
 'Walter Hill': 2,
 'Rob Bowman': 2,
 'Ang Lee': 2,
 'Baltasar KormÃ¡kur': 2,
 'Mark Steven Johnson': 2,
 'F. Gary Gray': 2,
 'David Dobkin': 2,
 'Clark Johnson': 2,
 'Richard Donner': 2,
 'William Friedkin': 2,
 'Francis Lawrence': 2,
 'Courtney Solomon': 2,
 'David R. Ellis': 2,
 'David S. Goyer': 2,
 'Colin Trevorrow': 1,
 'George Miller': 1,
 'Chris Columbus': 1,
 'Christopher McQuarrie': 1,
 'Ilya Naishuller': 1,
 'Ericson Core': 1,
 'Denis Villeneuve': 1,
 'Josh Trank': 1,
 'Aleksander Bach': 1,
 'Andy Fickman': 1,
 'John Erick Dowdle': 1,
 'Anne Fletcher': 1,
 'James Gunn': 1,
 'Joe Russo': 1,
 'Anthony Russo': 1,
 'Chad Stahelski': 1,
 'David Leitch': 1,
 'Don Hall': 1,
 'Chris Williams': 1,
 'Neil Burger': 1,
 'Gareth Edwards': 1,
 'Robert Stromberg': 1,
 'Dean DeBlois': 1,
 'Patrick Hughes': 1,
 'Gary Shore': 1,
 'Noam Murro': 1,
 'Vic Armstrong': 1,
 'JosÃ© Padilha': 1,
 'George Clooney': 1,
 'Brian A Miller': 1,
 'Steven Quale': 1,
 'Adam Wingard': 1,
 'James Cameron': 1,
 'Patrick Tatopoulos': 1,
 'Shane Acker': 1,
 'Steve Carr': 1,
 'Christian Alvart': 1,
 'Hoyt Yeatman': 1,
 'Kevin Macdonald': 1,
 'Michael Spierig': 1,
 'Peter Spierig': 1,
 'Paul McGuigan': 1,
 'Troy Duffy': 1,
 'Paul Weitz': 1,
 'David Bowers': 1,
 'Daniel Barber': 1,
 'Michael J. Bassett': 1,
 'Pierre Coffin': 1,
 'Chris Renaud': 1,
 'Phillip Noyce': 1,
 'Florian Henckel von Donnersmarck': 1,
 'Mike Newell': 1,
 'Ethan Maniquis': 1,
 'Albert Hughes': 1,
 'Allen Hughes': 1,
 'Tom McGrath': 1,
 'Adam McKay': 1,
 'Miguel Sapochnik': 1,
 'Andy Tennant': 1,
 'Jonathan Lynn': 1,
 'Jimmy Hayward': 1,
 'Robert Luketic': 1,
 'John Luessenhop': 1,
 'Kevin Smith': 1,
 'Jorma Taccone': 1,
 'Brian Levant': 1,
 'Stuart Beattie': 1,
 'Tim Burton': 1,
 'Brian Helgeland': 1,
 'John A. Davis': 1,
 'Chris Nahon': 1,
 'Hironobu Sakaguchi': 1,
 'Motonori Sakakibara': 1,
 'Rod Lurie': 1,
 'John Herzfeld': 1,
 'Ivan Reitman': 1,
 'Demian Lichtenstein': 1,
 'John Carpenter': 1,
 'Bobby Farrelly': 1,
 'Peter Farrelly': 1,
 'Barry Levinson': 1,
 'Luke Greenfield': 1,
 'Les Mayfield': 1,
 'Henry Selick': 1,
 'Rob Pritts': 1,
 'Ernest R. Dickerson': 1,
 'DJ Pooh': 1,
 'Eric Brevig': 1,
 'Ben Stiller': 1,
 'Jeff Wadlow': 1,
 'Lexi Alexander': 1,
 'Peter Segal': 1,
 'Mathieu Kassovitz': 1,
 'Rob Minkoff': 1,
 'Jon Avnet': 1,
 'Dennis Dugan': 1,
 'Howard McCain': 1,
 'Oxide Pang Chun': 1,
 'Danny Pang': 1,
 'Craig Mazin': 1,
 'Simon Hunter': 1,
 'Nicolas Winding Refn': 1,
 'Rupert Wyatt': 1,
 'Patrick Lussier': 1,
 'Gary McKendry': 1,
 'Scott Stewart': 1,
 'Tarsem Singh': 1,
 'Chris Gorak': 1,
 'Chris Miller': 1,
 'Michel Gondry': 1,
 'Oliver Parker': 1,
 'Joe Cornish': 1,
 'Joe Wright': 1,
 'John Michael McDonagh': 1,
 'Alister Grierson': 1,
 'Sean McNamara': 1,
 'John Whitesell': 1,
 'Benny Chan': 1,
 'Corey Yuen Kwai': 1,
 'Stuart Baird': 1,
 'Kurt Wimmer': 1,
 'Jay Roach': 1,
 'Jim Gillespie': 1,
 'Chuck Russell': 1,
 'Betty Thomas': 1,
 'Randall Wallace': 1,
 'Ron Shelton': 1,
 'Simon Wells': 1,
 'Roger Michell': 1,
 'Michael Apted': 1,
 'Tom Dey': 1,
 'Joel Schumacher': 1,
 'Luis Mandoki': 1,
 'Tamra Davis': 1,
 'Ron Underwood': 1,
 'Kevin Bray': 1,
 'Malcolm D. Lee': 1,
 'MÃ¥ns MÃ¥rlind': 1,
 'BjÃ¶rn Stein': 1,
 'Tony Gilroy': 1,
 'Mark Andrews': 1,
 'Steve Purcell': 1,
 'Brenda Chapman': 1,
 'Boaz Yakin': 1,
 'Andrew Stanton': 1,
 'Rian Johnson': 1,
 'Mike McCoy': 1,
 'Stephen St. Leger': 1,
 'James Mather': 1,
 'Daniel Espinosa': 1,
 'Asger Leth': 1,
 'Mabrouk El Mechri': 1,
 'Dan Bradley': 1,
 'Julie Anne Robinson': 1,
 'Anthony Hemingway': 1,
 'David Koepp': 1,
 'David Barrett': 1,
 'Stephen Norrington': 1,
 'Jan de Bont': 1,
 'Jon Amiel': 1,
 'John McTiernan': 1,
 'Shane Black': 1,
 'Tommy Wirkola': 1,
 'Carl Rinsch': 1,
 'Gary Fleder': 1,
 'Mikael HÃ¥fstrÃ¶m': 1,
 'Taylor Hackford': 1,
 'Steven Knight': 1,
 'Spike Lee': 1,
 'Dito Montiel': 1,
 'Keanu Reeves': 1,
 'Fyodor Bondarchuk': 1,
 'Karyn Kusama': 1,
 'Adam Shankman': 1,
 'John Stockwell': 1,
 'Sydney Pollack': 1,
 'Terry Gilliam': 1,
 'Jay Chandrasekhar': 1,
 'Richard Shepard': 1,
 'John Dahl': 1,
 'Bruce Hunt': 1,
 'Alfonso CuarÃ³n': 1,
 'Stefen Fangmeier': 1,
 'Mel Gibson': 1,
 'Bruce Beresford': 1,
 'Wolfgang Petersen': 1,
 'Jeff Tremaine': 1,
 'John Bonito': 1,
 'Geoffrey Sax': 1,
 'Tony Bill': 1,
 'Wayne Kramer': 1,
 'Sanjay Gadhvi': 1,
 'Phil Joanou': 1,
 'Alexander Witt': 1,
 'Bibo Bergeron': 1,
 'Vicky Jenson': 1,
 'Rob Letterman': 1,
 'Kerry Conran': 1,
 'Oliver Stone': 1,
 'Jonathan Hensleigh': 1,
 'Pitof': 1,
 'Philip Kaufman': 1,
 'Trey Parker': 1,
 'Steven Brill': 1,
 'Frank Coraci': 1,
 'Paul Abascal': 1,
 'Joseph Kahn': 1,
 'David Mamet': 1,
 'Jay Russell': 1,
 'Robert Redford': 1,
 'Philip G. Atwell': 1,
 'Michael Davis': 1,
 'Xavier Gens': 1,
 'Eli Roth': 1,
 'Rob Zombie': 1,
 'Jason Eisener': 1,
 'Dave Meyers': 1,
 'Russell Mulcahy': 1,
 'Andrew Dominik': 1,
 'Doug Lefler': 1,
 'David Leland': 1,
 'Feng Xiaogang': 1,
 'Ben Garant': 1,
 'Joel Coen': 1,
 'Donald Petrie': 1,
 'Paul Verhoeven': 1,
 'Roger Spottiswoode': 1,
 'Antony Hoffman': 1,
 'Stephen T. Kay': 1,
 'Don Bluth': 1,
 'Gary Goldman': 1,
 'Christian Duguay': 1,
 'Douglas Aarniokoski': 1,
 'Gina Prince-Bythewood': 1,
 'Brian Robbins': 1,
 'Des McAnuff': 1}

SECOND METHOD

In [75]:
data_action = data[data['genres'].map(lambda genres: 'Action' in genres)] # using usual sorting of df in [] but also using map cause each cell of 'genres' contains a list
directors = data_action['director'].sum() # merging the Series of lists of directors

a) Using collections.Counter()

In [76]:
# counting using collections.Counter
dir_count = Counter()

for director in directors:
    dir_count[director] += 1

dir_count_sorted = {
    key: value for key, value in sorted(dir_count.items(), key=lambda item: item[1], reverse=True)
}
dir_count_sorted

{'Robert Rodriguez': 9,
 'Michael Bay': 7,
 'Paul W.S. Anderson': 7,
 'Antoine Fuqua': 6,
 'Ridley Scott': 6,
 'Brett Ratner': 5,
 'Quentin Tarantino': 5,
 'Zack Snyder': 5,
 'Roland Emmerich': 5,
 'Andrzej Bartkowiak': 5,
 'Louis Leterrier': 5,
 'Tony Scott': 5,
 'Paul Greengrass': 5,
 'Peter Jackson': 5,
 'Lee Tamahori': 5,
 'Gore Verbinski': 5,
 'Rob Cohen': 5,
 'Peter Berg': 5,
 'J.J. Abrams': 4,
 'Lana Wachowski': 4,
 'Lilly Wachowski': 4,
 'Olivier Megaton': 4,
 'Guy Ritchie': 4,
 'Bryan Singer': 4,
 'Tim Story': 4,
 'Renny Harlin': 4,
 'Mark Neveldine': 4,
 'Brian Taylor': 4,
 'Dominic Sena': 4,
 'Justin Lin': 4,
 'Christopher Nolan': 4,
 'Simon West': 4,
 'John Moore': 4,
 'Steven Spielberg': 4,
 'Martin Campbell': 4,
 'John Singleton': 4,
 'Len Wiseman': 4,
 'Brad Bird': 3,
 'Matthew Vaughn': 3,
 'Neill Blomkamp': 3,
 'Jaume Collet-Serra': 3,
 'Breck Eisner': 3,
 'Pierre Morel': 3,
 'David Ayer': 3,
 'Doug Liman': 3,
 'Clint Eastwood': 3,
 'Phil Lord': 3,
 'Christopher Miller': 3,
 'McG': 3,
 'Stephen Sommers': 3,
 'Shawn Levy': 3,
 'Jonathan Mostow': 3,
 'Jon Favreau': 3,
 'Jon Turteltaub': 3,
 'Joe Carnahan': 3,
 'M. Night Shyamalan': 3,
 'Harald Zwart': 3,
 'Marc Forster': 3,
 'D.J. Caruso': 3,
 'Edward Zwick': 3,
 'Sam Raimi': 3,
 'Barry Sonnenfeld': 3,
 'Guillermo del Toro': 3,
 'John Woo': 3,
 'Uwe Boll': 3,
 'David Twohy': 3,
 'James Wan': 2,
 'Alan Taylor': 2,
 'Sam Mendes': 2,
 'Joss Whedon': 2,
 'Peyton Reed': 2,
 'Brad Peyton': 2,
 'Wes Ball': 2,
 'Michael Mann': 2,
 'Paul Feig': 2,
 'Ron Howard': 2,
 'Camille Delamarre': 2,
 'Luc Besson': 2,
 'Jonathan Liebesman': 2,
 'Matt Reeves': 2,
 'Marc Webb': 2,
 'Evan Goldberg': 2,
 'Seth Rogen': 2,
 'Roger Donaldson': 2,
 'J.C. Chandor': 2,
 'Kenneth Branagh': 2,
 'Scott Waugh': 2,
 'Alex Proyas': 2,
 'James McTeigue': 2,
 'NimrÃ³d Antal': 2,
 'Gavin Hood': 2,
 'Sylvester Stallone': 2,
 'Joseph Kosinski': 2,
 'Edgar Wright': 2,
 'Robert Schwentke': 2,
 'James Mangold': 2,
 'Neil Marshall': 2,
 'Kevin Munroe': 2,
 'Peter Howitt': 2,
 'Frank Oz': 2,
 'Joe Johnston': 2,
 'Peter Hyams': 2,
 'Timur Bekmambetov': 2,
 'David Gordon Green': 2,
 'Pete Travis': 2,
 'Frank Miller': 2,
 'Jason Friedberg': 2,
 'Aaron Seltzer': 2,
 'Rob Marshall': 2,
 'Andrew Niccol': 2,
 'Marcus Nispel': 2,
 'Ruben Fleischer': 2,
 'George Lucas': 2,
 'Andrew Davis': 2,
 'Walter Hill': 2,
 'Rob Bowman': 2,
 'Ang Lee': 2,
 'Baltasar KormÃ¡kur': 2,
 'Mark Steven Johnson': 2,
 'F. Gary Gray': 2,
 'David Dobkin': 2,
 'Clark Johnson': 2,
 'Richard Donner': 2,
 'William Friedkin': 2,
 'Francis Lawrence': 2,
 'Courtney Solomon': 2,
 'David R. Ellis': 2,
 'David S. Goyer': 2,
 'Colin Trevorrow': 1,
 'George Miller': 1,
 'Chris Columbus': 1,
 'Christopher McQuarrie': 1,
 'Ilya Naishuller': 1,
 'Ericson Core': 1,
 'Denis Villeneuve': 1,
 'Josh Trank': 1,
 'Aleksander Bach': 1,
 'Andy Fickman': 1,
 'John Erick Dowdle': 1,
 'Anne Fletcher': 1,
 'James Gunn': 1,
 'Joe Russo': 1,
 'Anthony Russo': 1,
 'Chad Stahelski': 1,
 'David Leitch': 1,
 'Don Hall': 1,
 'Chris Williams': 1,
 'Neil Burger': 1,
 'Gareth Edwards': 1,
 'Robert Stromberg': 1,
 'Dean DeBlois': 1,
 'Patrick Hughes': 1,
 'Gary Shore': 1,
 'Noam Murro': 1,
 'Vic Armstrong': 1,
 'JosÃ© Padilha': 1,
 'George Clooney': 1,
 'Brian A Miller': 1,
 'Steven Quale': 1,
 'Adam Wingard': 1,
 'James Cameron': 1,
 'Patrick Tatopoulos': 1,
 'Shane Acker': 1,
 'Steve Carr': 1,
 'Christian Alvart': 1,
 'Hoyt Yeatman': 1,
 'Kevin Macdonald': 1,
 'Michael Spierig': 1,
 'Peter Spierig': 1,
 'Paul McGuigan': 1,
 'Troy Duffy': 1,
 'Paul Weitz': 1,
 'David Bowers': 1,
 'Daniel Barber': 1,
 'Michael J. Bassett': 1,
 'Pierre Coffin': 1,
 'Chris Renaud': 1,
 'Phillip Noyce': 1,
 'Florian Henckel von Donnersmarck': 1,
 'Mike Newell': 1,
 'Ethan Maniquis': 1,
 'Albert Hughes': 1,
 'Allen Hughes': 1,
 'Tom McGrath': 1,
 'Adam McKay': 1,
 'Miguel Sapochnik': 1,
 'Andy Tennant': 1,
 'Jonathan Lynn': 1,
 'Jimmy Hayward': 1,
 'Robert Luketic': 1,
 'John Luessenhop': 1,
 'Kevin Smith': 1,
 'Jorma Taccone': 1,
 'Brian Levant': 1,
 'Stuart Beattie': 1,
 'Tim Burton': 1,
 'Brian Helgeland': 1,
 'John A. Davis': 1,
 'Chris Nahon': 1,
 'Hironobu Sakaguchi': 1,
 'Motonori Sakakibara': 1,
 'Rod Lurie': 1,
 'John Herzfeld': 1,
 'Ivan Reitman': 1,
 'Demian Lichtenstein': 1,
 'John Carpenter': 1,
 'Bobby Farrelly': 1,
 'Peter Farrelly': 1,
 'Barry Levinson': 1,
 'Luke Greenfield': 1,
 'Les Mayfield': 1,
 'Henry Selick': 1,
 'Rob Pritts': 1,
 'Ernest R. Dickerson': 1,
 'DJ Pooh': 1,
 'Eric Brevig': 1,
 'Ben Stiller': 1,
 'Jeff Wadlow': 1,
 'Lexi Alexander': 1,
 'Peter Segal': 1,
 'Mathieu Kassovitz': 1,
 'Rob Minkoff': 1,
 'Jon Avnet': 1,
 'Dennis Dugan': 1,
 'Howard McCain': 1,
 'Oxide Pang Chun': 1,
 'Danny Pang': 1,
 'Craig Mazin': 1,
 'Simon Hunter': 1,
 'Nicolas Winding Refn': 1,
 'Rupert Wyatt': 1,
 'Patrick Lussier': 1,
 'Gary McKendry': 1,
 'Scott Stewart': 1,
 'Tarsem Singh': 1,
 'Chris Gorak': 1,
 'Chris Miller': 1,
 'Michel Gondry': 1,
 'Oliver Parker': 1,
 'Joe Cornish': 1,
 'Joe Wright': 1,
 'John Michael McDonagh': 1,
 'Alister Grierson': 1,
 'Sean McNamara': 1,
 'John Whitesell': 1,
 'Benny Chan': 1,
 'Corey Yuen Kwai': 1,
 'Stuart Baird': 1,
 'Kurt Wimmer': 1,
 'Jay Roach': 1,
 'Jim Gillespie': 1,
 'Chuck Russell': 1,
 'Betty Thomas': 1,
 'Randall Wallace': 1,
 'Ron Shelton': 1,
 'Simon Wells': 1,
 'Roger Michell': 1,
 'Michael Apted': 1,
 'Tom Dey': 1,
 'Joel Schumacher': 1,
 'Luis Mandoki': 1,
 'Tamra Davis': 1,
 'Ron Underwood': 1,
 'Kevin Bray': 1,
 'Malcolm D. Lee': 1,
 'MÃ¥ns MÃ¥rlind': 1,
 'BjÃ¶rn Stein': 1,
 'Tony Gilroy': 1,
 'Mark Andrews': 1,
 'Steve Purcell': 1,
 'Brenda Chapman': 1,
 'Boaz Yakin': 1,
 'Andrew Stanton': 1,
 'Rian Johnson': 1,
 'Mike McCoy': 1,
 'Stephen St. Leger': 1,
 'James Mather': 1,
 'Daniel Espinosa': 1,
 'Asger Leth': 1,
 'Mabrouk El Mechri': 1,
 'Dan Bradley': 1,
 'Julie Anne Robinson': 1,
 'Anthony Hemingway': 1,
 'David Koepp': 1,
 'David Barrett': 1,
 'Stephen Norrington': 1,
 'Jan de Bont': 1,
 'Jon Amiel': 1,
 'John McTiernan': 1,
 'Shane Black': 1,
 'Tommy Wirkola': 1,
 'Carl Rinsch': 1,
 'Gary Fleder': 1,
 'Mikael HÃ¥fstrÃ¶m': 1,
 'Taylor Hackford': 1,
 'Steven Knight': 1,
 'Spike Lee': 1,
 'Dito Montiel': 1,
 'Keanu Reeves': 1,
 'Fyodor Bondarchuk': 1,
 'Karyn Kusama': 1,
 'Adam Shankman': 1,
 'John Stockwell': 1,
 'Sydney Pollack': 1,
 'Terry Gilliam': 1,
 'Jay Chandrasekhar': 1,
 'Richard Shepard': 1,
 'John Dahl': 1,
 'Bruce Hunt': 1,
 'Alfonso CuarÃ³n': 1,
 'Stefen Fangmeier': 1,
 'Mel Gibson': 1,
 'Bruce Beresford': 1,
 'Wolfgang Petersen': 1,
 'Jeff Tremaine': 1,
 'John Bonito': 1,
 'Geoffrey Sax': 1,
 'Tony Bill': 1,
 'Wayne Kramer': 1,
 'Sanjay Gadhvi': 1,
 'Phil Joanou': 1,
 'Alexander Witt': 1,
 'Bibo Bergeron': 1,
 'Vicky Jenson': 1,
 'Rob Letterman': 1,
 'Kerry Conran': 1,
 'Oliver Stone': 1,
 'Jonathan Hensleigh': 1,
 'Pitof': 1,
 'Philip Kaufman': 1,
 'Trey Parker': 1,
 'Steven Brill': 1,
 'Frank Coraci': 1,
 'Paul Abascal': 1,
 'Joseph Kahn': 1,
 'David Mamet': 1,
 'Jay Russell': 1,
 'Robert Redford': 1,
 'Philip G. Atwell': 1,
 'Michael Davis': 1,
 'Xavier Gens': 1,
 'Eli Roth': 1,
 'Rob Zombie': 1,
 'Jason Eisener': 1,
 'Dave Meyers': 1,
 'Russell Mulcahy': 1,
 'Andrew Dominik': 1,
 'Doug Lefler': 1,
 'David Leland': 1,
 'Feng Xiaogang': 1,
 'Ben Garant': 1,
 'Joel Coen': 1,
 'Donald Petrie': 1,
 'Paul Verhoeven': 1,
 'Roger Spottiswoode': 1,
 'Antony Hoffman': 1,
 'Stephen T. Kay': 1,
 'Don Bluth': 1,
 'Gary Goldman': 1,
 'Christian Duguay': 1,
 'Douglas Aarniokoski': 1,
 'Gina Prince-Bythewood': 1,
 'Brian Robbins': 1,
 'Des McAnuff': 1}

b) Using Series.value_counts()

In [77]:
# counting using pd.Series.value_counts()
directors = pd.Series(directors)

directors.value_counts(ascending=False)

Robert Rodriguez         9
Paul W.S. Anderson       7
Michael Bay              7
Ridley Scott             6
Antoine Fuqua            6
                        ..
Vicky Jenson             1
Nicolas Winding Refn     1
Anthony Hemingway        1
Corey Yuen Kwai          1
Christopher McQuarrie    1
Length: 364, dtype: int64

Second method with value_counts() is preferable.

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [17]:
answers['15'] = 'Chris Hemsworth'

In [78]:
data_2012 = data[data['release_year'] == 2012]

* FIRST METHOD - Using collections.Counter()

In [81]:
actor_revenue_count = Counter()

data_2012.apply(actor_revenue, axis=1)

actor_revenue_count = sorted(actor_revenue_count.items(), key=lambda item: item[1], reverse=True) # sorting dict to list of tuples
actor_revenue_count

[('Chris Hemsworth', 2027450773),
 ('Denis Leary', 1629460639),
 ('Anne Hathaway', 1522851057),
 ('Robert Downey Jr.', 1519557910),
 ('Chris Evans', 1519557910),
 ('Mark Ruffalo', 1519557910),
 ('Scarlett Johansson', 1519557910),
 ('Ralph Fiennes', 1409561013),
 ('Sacha Baron Cohen', 1368110577),
 ('Kristen Stewart', 1234384318),
 ('Emma Thompson', 1163009983),
 ('Tom Hardy', 1134717867),
 ('Seann William Scott', 1112234366),
 ('Daniel Craig', 1108561013),
 ('Judi Dench', 1108561013),
 ('Javier Bardem', 1108561013),
 ('Naomie Harris', 1108561013),
 ('Josh Hutcherson', 1091710235),
 ('Christian Bale', 1081041287),
 ('Michael Caine', 1081041287),
 ('Gary Oldman', 1081041287),
 ('Ian McKellen', 1017003568),
 ('Martin Freeman', 1017003568),
 ('Richard Armitage', 1017003568),
 ('Andy Serkis', 1017003568),
 ('Cate Blanchett', 1017003568),
 ('John Leguizamo', 914138503),
 ('Jennifer Lawrence', 896949406),
 ('Ray Romano', 877244782),
 ('Chris Wedge', 877244782),
 ('Robert Pattinson', 835063556),
 ('Elizabeth Banks', 829566659),
 ('Taylor Lautner', 829000000),
 ('Peter Facinelli', 829000000),
 ('Elizabeth Reaser', 829000000),
 ('Rhys Ifans', 806125608),
 ('Charlize Theron', 799770142),
 ('Frances McDormand', 755060062),
 ('Andrew Garfield', 752215857),
 ('Emma Stone', 752215857),
 ('Martin Sheen', 752215857),
 ('Hugh Jackman', 748751440),
 ('Ben Stiller', 746921274),
 ('David Schwimmer', 746921274),
 ('Chris Rock', 746921274),
 ('Tommy Lee Jones', 738307827),
 ('Woody Harrelson', 710632953),
 ('Liam Hemsworth', 691210692),
 ('Liam Neeson', 677141306),
 ('Taylor Kitsch', 634164585),
 ('Will Smith', 624026776),
 ('Josh Brolin', 624026776),
 ('Michael Stuhlbarg', 624026776),
 ('Mark Wahlberg', 612468315),
 ('Giovanni Ribisi', 612468315),
 ('Suraj Sharma', 609016565),
 ('Irrfan Khan', 609016565),
 ('Ayush Tandon', 609016565),
 ('Gautam Belur', 609016565),
 ('Adil Hussain', 609016565),
 ('Billy Connolly', 598503505),
 ('Channing Tatum', 598294075),
 ('Mila Kunis', 549368315),
 ('Seth MacFarlane', 549368315),
 ('Joel McHale', 549368315),
 ('Bryan Cranston', 540910192),
 ('Kelly Macdonald', 538983207),
 ('Julie Walters', 538983207),
 ('Kevin McKidd', 538983207),
 ('Jane Lynch', 526042190),
 ('Rosamund Pike', 519340595),
 ('Guy Pearce', 489050752),
 ('John C. Reilly', 471222889),
 ('Sarah Silverman', 471222889),
 ('Jack McBrayer', 471222889),
 ('Jamie Elman', 471222889),
 ('Bruce Willis', 449378341),
 ('Kerry Washington', 447412515),
 ('Russell Crowe', 441809770),
 ('Amanda Seyfried', 441809770),
 ('Michael Fassbender', 436542748),
 ('Jamie Foxx', 425368238),
 ('Christoph Waltz', 425368238),
 ('Leonardo DiCaprio', 425368238),
 ('Samuel L. Jackson', 425368238),
 ('Mark Strong', 416959816),
 ('Adam Sandler', 416433970),
 ('CiarÃ¡n Hinds', 411869836),
 ('Maggie Grace', 408345336),
 ('Noomi Rapace', 403170142),
 ('Idris Elba', 403170142),
 ('Sam Claflin', 396600000),
 ('Ian McShane', 396600000),
 ('Kate Beckinsale', 394302074),
 ('Brooklyn Decker', 382725485),
 ('Famke Janssen', 376141306),
 ('Rade Serbedzija', 376141306),
 ('Luke Grimes', 376141306),
 ('Alec Baldwin', 366360283),
 ('Steve Buscemi', 358375603),
 ('David Spade', 358375603),
 ('Kevin James', 358375603),
 ('Selena Gomez', 358375603),
 ('Brendan Gleeson', 356072317),
 ('Dwayne Johnson', 355692760),
 ('Kristin Davis', 355692760),
 ('Vanessa Hudgens', 355692760),
 ('Luis GuzmÃ¡n', 355692760),
 ('Jason Statham', 352919609),
 ('Anna Kendrick', 350316209),
 ('Zac Efron', 348840316),
 ('Danny DeVito', 348840316),
 ('Taylor Swift', 348840316),
 ('Ed Helms', 348840316),
 ('Rob Riggle', 348840316),
 ('Sam Worthington', 347221189),
 ('Edward Norton', 344836104),
 ('Chris Pine', 319376448),
 ('Sylvester Stallone', 312573423),
 ('Dolph Lundgren', 312573423),
 ('Arnold Schwarzenegger', 312573423),
 ('Jude Law', 306941670),
 ('Isla Fisher', 306941670),
 ('Alexander SkarsgÃ¥rd', 303025485),
 ('Rihanna', 303025485),
 ('Tadanobu Asano', 303025485),
 ('Edgar RamÃ\xadrez', 301000000),
 ('Lynn Collins', 284139100),
 ('Willem Dafoe', 284139100),
 ('Tom Cruise', 277759208),
 ('Jeremy Renner', 276572938),
 ('Rachel Weisz', 276572938),
 ('Scott Glenn', 276572938),
 ('Stacy Keach', 276572938),
 ('David Oyelowo', 268705972),
 ('Megan Fox', 267438319),
 ('Michelle Pfeiffer', 257961927),
 ('Johnny Depp', 245527149),
 ('Helena Bonham Carter', 245527149),
 ('Jackie Earle Haley', 245527149),
 ('Jonny Lee Miller', 245527149),
 ('Milla Jovovich', 240159255),
 ('Sienna Guillory', 240159255),
 ('Michelle Rodriguez', 240159255),
 ('Aryana Engineer', 240159255),
 ('Li Bingbing', 240159255),
 ('Jason Biggs', 234989584),
 ('Alyson Hannigan', 234989584),
 ('Chris Klein', 234989584),
 ('Thomas Ian Nicholas', 234989584),
 ('Ben Affleck', 232324128),
 ('Alan Arkin', 232324128),
 ('John Goodman', 232324128),
 ('Victor Garber', 232324128),
 ('Michael Ealy', 228470507),
 ('Bradley Cooper', 218970175),
 ('Richard Jenkins', 218340595),
 ('Werner Herzog', 218340595),
 ('Colin Farrell', 218224335),
 ('Ewan McGregor', 213646729),
 ('Denzel Washington', 208076205),
 ('Ryan Reynolds', 208076205),
 ('Vera Farmiga', 208076205),
 ('Joel Kinnaman', 208076205),
 ('Robert De Niro', 205738714),
 ('Jacki Weaver', 205738714),
 ('Chris Tucker', 205738714),
 ('Jonah Hill', 201585328),
 ('Brie Larson', 201585328),
 ('Dave Franco', 201585328),
 ('Ellie Kemper', 201585328),
 ('Jessica Biel', 198802074),
 ('Bill Nighy', 198802074),
 ('Rachel McAdams', 196114570),
 ('Sam Neill', 196114570),
 ('Scott Speedman', 196114570),
 ('Jessica Lange', 196114570),
 ('Chris Pratt', 186730467),
 ('Jessica Chastain', 186497296),
 ('Julia Roberts', 183018522),
 ('Lily Collins', 183018522),
 ('Armie Hammer', 183018522),
 ('Nathan Lane', 183018522),
 ('Martin Klebba', 183018522),
 ('Naomi Watts', 180274123),
 ('Tom Holland', 180274123),
 ('Samuel Joslin', 180274123),
 ('Oaklee Pendergast', 180274123),
 ('Sayed Badreya', 179379533),
 ('Aasif Mandvi', 179379533),
 ('Anna Faris', 179379533),
 ('Matthew McConaughey', 167221571),
 ('Olivia Munn', 167221571),
 ('Cody Horn', 167221571),
 ('Alex Pettyfer', 167221571),
 ('Salma Hayek', 165338361),
 ('Paul Rudd', 145618720),
 ('Dane DeHaan', 145000000),
 ('Alex Russell', 145000000),
 ('Michael B. Jordan', 145000000),
 ('Michael Kelly', 145000000),
 ('Anna Wood', 145000000),
 ('Katie Featherston', 142817992),
 ('Kathryn Newton', 142817992),
 ('Matt Shively', 142817992),
 ('Brady Allen', 142817992),
 ('Sprague Grayden', 142817992),
 ('Jason Segel', 141968537),
 ('Kathryn McCormick', 140470746),
 ('Ryan Guzman', 140470746),
 ('Stephen Boss', 140470746),
 ('Megan Boone', 140470746),
 ('Jessica Guadix', 140470746),
 ('Jim Sturgess', 138589343),
 ('Jason Clarke', 132820716),
 ('Joel Edgerton', 132820716),
 ('Stephen Rea', 132400000),
 ('Theo James', 132400000),
 ('India Eisley', 132400000),
 ('Tom Hanks', 130482868),
 ('Halle Berry', 130482868),
 ('Jim Broadbent', 130482868),
 ('Hugo Weaving', 130482868),
 ('Jeffrey Dean Morgan', 130252858),
 ('Daniel Radcliffe', 127730736),
 ('Sidney Johnston', 127730736),
 ('Alisa Khazanova', 127730736),
 ('Mary Stockley', 127730736),
 ('Billy Crystal', 119772232),
 ('Bette Midler', 119772232),
 ('Marisa Tomei', 119772232),
 ('Tom Everett Scott', 119772232),
 ('Bailee Madison', 119772232),
 ('Hugh Grant', 118338361),
 ('Jeremy Piven', 118338361),
 ('Brian Blessed', 118338361),
 ('Skylar Astin', 115350426),
 ('Brittany Snow', 115350426),
 ('Anna Camp', 115350426),
 ('Rebel Wilson', 115350426),
 ('Meryl Streep', 114281051),
 ('Steve Carell', 114281051),
 ('Jean Smart', 114281051),
 ('Marin Ireland', 114281051),
 ('Benjamin Walker', 112265139),
 ('Dominic Cooper', 112265139),
 ('Anthony Mackie', 112265139),
 ('Mary Elizabeth Winstead', 112265139),
 ('Rufus Sewell', 112265139),
 ('Kodi Smit-McPhee', 107139399),
 ('Tucker Albrizzi', 107139399),
 ('Jodelle Ferland', 107139399),
 ('Casey Affleck', 107139399),
 ('Emily Blunt', 100951751),
 ('Oliver Cooper', 100000000),
 ('Jonathan Daniel Brown', 100000000),
 ('Thomas Mann', 100000000),
 ('Dax Flame', 100000000),
 ('Kirby Bliss Blanton', 100000000),
 ('Jerry Ferrara', 96070507),
 ('Meagan Good', 96070507),
 ('Regina Hall', 96070507),
 ('Kevin Hart', 96070507),
 ('Susan Sarandon', 93543423),
 ('Leslie Mann', 88058786),
 ('Maude Apatow', 88058786),
 ('Natasha Calis', 85446075),
 ('Madison Davenport', 85446075),
 ('Kyra Sedgwick', 85446075),
 ('Rob LaBelle', 85446075),
 ('Charlie Tahan', 81491068),
 ('Winona Ryder', 81491068),
 ("Catherine O'Hara", 81491068),
 ('Martin Short', 81491068),
 ('Martin Landau', 81491068),
 ('Roselyn SÃ¡nchez', 81272766),
 ('Emilio Rivera', 81272766),
 ('Nestor Serrano', 81272766),
 ('Gonzalo Menendez', 81272766),
 ('Alexander Asefa', 81272766),
 ('Cameron Diaz', 79700000),
 ('Jennifer Lopez', 79700000),
 ('Joseph Gordon-Levitt', 78125599),
 ('Devon Bostick', 77112176),
 ('Steve Zahn', 77112176),
 ('Peyton List', 77112176),
 ('Rachael Harris', 77112176),
 ('Zachary Gordon', 77112176),
 ('Jared Gilman', 68263166),
 ('Kara Hayward', 68263166),
 ('Bill Murray', 68263166),
 ('Kristen Connolly', 66486080),
 ('Anna Hutchison', 66486080),
 ('Fran Kranz', 66486080),
 ('Jesse Williams', 66486080),
 ('Ben Foster', 63100000),
 ('J.K. Simmons', 63100000),
 ('Maggie Smith', 59520298),
 ('Tom Courtenay', 59520298),
 ('Pauline Collins', 59520298),
 ('Michael Gambon', 59520298),
 ('Diego Boneta', 59418613),
 ('Julianne Hough', 59418613),
 ('Eva Amurri Martino', 58058367),
 ('Leighton Meester', 58058367),
 ('Andy Samberg', 58058367),
 ('Sean Hayes', 54819301),
 ('Will Sasso', 54819301),
 ('Chris Diamantopoulos', 54819301),
 ('SofÃ\xada Vergara', 54819301),
 ('Alison Brie', 53909751),
 ('Shia LaBeouf', 53676580),
 ('Mia Wasikowska', 53676580),
 ('Adelaide Clemens', 52302796),
 ('Kit Harington', 52302796),
 ('Sean Bean', 52302796),
 ('Carrie-Anne Moss', 52302796),
 ('Radha Mitchell', 52302796),
 ('Cuba Gooding Jr.', 50365377),
 ('Daniela Ruah', 50365377),
 ('Terrence Howard', 50365377),
 ('Jake Gyllenhaal', 48126384),
 ('Michael PeÃ±a', 48126384),
 ('Natalie Martinez', 48126384),
 ('David Harbour', 48126384),
 ('Paul Dano', 47042000),
 ('Noah Segan', 47042000),
 ('Blake Lively', 47000000),
 ('Aaron Taylor-Johnson', 47000000),
 ('Benicio del Toro', 47000000),
 ('Jamie Bell', 46221189),
 ('Ed Harris', 46221189),
 ('Edward Burns', 46221189),
 ('Isabel Lucas', 44806783),
 ('Adrianne Palicki', 44806783),
 ('Karl Urban', 41037742),
 ('Olivia Thirlby', 41037742),
 ('Lena Headey', 41037742),
 ('Wood Harris', 41037742),
 ('Jason Cope', 41037742),
 ('Chris Sarandon', 40346186),
 ('James Hong', 40346186),
 ('Catherine Chan', 40346186),
 ('Robert John Burke', 40346186),
 ('Brad Pitt', 37930465),
 ('Scoot McNairy', 37930465),
 ('Ben Mendelsohn', 37930465),
 ('James Gandolfini', 37930465),
 ('Ray Liotta', 37930465),
 ('Katherine Heigl', 36893721),
 ('Debbie Reynolds', 36893721),
 ('Sherri Shepherd', 36893721),
 ('Patrick Fischler', 36893721),
 ('Richard Gere', 35485056),
 ('Tim Roth', 35485056),
 ('Brit Marling', 35485056),
 ('Monica Raymund', 35485056),
 ('Logan Lerman', 33400000),
 ('Emma Watson', 33400000),
 ('Ezra Miller', 33400000),
 ('Nina Dobrev', 33400000),
 ('Gina Carano', 33372606),
 ('Bill Paxton', 33372606),
 ('John Krasinski', 32858003),
 ('Katy Perry', 32726956),
 ('Russell Brand', 32726956),
 ('Shannon Woodward', 32726956),
 ('Rachael Markarian', 32726956),
 ('Mia Moretti', 32726956),
 ('Joseph Gilgun', 32204030),
 ('Lennie James', 32204030),
 ('Peter Stormare', 32204030),
 ('Michael Shannon', 31083599),
 ('Dania Ramirez', 31083599),
 ('Jamie Chung', 31083599),
 ('WolÃ© Parks', 31083599),
 ('Tyler Perry', 30353232),
 ('Rachel Nichols', 30353232),
 ('Jean Reno', 30353232),
 ('Matthew Fox', 30353232),
 ('Giancarlo Esposito', 30353232),
 ('John Cusack', 29657751),
 ('Luke Evans', 29657751),
 ('Alice Eve', 29657751),
 ('Kevin McNally', 29657751),
 ('Joaquin Phoenix', 28258060),
 ('Philip Seymour Hoffman', 28258060),
 ('Amy Adams', 28258060),
 ('Laura Dern', 28258060),
 ('Jesse Plemons', 28258060),
 ('Malin Ã…kerman', 26266491),
 ('Olivia Wilde', 25666239),
 ('Drew Barrymore', 24719215),
 ('Kristen Bell', 24719215),
 ('Vinessa Shaw', 24719215),
 ('Dermot Mulroney', 24719215),
 ('Whitney Houston', 24637469),
 ('Cee Lo Green', 24637469),
 ('Derek Luke', 24637469),
 ('Mike Epps', 24637469),
 ('Carmen Ejogo', 24637469),
 ('Jennifer Aniston', 24159934),
 ('Justin Theroux', 24159934),
 ('Lauren Ambrose', 24159934),
 ('Eddie Murphy', 22044277),
 ('Allison Janney', 22044277),
 ('Cliff Curtis', 22044277),
 ('Clark Duke', 22044277),
 ('Sam Rockwell', 19422261),
 ('Christopher Walken', 19422261),
 ('Abbie Cornish', 19422261),
 ('Kirsten Dunst', 16890793),
 ('Henry Cavill', 16863583),
 ('VerÃ³nica Echegui', 16863583),
 ('Sigourney Weaver', 16863583),
 ('Caroline Goodall', 16863583),
 ('Zoe Saldana', 13231461),
 ('Jeremy Irons', 13231461),
 ('Dennis Quaid', 13231461),
 ('Mark Duplass', 12434778),
 ('Victoria Justice', 11417362),
 ('Jackson Nicoll', 11417362),
 ('Chelsea Handler', 11417362),
 ('Josh Pence', 11417362),
 ('Jane Levy', 11417362),
 ('Ashley Greene', 9627492),
 ('Sebastian Stan', 9627492),
 ('Tom Felton', 9627492),
 ('Julianna Guill', 9627492),
 ('Luke Pasqualino', 9627492),
 ('Eva Longoria', 9622846),
 ('Andy GarcÃ\xada', 9622846),
 ('Oscar Isaac', 9622846),
 ("Peter O'Toole", 9622846),
 ('RubÃ©n Blades', 9622846),
 ('Garrett Hedlund', 8784318),
 ('Sam Riley', 8784318),
 ('Tom Sturridge', 8784318),
 ('Danielle Panabaker', 8493728),
 ('Matt Bush', 8493728),
 ('Katrina Bowden', 8493728),
 ('Jean-Luc Bilodeau', 8493728),
 ('David Koechner', 8493728),
 ('Matt Damon', 8138788),
 ('Rosemarie DeWitt', 8138788),
 ('Lucas Black', 8138788),
 ('Timothy Spall', 8106475),
 ('James Kidnie', 8106475),
 ('Heidi Hawkins', 8106475),
 ('Sarah Gadon', 6063556),
 ('Juliette Binoche', 6063556),
 ('Paul Giamatti', 6063556),
 ('Samantha Morton', 6063556),
 ('Josh Duhamel', 4636169),
 ('Rosario Dawson', 4636169),
 ("Vincent D'Onofrio", 4636169),
 ('50 Cent', 4636169),
 ('Jason Bateman', 3428048),
 ('Hope Davis', 3428048),
 ('Frank Grillo', 3428048),
 ('Paula Patton', 3428048),
 ('Michael Nyqvist', 3428048),
 ('Nicolas Cage', 2106557),
 ('Josh Lucas', 2106557),
 ('Sami Gayle', 2106557),
 ('Danny Huston', 2106557)]

* SECOND METHOD - Using pd.Series.value_counts()

In [82]:
cast = pd.Series(data_2012['cast'].sum())
cast = cast.value_counts(ascending=False)

for actor in cast.index:
    cast[actor] = data_2012[data_2012['cast'].map(lambda x: actor in x)]['revenue'].sum() # sorting the rows containing every certain actor out of the dataframe, summing up their revenues

cast.sort_values(ascending=False)

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Scarlett Johansson    1519557910
Chris Evans           1519557910
                         ...
Jason Bateman            3428048
Danny Huston             2106557
Sami Gayle               2106557
Nicolas Cage             2106557
Josh Lucas               2106557
Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [18]:
answers['16'] = 'Matt Damon'

In [85]:
high_budget_data = data[data['budget'] > data['budget'].mean()]
pd.Series(high_budget_data['cast'].sum()).value_counts(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Eddie Murphy         15
                     ..
Joss Ackland          1
Bridget Moynahan      1
Jason Schwartzman     1
Johnny Strong         1
Betty Buckley         1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [19]:
answers['17'] = 'Action'

In [87]:
NCage_data = data[data['cast'].map(lambda x: 'Nicolas Cage' in x)]
pd.Series(NCage_data['genres'].sum()).value_counts(ascending=False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Romance             1
War                 1
Horror              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [20]:
answers['18'] = 'tt0267626 K-19: The Widowmaker'

In [89]:
ParPic_data = data[data['production_companies'].map(lambda x: 'Paramount Pictures' in x)]
ParPic_data[ParPic_data['profit'] == ParPic_data['profit'].min()][['imdb_id', 'original_title', 'profit']]

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [21]:
answers['19'] = 2015

* FIRST METHOD - Using pandas.Series

In [91]:
year_revenue = data['release_year'].value_counts()

for year in year_revenue.index:
    year_revenue[year] = data[data['release_year'] == year]['revenue'].sum()

year_revenue.sort_values(ascending=False)

2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: release_year, dtype: int64

* SECOND METHOD - Using collections.Counter()

In [94]:
year_revenue_dict = Counter()

for year in data['release_year'].value_counts().index:
    year_revenue_dict[year] = data[data['release_year'] == year]['revenue'].sum()

year_revenue_dict = {
    key: value for key, value in sorted(year_revenue_dict.items(), key=lambda item: item[1], reverse=True)
} # sorting dict to dict by descending values

year_revenue_dict

{2015: 25449202382,
 2014: 23405862953,
 2013: 23213799791,
 2012: 23079001687,
 2011: 22676791872,
 2010: 21071204961,
 2009: 20261791024,
 2008: 18252781990,
 2007: 18162406801,
 2004: 15663430720,
 2005: 15309425558,
 2006: 14775042320,
 2003: 14346123312,
 2002: 14136361487,
 2001: 13017764865,
 2000: 10664099805}

# 20. Какой самый прибыльный год для студии Warner Bros?

In [22]:
answers['20'] = 2014

In [97]:
# preprocessing
companies = pd.Series(data['production_companies'].sum()).value_counts() # проверяем название компании в датасете, тк по 'Warner Bros' найти нечего не удалось
companies.sort_index(ascending=False)[60:70] # видим, что в поиск включать нужно все 4

Warp Films                                  1
Warner Independent Pictures (WIP)           4
Warner Bros. Pictures                      13
Warner Bros. Interactive Entertainment      1
Warner Bros. Animation                      5
Warner Bros.                              168
Wandering Star Pictures                     1
Walt Disney Television Animation            2
Walt Disney Studios Motion Pictures         3
Walt Disney Pictures                       82
dtype: int64

In [99]:
WB_data = data[data['production_companies'].map(lambda x: 'Warner Bros' in '|'.join(x))] # join companies back to string because of 4 different company names include 'Warner Bros' string
WB_year_revenue = WB_data['release_year'].value_counts() # collecting all unique release years

for year in WB_year_revenue.index:
    WB_year_revenue[year] = WB_data[WB_data['release_year'] == year]['revenue'].sum()

WB_year_revenue.sort_values(ascending=False)

2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: release_year, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [23]:
answers['21'] = 9

In [110]:
data['release_month'] = data['release_date'].dt.month
month_movies = data['release_month'].value_counts().sort_index() # creating index of month movies Series

for month in month_movies.index:
    month_movies[month] = len(data[data['release_month'] == month]) # filling it in with movies numbers

month_movies.sort_values(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [24]:
answers['22'] = 450

* FIRST METHOD

In [115]:
%timeit num = len(data[(data['release_month'] >= 6) & (data['release_month'] < 9)]) # or dataframe.count()
num

1.02 ms ± 141 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

450

* SECOND METHOD

In [123]:
%timeit num1 = len(data[data['release_month'].isin(range(6, 9))])
num1

960 µs ± 9.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [25]:
answers['23'] = 'Peter Jackson'

In [128]:
data_winter = data[data['release_month'].isin([12, 1, 2])]
pd.Series(data_winter['director'].sum()).value_counts().sort_values(ascending=False)

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Shawn Levy           4
                    ..
Charles Stone III    1
Peter Howitt         1
James Duffy          1
Rob Letterman        1
Joel Gallen          1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [26]:
answers['24'] = 'Four By Two Productions'

In [131]:
comp_titles = pd.Series(data['production_companies'].sum()).value_counts()

for company in comp_titles.index:
    titles = data[data['production_companies'].map(lambda x: company in x)]['original_title']
    titles = titles.map(lambda x: len(x))
    comp_titles[company] = round(titles.mean())

comp_titles.sort_values(ascending=False)

Four By Two Productions       83
Jim Henson Company, The       59
Dos Corazones                 47
Museum Canada Productions     46
Polsky Films                  46
                              ..
Everest Entertainment          3
Berlanti Productions           3
Ixtlan Productions             2
XM2 Productions                2
Global Entertainment Group     2
Length: 1771, dtype: int64

In [133]:
# let's see how come the average title length is 83 symbols
data[data['production_companies'].map(lambda x: 'Four By Two Productions' in x)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,"[Sacha Baron Cohen, Ken Davitian, Luenell, Pam...",[Larry Charles],"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,[Comedy],"[Twentieth Century Fox Film Corporation, Four ...",2006-11-02,6.4,2006,243572744,11

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [27]:
answers['25'] = 'Midnight Picture Show'

In [138]:
from statistics import mean

comp_descr = pd.Series(data['production_companies'].sum()).value_counts() # creating a list of unique company names (Series.index)
# display(comp_descr)

for company in comp_descr.index:
    temp = list(data[data['production_companies'].map(lambda x: company in x)]['overview'].values) # list of overviews of a certain company
    comp_descr[company] = mean([len(item.split(' ')) for item in temp]) # turning temp into a list of overview lengths, calculating mean length, writing down into Series

comp_descr.sort_values(ascending=False)

Midnight Picture Show                          175
Room 9 Entertainment                           161
Heineken Branded Entertainment                 161
98 MPH Productions                             159
Brookwell-McNamara Entertainment               156
                                              ...
Phantom Four                                    13
Sony Pictures Worldwide Acquisitions (SPWA)     13
London Boulevard                                13
Motion Picture Corporation of America           11
Empire Pictures                                 11
Length: 1771, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [29]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [143]:
votes = data['vote_average'].sort_values(ascending=False)

length = round(len(votes)*0.01)
votes_1percent = votes[0:length]

data_best_vote = data.iloc[list(votes_1percent.index)]
data_best_vote

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825,7
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",[Morten Tyldum],The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]",2014-11-14,8.0,2014,219555708,11
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",2015-06-09,8.0,2015,678708609,6
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",2014-11-05,8.0,2014,456752480,11
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",2015-10-16,8.0,2015,29401758,10
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]",2003-12-01,7.9,2003,1024888979,12
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah...",[Wes Anderson],A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,"[Comedy, Drama]","[Fox Searchlight Pictures, Scott Rudin Product...",2014-02-26,7.9,2014,144600318,2
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",[Martin Scorsese],EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,"[Crime, Drama, Comedy]","[Paramount Pictures, Appian Way, EMJAG Product...",2013-12-25,7.9,2013,292000694,12
370,tt1375666,160000000,825500000,Inception,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",[Christopher Nolan],Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,"[Action, Thriller, Science Fiction, Mystery, A...","[Legendary Pictures, Warner Bros., Syncopy]",2010-07-14,7.9,2010,665500000,7
119,tt2015381,170000000,773312399,Guardians of the Galaxy,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",[James Gunn],All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,"[Action, Science Fiction, Adventure]","[Marvel Studios, Moving Picture Company (MPC),...",2014-07-30,7.9,2014,603312399,7
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",[Christopher Nolan],Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,"[Mystery, Thriller]","[Summit Entertainment, Newmarket Capital Group...",2000-10-11,7.9,2000,30723096,10
128,tt2267998,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",[David Fincher],You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,"[Mystery, Thriller, Drama]","[Twentieth Century Fox Film Corporation, Regen...",2014-10-01,7.9,2014,308330363,10
872,tt0253474,35000000,120072577,The Pianist,"[Adrien Brody, Thomas Kretschmann, Frank Finla...",[Roman Polanski],Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,"[Drama, War]","[Bac Films, Canal+Polska, Heritage Films, Stud...",2002-09-24,7.9,2002,85072577,9
1191,tt2024544,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",[Steve McQueen],The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,"[Drama, History]","[Plan B Entertainment, Regency Enterprises, Ri...",2013-10-18,7.9,2013,167000000,10
283,tt0485947,47000000,3547209,Mr. Nobody,"[Jared Leto, Diane Kruger, Linh Äan Pháº¡m, Sa...",[Jaco Van Dormael],"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,"[Science Fiction, Drama, Romance, Fantasy]","[Pan EuropÃ©enne Production, Virtual Films]",2009-09-11,7.8,2009,-43452791,9
1688,tt0469494,25000000,76181545,There Will Be Blood,"[Daniel Day-Lewis, Paul Dano, Dillon Freasier,...",[Paul Thomas Anderson],There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,[Drama],"[Miramax Films, Ghoulardi Film Company, Paramo...",2007-12-28,7.8,2007,51181545,12
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema, The Saul Zaen...",2002-12-18,7.8,2002,847287400,12
155,tt2980516,15000000,121201940,The Theory of Everything,"[Eddie Redmayne, Felicity Jones, Harry Lloyd, ...",[James Marsh],His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,"[Drama, Romance]",[Working Title Films],2014-11-26,7.8,2014,106201940,11
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,"[Jim Carrey, Kate Winslet, Elijah Wood, Mark R...",[Michel Gondry],I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,"[Science Fiction, Drama, Romance]","[Anonymous Content, This Is That Productions, ...",2004-03-19,7.8,2004,52258126,3

In [144]:
# set of options proposed:
titles1 = ['Inside Out', 'The Dark Knight', '12 Years a Slave']
titles2 = ['BloodRayne', 'The Adventures of Rocky & Bullwinkle']
titles3 = ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down']
titles4 = ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1']
titles5 = ['Upside Down', 'Inside Out', 'Iron Man']

In [145]:
titles_list = [titles1, titles2, titles3, titles4, titles5]

find_set(titles_list)

1

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [30]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [149]:
from itertools import combinations

couples_list = (data['cast'].map(lambda x: list(combinations(x, 2)))).sum()
couples = pd.Series(couples_list)
couples.value_counts(ascending=False)

(Daniel Radcliffe, Rupert Grint)             8
(Daniel Radcliffe, Emma Watson)              8
(Rupert Grint, Emma Watson)                  7
(Ben Stiller, Owen Wilson)                   6
(Johnny Depp, Helena Bonham Carter)          6
                                            ..
(John Cusack, Matt McKenna)                  1
(Amanda Peet, Adam Scott)                    1
(Kristen Johnston, Jane Krakowski)           1
(Philip Seymour Hoffman, Allie Mickelson)    1
(Allison Janney, Cliff Curtis)               1
Length: 18121, dtype: int64

# Submission

In [31]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'tt1298650 Pirates of the Caribbean: On Stranger Tides',
 '2': 'tt0279111 Gods and Generals',
 '3': 'tt1449283 Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'tt0499549 Avatar',
 '7': 'tt1210819 The Lone Ranger',
 '8': 1478,
 '9': 'tt0468569 The Dark Knight',
 '10': 'tt1210819 The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'tt0267626 K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [32]:
# и убедиться что ни чего не пропустил)
len(answers)

27