In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import time
from datetime import datetime

In [83]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1224,tt0481499,135000000,585178928,The Croods,Nicolas Cage|Emma Stone|Ryan Reynolds|Catherin...,Kirk De Micco|Chris Sanders,Meet the first modern family.,The Croods is a prehistoric comedy adventure t...,98,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks Animation,3/20/2013,6.8,2013
203,tt2980706,50000000,151165787,Planes: Fire & Rescue,Dane Cook|Ed Harris|Julie Bowen|Curtis Armstro...,Roberts Gannaway,"When others fly out, heroes fly in.",When world-famous air racer Dusty learns that ...,83,Animation|Comedy|Adventure|Family,Walt Disney Pictures|DisneyToon Studios|Prana ...,7/17/2014,5.9,2014
924,tt0264472,45000000,94935764,Changing Lanes,Ben Affleck|Samuel L. Jackson|Kim Staunton|Ton...,Roger Michell,"An ambitious lawyer, a desperate father, they ...",A rush-hour fender-bender on New York City's c...,89,Action|Adventure|Crime|Thriller,Paramount Pictures,4/7/2002,5.7,2002
1823,tt0181984,26000000,28780255,Boiler Room,Giovanni Ribisi|Vin Diesel|Nia Long|Tom Everet...,Ben Younger,Welcome to the new American dream.,A college dropout gets a job as a broker for a...,118,Crime|Drama|Thriller,New Line Cinema,2/18/2000,6.5,2000
475,tt1321509,21000000,49050886,Death at a Funeral,Zoe Saldana|James Marsden|Martin Lawrence|Pete...,Neil LaBute,This is one sad family.,Aaron's father's funeral is today at the famil...,92,Comedy,Parabolic Pictures|Screen Gems,4/15/2010,5.7,2010

In [ ]:
data.describe()

In [ ]:
data.info()

# Предобработка

In [ ]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [ ]:
# 1
data['release_date'] = pd.to_datetime(data['release_date']) # turning release date strings into a Series with dtype datetime64[ns]
data['release_date']

In [34]:
# 2
data['genres'] = data['genres'].apply(lambda x: x.split('|')) # splitting genres strings into lists
data['genres']

0       [Action, Adventure, Science Fiction, Thriller]
1       [Action, Adventure, Science Fiction, Thriller]
2               [Adventure, Science Fiction, Thriller]
3        [Action, Adventure, Science Fiction, Fantasy]
4                            [Action, Crime, Thriller]
                             ...
1884              [Adventure, Action, Science Fiction]
1885                         [Horror, Family, Foreign]
1886    [Adventure, Animation, Action, Comedy, Family]
1887                                   [Comedy, Drama]
1888                                        [Thriller]
Name: genres, Length: 1889, dtype: object

In [ ]:
# 3
data['director'] = data['director'].apply(lambda x: x.split('|')) # splitting directors strings into lists
data['director']

In [ ]:
# 4
data['cast'] = data['cast'].apply(lambda x: x.split('|')) # splitting actors strings into lists
data['cast']

In [ ]:
# 5
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|')) # splitting prod companies strings into lists
data['production_companies']

In [ ]:
# 6
data['profit'] = data['revenue'] - data['budget'] # add the column with profit
data.head()

In [ ]:
# User functions:

# to question 12
def genres_profit(row, counter):
    """
    Takes a row of a movies dataframe and an outer genres Counter, adds up 1 to each genre if a movie is profitable.
    """
    
    for genre in row['genres']:
        if row['profit'] > 0:
            counter[genre] += 1
    
    return True


# to question 14
def action_dir_count(row, counter):
    """
    Counts directors of action movies in a dataframe row by row. Uses an external collections.Counter.
    """
    
    for director in row['director']:
        if 'Action' in row['genres']:
            counter[director] += 1
    
    return True


# to question 15
def actor_revenue(row):
    """
    Sums up each actor revenues from a dataframe to an external collections.Counter.
    """
    
    for actor in row['cast']:
        actor_revenue_count[actor] += row['revenue']
    
    return True


# to question 11 (second method)
def genres_count(item):
    """
    Counts up genres into an external collections.Counter().
    """
    
    for genre in item: # listing each genre in list
        genres_counter[genre] += 1
    
    return True


# to question 26
def find_set(df, titles_list):
    """
    Returns the number of titles list that fully matches with dataframe containing 1% best voted movies (given df).
    """
    
    for i in range(len(titles_list)):
        temp_data = df[df['original_title'].isin(titles_list[i])]
        
        if len(temp_data) == len(titles_list[i]):
            return titles_list[i]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [ ]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'tt1298650 Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [ ]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['imdb_id', 'original_title', 'budget']]

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [ ]:
answers['2'] = 'tt0279111 Gods and Generals'

In [ ]:
data[data['runtime'] == data['runtime'].max()][['imdb_id', 'original_title', 'runtime']]

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
answers['3'] = 'tt1449283 Winnie the Pooh'

In [ ]:
data[data['runtime'] == data['runtime'].min()][['imdb_id', 'original_title', 'runtime']]

# 4. Какова средняя длительность фильмов?

In [ ]:
answers['4'] = 110

In [ ]:
data['runtime'].mean()

# 5. Каково медианное значение длительности фильмов?

In [ ]:
answers['5'] = 107

In [ ]:
data['runtime'].median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [ ]:
answers['6'] = 'tt0499549 Avatar'

In [ ]:
data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title', 'profit']]

# 7. Какой фильм самый убыточный?

In [ ]:
answers['7'] = 'tt1210819 The Lone Ranger'

In [ ]:
data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title', 'profit']]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [ ]:
answers['8'] = 1478

In [ ]:
len(data[data['profit'] > 0])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [ ]:
answers['9'] = 'tt0468569 The Dark Knight'

* FIRST METHOD: Using the column 'release_date'. If 'release_date' stays string.

In [ ]:
# back to str
data['release_date'] = data['release_date'].dt.strftime("%m/%d/%Y")
released_2008 = data[data['release_date'].str.contains('2008')]

# check the processing time
%timeit released_2008 = data[data['release_date'].str.contains('2008')]

display(
    released_2008[released_2008['revenue'] == released_2008['revenue'].max()]
    [['imdb_id', 'original_title', 'revenue']])

* SECOND METHOD: using the column 'release_date'. If 'release_date' is turned into datetime

In [ ]:
# back to datetime
data['release_date'] = pd.to_datetime(data['release_date'])
released_2008 = data[(data['release_date'] >= '2008-01-01') & (data['release_date'] <= '2008-12-31')]

# check the processing time
%timeit released_2008 = data[(data['release_date'] >= '2008-01-01') & (data['release_date'] <= '2008-12-31')]

display(
    released_2008[released_2008['revenue'] == released_2008['revenue'].max()]
    [['imdb_id', 'original_title', 'revenue']])

The second method is much faster

* THIRD METHOD: Using the column 'release_year' (int64)

In [ ]:
released_2008 = data[data['release_year'] == 2008]

# check the processing time
%timeit released_2008 = data[data['release_year'] == 2008]

display(
    released_2008[released_2008['revenue'] == released_2008['revenue'].max()]
    [['imdb_id', 'original_title', 'revenue']])

The third method is the fastest (avoids strings parcing).

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [ ]:
answers['10'] = 'tt1210819 The Lone Ranger'

* FIRST METHOD: Using the column 'release_date'. If 'release_date' is turned into datetime

In [ ]:
movies_2012_2014 = data[(data['release_date'] >= '2012-01-01') & (data['release_date'] <= '2014-12-31')]

# check the processing time
%timeit movies_2012_2014 = data[(data['release_date'] >= '2012-01-01') & (data['release_date'] <= '2014-12-31')]

display(
    movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()]
    [['imdb_id', 'original_title', 'profit']])

* SECOND METHOD: Using the column 'release_year' (int64)

In [ ]:
movies_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]

# check the processing time
%timeit movies_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]

display(
    movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()]
    [['imdb_id', 'original_title', 'profit']])

* THIRD METHOD - Using pandas.Series.isin() instead of math operators

In [ ]:
movies_2012_2014 = data[data['release_year'].isin(range(2012, 2015))]

# check the processing time
%timeit movies_2012_2014 = data[data['release_year'].isin(range(2012, 2015))]

display(
    movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()]
    [['imdb_id', 'original_title', 'profit']])

Again, working with numerical objects is faster than parcing string dates to datetime objects (but not that much sometimes), therefore using 'release_year' column is better in this case. Moreover, for some reason method 3 is faster that 2 - ?

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [ ]:
answers['11'] = 'Drama'

* FIRST METHOD - Raw, without a function (ineffective)

In [ ]:
genres_counter = Counter()

for genre_list in data['genres']: # listing each list in Series
    for genre in genre_list:
        genres_counter[genre] += 1 # listing each genre in list

genres_counter_ordered = {
    key: value for key, value in sorted(genres_counter.items(), key=lambda item: item[1], reverse=True)
    } # sorting dictionary by values - returning a dictionary
genres_counter_ordered

* Another method of sorting

In [ ]:
genres_counter_ordered_keys = sorted(genres_counter, key=genres_counter.get, reverse=True) # sorting dictionary by values - returning a list of keys
genres_counter_ordered_keys[0]

* SECOND METHOD - Using a user function

In [ ]:
genres_counter = Counter() # external genres Counter

data['genres'].apply(genres_count)

genres_counter_ordered_keys = sorted(genres_counter, key=genres_counter.get, reverse=True) # sorting dictionary by values - returning a list of keys
genres_counter_ordered_keys[0]

* THIRD METHOD - adviced in Slack

In [ ]:
genres = data['genres'].sum() # merging the lists into one
c = Counter(genres)

sorted(c, key=c.get, reverse=True)[0] # decending sorting and getting the first item (dict to list)

* Another method of sorting

In [ ]:
c_sorted = {key: value for key, value in sorted(c.items(), key=lambda item: item[1], reverse=True)} # sorting dict to dict by descending values
c_sorted

* FORTH METHOD - Using pandas.Series (most effective)

In [ ]:
pd.Series(data['genres'].sum()).value_counts(ascending=False)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [ ]:
answers['12'] = 'Drama'

* FIRST METHOD - Using collections.Counter()

In [ ]:
genres_profit_counter = Counter()

data.apply(genres_profit, axis=1, counter=genres_profit_counter) # applying function to the dataframe

genres_profit_counter_ordered = {
    key: value for key, value in sorted(genres_profit_counter.items(), key=lambda item: item[1], reverse=True)
} # sorting dict to dict by descending values

genres_profit_counter_ordered

In [ ]:
data[data['genres'].map(lambda x: 'Foreign' in x) == True] # why genre 'Foreign' is not in 'genres_profit_counter_ordered'
# using usual sorting of df in [] but also using map cause each member of Series contains a list

=> see that their profit is < 0

Ответ получен (драма), ОДНАКО количество фильмов в различных жанрах различно - соответственно, ожидаемо, что прибыльность наиболее часто встречающихся жанров будет выше. Поэтому имеет смысл посчитать прибыльность относительно частоты появления фильмов в каждом из жанров.

In [ ]:
genres_profit_counter_ordered['Foreign'] = 0 # adding profitability of the genre 'Foreign' to 'genres_profit_counter_ordered' (to make lengths of both dicts equal)

In [ ]:
# creating the dataframe of genres profitability
genres = pd.DataFrame({
    'movies_number': [value for value in genres_counter_ordered.values()], # dict from question 11
    'abs_profitability': [value for value in genres_profit_counter_ordered.values()]
})
genres['rel_profitability'] = round(genres['abs_profitability'] / genres['movies_number'], 4)
genres.index = [key for key in genres_counter_ordered.keys()]
genres

In [ ]:
genres.describe()

In [ ]:
genres[genres['rel_profitability'] >= 0.8294] # checking the 4th quartile

Таким образом, из всех выпущенных фильмов в жанрах семейные, фэнтэзи, хоррор, анимационные, документальные наибольшее процентное количество становится прибыльными.

* SECOND METHOD - Using pandas.Series

In [ ]:
profitable = data[data['profit'] > 0]
pd.Series(profitable['genres'].sum()).value_counts(ascending=False)

Second method, working with Series, is much more effective, clear and short.

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [ ]:
answers['13'] = 'Peter Jackson'

In [ ]:
dir_rev = pd.Series(data['director'].sum()) # merging lists of directors into Series; dir_rev = 'director_revenue'
dir_rev = dir_rev.value_counts() # now index contains unique directors; we could also use Series.unique() -> numpy.ndarray of directors

for director in dir_rev.index:
    dir_rev[director] = data[data['director'].map(lambda x: director in x)]['revenue'].sum()

dir_rev.sort_values(ascending=False)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [ ]:
answers['14'] = 'Robert Rodriguez'

FIRST METHOD: Using collections.Counter

In [ ]:
action_dir_counter = Counter()

data.apply(action_dir_count, axis=1, counter=action_dir_counter)

# sorting dict to list of keys by descending values, taking the first key
sorted(action_dir_counter, key=action_dir_counter.get, reverse=True)[0]

In [ ]:
# sorting dict to dict by descending values
# to avoid displaying the whole dict take only values > 5
action_dir_counter_5 = {
    key: value for key, value
    in sorted(action_dir_counter.items(), key=lambda item: item[1], reverse=True)
    if value > 5
}
action_dir_counter_5

* SECOND METHOD

In [ ]:
data_action = data[data['genres'].map(lambda genres: 'Action' in genres)] # using usual sorting of df in [] but also using map cause each cell of 'genres' contains a list
directors = data_action['director'].sum() # merging the Series of lists of directors

a) Using collections.Counter()

In [ ]:
# counting using collections.Counter
dir_count = Counter(directors)

# sorting dict to dict by descending values
# to avoid displaying the whole dict take only values > 5
dir_count_sorted_5 = {
    key: value for key, value
    in sorted(dir_count.items(), key=lambda item: item[1], reverse=True)
    if value > 5
}
dir_count_sorted_5

b) Using Series.value_counts()

In [ ]:
# counting using pd.Series.value_counts()
directors = pd.Series(directors)

directors.value_counts(ascending=False)

Second method with value_counts() is preferable.

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [ ]:
answers['15'] = 'Chris Hemsworth'

In [ ]:
data_2012 = data[data['release_year'] == 2012]

* FIRST METHOD - Using collections.Counter()

In [ ]:
actor_revenue_count = Counter()

data_2012.apply(actor_revenue, axis=1)

# getting only several first items
actor_revenue_high = {
    key: value for key, value
    in sorted(actor_revenue_count.items(), key=lambda item: item[1], reverse=True)
    if value > 1112234366
}

actor_revenue_high

* SECOND METHOD - Using pd.Series.value_counts()

In [ ]:
cast = pd.Series(data_2012['cast'].sum())
cast = cast.value_counts(ascending=False)

for actor in cast.index:
    cast[actor] = data_2012[data_2012['cast'].map(lambda x: actor in x)]['revenue'].sum() # sorting the rows containing every certain actor out of the dataframe, summing up their revenues

cast.sort_values(ascending=False)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
answers['16'] = 'Matt Damon'

In [ ]:
high_budget_data = data[data['budget'] > data['budget'].mean()]
pd.Series(high_budget_data['cast'].sum()).value_counts(ascending=False)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [ ]:
answers['17'] = 'Action'

In [ ]:
NCage_data = data[data['cast'].map(lambda x: 'Nicolas Cage' in x)]
pd.Series(NCage_data['genres'].sum()).value_counts(ascending=False)

# 18. Самый убыточный фильм от Paramount Pictures

In [ ]:
answers['18'] = 'tt0267626 K-19: The Widowmaker'

In [ ]:
ParPic_data = data[data['production_companies'].map(lambda x: 'Paramount Pictures' in x)]
ParPic_data[ParPic_data['profit'] == ParPic_data['profit'].min()][['imdb_id', 'original_title', 'profit']]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [ ]:
answers['19'] = 2015

* FIRST METHOD - Using pandas.Series

In [ ]:
year_revenue = data['release_year'].value_counts()

for year in year_revenue.index:
    year_revenue[year] = data[data['release_year'] == year]['revenue'].sum()

year_revenue.sort_values(ascending=False)

* SECOND METHOD - Using collections.Counter()

In [ ]:
year_revenue_dict = Counter()

for year in data['release_year'].value_counts().index:
    year_revenue_dict[year] = data[data['release_year'] == year]['revenue'].sum()

year_revenue_dict = {
    key: value for key, value in sorted(year_revenue_dict.items(), key=lambda item: item[1], reverse=True)
} # sorting dict to dict by descending values

year_revenue_dict

# 20. Какой самый прибыльный год для студии Warner Bros?

In [ ]:
answers['20'] = 2014

In [ ]:
# preprocessing
companies = pd.Series(data['production_companies'].sum()).value_counts() # проверяем название компании в датасете, тк по 'Warner Bros' найти нечего не удалось
companies.sort_index(ascending=False)[60:70] # видим, что в поиск включать нужно все 4

In [ ]:
WB_data = data[data['production_companies'].map(lambda x: 'Warner Bros' in '|'.join(x))] # join companies back to string because of 4 different company names include 'Warner Bros' string
WB_year_revenue = WB_data['release_year'].value_counts() # collecting all unique release years

for year in WB_year_revenue.index:
    WB_year_revenue[year] = WB_data[WB_data['release_year'] == year]['revenue'].sum()

WB_year_revenue.sort_values(ascending=False)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
answers['21'] = 9

In [ ]:
data['release_month'] = data['release_date'].dt.month
month_movies = data['release_month'].value_counts().sort_index() # creating index of month movies Series

for month in month_movies.index:
    month_movies[month] = len(data[data['release_month'] == month]) # filling it in with movies numbers

month_movies.sort_values(ascending=False)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
answers['22'] = 450

* FIRST METHOD

In [ ]:
num = len(data[(data['release_month'] >= 6) & (data['release_month'] < 9)]) # or dataframe.count()

# check the processing time
%timeit num = len(data[(data['release_month'] >= 6) & (data['release_month'] < 9)]) # or dataframe.count()

num

* SECOND METHOD

In [ ]:
num1 = len(data[data['release_month'].isin(range(6, 9))])

# check the processing time
%timeit num1 = len(data[data['release_month'].isin(range(6, 9))])

num1

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
answers['23'] = 'Peter Jackson'

In [ ]:
data_winter = data[data['release_month'].isin([12, 1, 2])]
pd.Series(data_winter['director'].sum()).value_counts().sort_values(ascending=False)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
answers['24'] = 'Four By Two Productions'

In [ ]:
comp_titles = pd.Series(data['production_companies'].sum()).value_counts()

for company in comp_titles.index:
    titles = data[data['production_companies'].map(lambda x: company in x)]['original_title']
    titles = titles.map(lambda x: len(x))
    comp_titles[company] = round(titles.mean())

comp_titles.sort_values(ascending=False)

In [ ]:
# let's see how come the average title length is 83 symbols
data[data['production_companies'].map(lambda x: 'Four By Two Productions' in x)]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
answers['25'] = 'Midnight Picture Show'

In [ ]:
from statistics import mean

comp_descr = pd.Series(data['production_companies'].sum()).value_counts() # creating a list of unique company names (Series.index)
# display(comp_descr)

for company in comp_descr.index:
    temp = list(data[data['production_companies'].map(lambda x: company in x)]['overview'].values) # list of overviews of a certain company
    comp_descr[company] = mean([len(item.split(' ')) for item in temp]) # turning temp into a list of overview lengths, calculating mean length, writing down into Series

comp_descr.sort_values(ascending=False)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [ ]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [ ]:
# set of options proposed:
titles1 = ['Inside Out', 'The Dark Knight', '12 Years a Slave']
titles2 = ['BloodRayne', 'The Adventures of Rocky & Bullwinkle']
titles3 = ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down']
titles4 = ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1']
titles5 = ['Upside Down', 'Inside Out', 'Iron Man']

titles_list = [titles1, titles2, titles3, titles4, titles5]

* FIRST METHOD - Simply

In [ ]:
votes = data['vote_average'].sort_values(ascending=False)

length = round(len(votes)*0.01)
votes_1percent = votes[:length]

data_best1 = data.iloc[list(votes_1percent.index)]

print('The answer is: {}'.format(find_set(data_best1, titles_list)))

display(data_best1.head())

* SECOND METHOD - Using pandas tools

In [ ]:
data_best2 = data.sort_values(by='vote_average', axis=0, ascending=False).iloc[:round(len(data)*0.01)]

print('The answer is: {}'.format(find_set(data_best2, titles_list)))

display(data_best2.head())

* THIRD METHOD - Using np.quantile()

In [ ]:
quantile = np.quantile(data['vote_average'], 0.99)
data_best3 = data[data['vote_average'] >= quantile]

print('The answer is: {}'.format(find_set(data_best3, titles_list)))

display(data_best3.head())

**METHODS CHECK-UP**<br><br>
Let's check sorted df lengths and vote ranges of movies contained:

In [ ]:
print(len(data_best1), len(data_best2), len(data_best3))
print(data_best1['vote_average'].max(), data_best2['vote_average'].max(), data_best3['vote_average'].max())
print(data_best1['vote_average'].min(), data_best2['vote_average'].min(), data_best3['vote_average'].min())

As we see, the vote ranges are the same, whereas the dataframe lengths are different. This is due to the concept mistake made while sorting movies out: the task was to sort out <i>1% of best by vote</i> movies. In the fisrt two methods we took 1% of the <i>total number</i> of movies whereas we were supposed to take movies by <i>the vote value</i>. Therefore, the third method using 0.99-quantile value is the most correct one.

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [ ]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [ ]:
from itertools import combinations

couples_list = (data['cast'].map(lambda x: list(combinations(x, 2)))).sum()
couples = pd.Series(couples_list)
couples.value_counts(ascending=False)

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)