In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import time
from datetime import datetime

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
275,tt1127180,30000000,90842646,Drag Me to Hell,Alison Lohman|Justin Long|Lorna Raver|Dileep R...,Sam Raimi,"Christine Brown has a good job, a great boyfri...",After denying a woman the extension she needs ...,99,Horror|Thriller,Universal Pictures|Ghost House Pictures|Mandat...,3/15/2009,6.1,2009
817,tt0993842,30000000,63782078,Hanna,Saoirse Ronan|Eric Bana|Vicky Krieps|Cate Blan...,Joe Wright,Adapt or die.,A 16-year-old girl raised by her father to be ...,111,Action|Thriller|Adventure,Focus Features|Neunte Babelsberg Film|Focus Fe...,4/7/2011,6.5,2011
690,tt0949731,60000000,163403799,The Happening,Mark Wahlberg|Zooey Deschanel|John Leguizamo|S...,M. Night Shyamalan,We've Sensed It. We've Seen The Signs. Now... ...,When a deadly airborne virus threatens to wipe...,91,Thriller|Science Fiction,Spyglass Entertainment|Twentieth Century Fox F...,6/11/2008,4.8,2008
26,tt2637276,68000000,215863606,Ted 2,Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...,Seth MacFarlane,"Ted is Coming, Again.",Newlywed couple Ted and Tami-Lynn want to have...,115,Comedy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/25/2015,6.3,2015
1757,tt0804522,27500000,24748670,Rendition,Omar Metwally|Reese Witherspoon|Jake Gyllenhaa...,Gavin Hood,What if someone you love...just disappeared?,"When an Egyptian terrorism suspect ""disappears...",120,Drama|Thriller,Anonymous Content|Level 1 Entertainment|MID Fo...,9/7/2007,5.7,2007

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [3]:
# 1
data['release_date'] = pd.to_datetime(data['release_date']) # turning release date strings into a Series with dtype datetime64[ns]
data['release_date']

0      2015-06-09
1      2015-05-13
2      2015-03-18
3      2015-12-15
4      2015-04-01
          ...
1884   2000-07-13
1885   2000-10-27
1886   2000-06-30
1887   2000-02-16
1888   2000-07-19
Name: release_date, Length: 1889, dtype: datetime64[ns]

In [4]:
# 2
data['genres'] = data['genres'].apply(lambda x: x.split('|')) # splitting genres strings into lists
data['genres']

0       [Action, Adventure, Science Fiction, Thriller]
1       [Action, Adventure, Science Fiction, Thriller]
2               [Adventure, Science Fiction, Thriller]
3        [Action, Adventure, Science Fiction, Fantasy]
4                            [Action, Crime, Thriller]
                             ...
1884              [Adventure, Action, Science Fiction]
1885                         [Horror, Family, Foreign]
1886    [Adventure, Animation, Action, Comedy, Family]
1887                                   [Comedy, Drama]
1888                                        [Thriller]
Name: genres, Length: 1889, dtype: object

In [5]:
# 3
data['director'] = data['director'].apply(lambda x: x.split('|')) # splitting directors strings into lists
data['director']

0        [Colin Trevorrow]
1          [George Miller]
2       [Robert Schwentke]
3            [J.J. Abrams]
4              [James Wan]
               ...
1884        [Bryan Singer]
1885            [Uli Edel]
1886         [Des McAnuff]
1887        [Diane Keaton]
1888        [Mary Lambert]
Name: director, Length: 1889, dtype: object

In [6]:
# 4
data['cast'] = data['cast'].apply(lambda x: x.split('|')) # splitting actors strings into lists
data['cast']

0       [Chris Pratt, Bryce Dallas Howard, Irrfan Khan...
1       [Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...
2       [Shailene Woodley, Theo James, Kate Winslet, A...
3       [Harrison Ford, Mark Hamill, Carrie Fisher, Ad...
4       [Vin Diesel, Paul Walker, Jason Statham, Miche...
                              ...
1884    [Patrick Stewart, Hugh Jackman, Ian McKellen, ...
1885    [Richard E. Grant, Jonathan Lipnicki, Jim Cart...
1886    [Rene Russo, Jason Alexander, Piper Perabo, Ra...
1887    [Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...
1888    [Susan Ward, Lori Heuring, Matthew Settle, Nat...
Name: cast, Length: 1889, dtype: object

In [7]:
# 5
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|')) # splitting prod companies strings into lists
data['production_companies']

0       [Universal Studios, Amblin Entertainment, Lege...
1       [Village Roadshow Pictures, Kennedy Miller Pro...
2       [Summit Entertainment, Mandeville Films, Red W...
3           [Lucasfilm, Truenorth Productions, Bad Robot]
4       [Universal Pictures, Original Film, Media Righ...
                              ...
1884    [Twentieth Century Fox Film Corporation, Donne...
1885                                    [New Line Cinema]
1886    [Universal Pictures, Capella International, KC...
1887    [Laurence Mark Productions, Columbia Pictures ...
1888                              [Warner Bros. Pictures]
Name: production_companies, Length: 1889, dtype: object

In [8]:
# 6
data['profit'] = data['revenue'] - data['budget'] # add the column with profit
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",[Colin Trevorrow],The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]","[Universal Studios, Amblin Entertainment, Lege...",2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,"[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",[George Miller],What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,"[Action, Adventure, Science Fiction, Thriller]","[Village Roadshow Pictures, Kennedy Miller Pro...",2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,"[Shailene Woodley, Theo James, Kate Winslet, A...",[Robert Schwentke],One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,"[Adventure, Science Fiction, Thriller]","[Summit Entertainment, Mandeville Films, Red W...",2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",[J.J. Abrams],Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,"[Vin Diesel, Paul Walker, Jason Statham, Miche...",[James Wan],Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]","[Universal Pictures, Original Film, Media Righ...",2015-04-01,7.3,2015,1316249360

In [69]:
# User functions:

# to question 12
def genres_profit(row, counter):
    """
    Takes a row of a movies dataframe and an outer genres Counter, adds up 1 to each genre if a movie is profitable.
    """
    
    for genre in row['genres']:
        if row['profit'] > 0:
            counter[genre] += 1
    
    return True


# to question 14
def action_dir_count(row, counter):
    """
    Counts directors of action movies in a dataframe row by row. Uses an external collections.Counter.
    """
    
    for director in row['director']:
        if 'Action' in row['genres']:
            counter[director] += 1
    
    return True


# to question 15
def actor_revenue(row):
    """
    Sums up each actor revenues from a dataframe to an external collections.Counter.
    """
    
    for actor in row['cast']:
        actor_revenue_count[actor] += row['revenue']
    
    return True


# to question 11 (second method)
def genres_count(item):
    """
    Counts up genres into an external collections.Counter().
    """
    
    for genre in item: # listing each genre in list
        genres_counter[genre] += 1
    
    return True


# to question 26
def find_set(df, titles_list):
    """
    Returns the number of titles list that fully matches with dataframe containing 1% best voted movies (given df).
    """
    
    for i in range(len(titles_list)):
        temp_data = df[df['original_title'].isin(titles_list[i])]
        
        if len(temp_data) == len(titles_list[i]):
            return titles_list[i]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [3]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'tt1298650 Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [15]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [4]:
answers['2'] = 'tt0279111 Gods and Generals'

In [17]:
data[data['runtime'] == data['runtime'].max()][['imdb_id', 'original_title', 'runtime']]

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [5]:
answers['3'] = 'tt1449283 Winnie the Pooh'

In [19]:
data[data['runtime'] == data['runtime'].min()][['imdb_id', 'original_title', 'runtime']]

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [6]:
answers['4'] = 110

In [21]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [7]:
answers['5'] = 107

In [23]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [8]:
answers['6'] = 'tt0499549 Avatar'

In [55]:
data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title', 'profit']]

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [9]:
answers['7'] = 'tt1210819 The Lone Ranger'

In [27]:
data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title', 'profit']]

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [10]:
answers['8'] = 1478

In [31]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [11]:
answers['9'] = 'tt0468569 The Dark Knight'

* FIRST METHOD: Using the column 'release_date'. If 'release_date' stays string.

In [48]:
# back to str
data['release_date'] = data['release_date'].dt.strftime("%m/%d/%Y")
released_2008 = data[data['release_date'].str.contains('2008')]

# check the processing time
%timeit released_2008 = data[data['release_date'].str.contains('2008')]

display(
    released_2008[released_2008['revenue'] == released_2008['revenue'].max()]
    [['imdb_id', 'original_title', 'revenue']])

1.52 ms ± 300 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

* SECOND METHOD: using the column 'release_date'. If 'release_date' is turned into datetime

In [50]:
# back to datetime
data['release_date'] = pd.to_datetime(data['release_date'])
released_2008 = data[(data['release_date'] >= '2008-01-01') & (data['release_date'] <= '2008-12-31')]

# check the processing time
%timeit released_2008 = data[(data['release_date'] >= '2008-01-01') & (data['release_date'] <= '2008-12-31')]

display(
    released_2008[released_2008['revenue'] == released_2008['revenue'].max()]
    [['imdb_id', 'original_title', 'revenue']])

1 ms ± 946 ns per loop (mean ± std. dev. of 7 runs, 1000 loops each)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

The second method is much faster

* THIRD METHOD: Using the column 'release_year' (int64)

In [52]:
released_2008 = data[data['release_year'] == 2008]

# check the processing time
%timeit released_2008 = data[data['release_year'] == 2008]

display(
    released_2008[released_2008['revenue'] == released_2008['revenue'].max()]
    [['imdb_id', 'original_title', 'revenue']])

436 µs ± 5.35 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

The third method is the fastest (avoids strings parcing).

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [12]:
answers['10'] = 'tt1210819 The Lone Ranger'

* FIRST METHOD: Using the column 'release_date'. If 'release_date' is turned into datetime

In [53]:
movies_2012_2014 = data[(data['release_date'] >= '2012-01-01') & (data['release_date'] <= '2014-12-31')]

# check the processing time
%timeit movies_2012_2014 = data[(data['release_date'] >= '2012-01-01') & (data['release_date'] <= '2014-12-31')]

display(
    movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()]
    [['imdb_id', 'original_title', 'profit']])

1.06 ms ± 1.69 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

* SECOND METHOD: Using the column 'release_year' (int64)

In [58]:
movies_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]

# check the processing time
%timeit movies_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]

display(
    movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()]
    [['imdb_id', 'original_title', 'profit']])

1.04 ms ± 58.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

* THIRD METHOD - Using pandas.Series.isin() instead of math operators

In [57]:
movies_2012_2014 = data[data['release_year'].isin(range(2012, 2015))]

# check the processing time
%timeit movies_2012_2014 = data[data['release_year'].isin(range(2012, 2015))]

display(
    movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()]
    [['imdb_id', 'original_title', 'profit']])

592 µs ± 17 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

Again, working with numerical objects is faster than parcing string dates to datetime objects (but not that much sometimes), therefore using 'release_year' column is better in this case. Moreover, for some reason method 3 is faster that 2 - ?

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [13]:
answers['11'] = 'Drama'

* FIRST METHOD - Raw, without a function (ineffective)

In [44]:
genres_counter = Counter()

for genre_list in data['genres']: # listing each list in Series
    for genre in genre_list:
        genres_counter[genre] += 1 # listing each genre in list

genres_counter_ordered = {
    key: value for key, value in sorted(genres_counter.items(), key=lambda item: item[1], reverse=True)
    } # sorting dictionary by values - returning a dictionary
genres_counter_ordered

{'Drama': 782,
 'Comedy': 683,
 'Thriller': 596,
 'Action': 582,
 'Adventure': 415,
 'Crime': 315,
 'Romance': 308,
 'Family': 260,
 'Science Fiction': 248,
 'Fantasy': 222,
 'Horror': 176,
 'Mystery': 168,
 'Animation': 139,
 'Music': 64,
 'History': 62,
 'War': 58,
 'Western': 19,
 'Documentary': 8,
 'Foreign': 2}

* Another method of sorting

In [46]:
genres_counter_ordered_keys = sorted(genres_counter, key=genres_counter.get, reverse=True) # sorting dictionary by values - returning a list of keys
genres_counter_ordered_keys[0]

'Drama'

* SECOND METHOD - Using a user function

In [124]:
genres_counter = Counter() # external genres Counter

data['genres'].apply(genres_count)

genres_counter_ordered_keys = sorted(genres_counter, key=genres_counter.get, reverse=True) # sorting dictionary by values - returning a list of keys
genres_counter_ordered_keys[0]

'Drama'

* THIRD METHOD - adviced in Slack

In [20]:
genres = data['genres'].sum() # merging the lists into one
c = Counter(genres)

sorted(c, key=c.get, reverse=True)[0] # decending sorting and getting the first item (dict to list)

'Drama'

* Another method of sorting

In [51]:
c_sorted = {key: value for key, value in sorted(c.items(), key=lambda item: item[1], reverse=True)} # sorting dict to dict by descending values
c_sorted

{'Drama': 782,
 'Comedy': 683,
 'Thriller': 596,
 'Action': 582,
 'Adventure': 415,
 'Crime': 315,
 'Romance': 308,
 'Family': 260,
 'Science Fiction': 248,
 'Fantasy': 222,
 'Horror': 176,
 'Mystery': 168,
 'Animation': 139,
 'Music': 64,
 'History': 62,
 'War': 58,
 'Western': 19,
 'Documentary': 8,
 'Foreign': 2}

* FORTH METHOD - Using pandas.Series (most effective)

In [126]:
pd.Series(data['genres'].sum()).value_counts(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [14]:
answers['12'] = 'Drama'

* FIRST METHOD - Using collections.Counter()

In [47]:
genres_profit_counter = Counter()

data.apply(genres_profit, axis=1, counter=genres_profit_counter) # applying function to the dataframe

genres_profit_counter_ordered = {
    key: value for key, value in sorted(genres_profit_counter.items(), key=lambda item: item[1], reverse=True)
} # sorting dict to dict by descending values

genres_profit_counter_ordered

{'Drama': 560,
 'Comedy': 551,
 'Thriller': 446,
 'Action': 444,
 'Adventure': 337,
 'Romance': 242,
 'Crime': 231,
 'Family': 226,
 'Science Fiction': 195,
 'Fantasy': 188,
 'Horror': 150,
 'Animation': 120,
 'Mystery': 119,
 'Music': 47,
 'History': 46,
 'War': 41,
 'Western': 12,
 'Documentary': 7}

In [56]:
data[data['genres'].map(lambda x: 'Foreign' in x) == True] # why genre 'Foreign' is not in 'genres_profit_counter_ordered'
# using usual sorting of df in [] but also using map cause each member of Series contains a list

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
494,tt1396208,10000000,5000000,Action Replayy,"[Akshay Kumar, Aishwarya Rai Bachchan, Neha Dh...",[Vipul Amrutlal Shah],Romance 1970s style,A young man tries to revive his parents' wilti...,100,"[Drama, Comedy, Romance, Foreign]","[PVR Cinemas, Hari Om Entertainment Co., Block...",2010-11-05,4.9,2010,-5000000
1885,tt0192255,22000000,13555988,The Little Vampire,"[Richard E. Grant, Jonathan Lipnicki, Jim Cart...",[Uli Edel],"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,"[Horror, Family, Foreign]",[New Line Cinema],2000-10-27,6.4,2000,-8444012

=> see that their profit is < 0

Ответ получен (драма), ОДНАКО количество фильмов в различных жанрах различно - соответственно, ожидаемо, что прибыльность наиболее часто встречающихся жанров будет выше. Поэтому имеет смысл посчитать прибыльность относительно частоты появления фильмов в каждом из жанров.

In [57]:
genres_profit_counter_ordered['Foreign'] = 0 # adding profitability of the genre 'Foreign' to 'genres_profit_counter_ordered' (to make lengths of both dicts equal)

In [58]:
# creating the dataframe of genres profitability
genres = pd.DataFrame({
    'movies_number': [value for value in genres_counter_ordered.values()], # dict from question 11
    'abs_profitability': [value for value in genres_profit_counter_ordered.values()]
})
genres['rel_profitability'] = round(genres['abs_profitability'] / genres['movies_number'], 4)
genres.index = [key for key in genres_counter_ordered.keys()]
genres

                 movies_number  abs_profitability  rel_profitability
Drama                      782                560             0.7161
Comedy                     683                551             0.8067
Thriller                   596                446             0.7483
Action                     582                444             0.7629
Adventure                  415                337             0.8120
Crime                      315                242             0.7683
Romance                    308                231             0.7500
Family                     260                226             0.8692
Science Fiction            248                195             0.7863
Fantasy                    222                188             0.8468
Horror                     176                150             0.8523
Mystery                    168                120             0.7143
Animation                  139                119             0.8561
Music                       64                 47             0.7344
History                     62                 46             0.7419
War                         58                 41             0.7069
Western                     19                 12             0.6316
Documentary                  8                  7             0.8750
Foreign                      2                  0             0.0000

In [59]:
genres.describe()

       movies_number  abs_profitability  rel_profitability
count      19.000000          19.000000          19.000000
mean      268.789474         208.526316           0.735742
std       239.699019         181.700415           0.189598
min         2.000000           0.000000           0.000000
25%        63.000000          46.500000           0.725250
50%       222.000000         188.000000           0.762900
75%       365.000000         289.500000           0.829400
max       782.000000         560.000000           0.875000

In [60]:
genres[genres['rel_profitability'] >= 0.8294] # checking the 4th quartile

             movies_number  abs_profitability  rel_profitability
Family                 260                226             0.8692
Fantasy                222                188             0.8468
Horror                 176                150             0.8523
Animation              139                119             0.8561
Documentary              8                  7             0.8750

Таким образом, из всех выпущенных фильмов в жанрах семейные, фэнтэзи, хоррор, анимационные, документальные наибольшее процентное количество становится прибыльными.

* SECOND METHOD - Using pandas.Series

In [66]:
profitable = data[data['profit'] > 0]
pd.Series(profitable['genres'].sum()).value_counts(ascending=False)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

Second method, working with Series, is much more effective, clear and short.

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [15]:
answers['13'] = 'Peter Jackson'

In [111]:
dir_rev = pd.Series(data['director'].sum()) # merging lists of directors into Series; dir_rev = 'director_revenue'
dir_rev = dir_rev.value_counts() # now index contains unique directors; we could also use Series.unique() -> numpy.ndarray of directors

for director in dir_rev.index:
    dir_rev[director] = data[data['director'].map(lambda x: director in x)]['revenue'].sum()

dir_rev.sort_values(ascending=False)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [16]:
answers['14'] = 'Robert Rodriguez'

FIRST METHOD: Using collections.Counter

In [12]:
action_dir_counter = Counter()

data.apply(action_dir_count, axis=1, counter=action_dir_counter)

# sorting dict to list of keys by descending values, taking the first key
sorted(action_dir_counter, key=action_dir_counter.get, reverse=True)[0]

'Robert Rodriguez'

In [23]:
# sorting dict to dict by descending values
# to avoid displaying the whole dict take only values > 5
action_dir_counter_5 = {
    key: value for key, value
    in sorted(action_dir_counter.items(), key=lambda item: item[1], reverse=True)
    if value > 5
}
action_dir_counter_5

{'Robert Rodriguez': 9,
 'Michael Bay': 7,
 'Paul W.S. Anderson': 7,
 'Antoine Fuqua': 6,
 'Ridley Scott': 6}

* SECOND METHOD

In [22]:
data_action = data[data['genres'].map(lambda genres: 'Action' in genres)] # using usual sorting of df in [] but also using map cause each cell of 'genres' contains a list
directors = data_action['director'].sum() # merging the Series of lists of directors

a) Using collections.Counter()

In [23]:
# counting using collections.Counter
dir_count = Counter(directors)

# sorting dict to dict by descending values
# to avoid displaying the whole dict take only values > 5
dir_count_sorted_5 = {
    key: value for key, value
    in sorted(dir_count.items(), key=lambda item: item[1], reverse=True)
    if value > 5
}
dir_count_sorted_5

{'Robert Rodriguez': 9,
 'Michael Bay': 7,
 'Paul W.S. Anderson': 7,
 'Antoine Fuqua': 6,
 'Ridley Scott': 6}

b) Using Series.value_counts()

In [77]:
# counting using pd.Series.value_counts()
directors = pd.Series(directors)

directors.value_counts(ascending=False)

Robert Rodriguez         9
Paul W.S. Anderson       7
Michael Bay              7
Ridley Scott             6
Antoine Fuqua            6
                        ..
Vicky Jenson             1
Nicolas Winding Refn     1
Anthony Hemingway        1
Corey Yuen Kwai          1
Christopher McQuarrie    1
Length: 364, dtype: int64

Second method with value_counts() is preferable.

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [17]:
answers['15'] = 'Chris Hemsworth'

In [31]:
data_2012 = data[data['release_year'] == 2012]

* FIRST METHOD - Using collections.Counter()

In [36]:
actor_revenue_count = Counter()

data_2012.apply(actor_revenue, axis=1)

# getting only several first items
actor_revenue_high = {
    key: value for key, value
    in sorted(actor_revenue_count.items(), key=lambda item: item[1], reverse=True)
    if value > 1112234366
}

actor_revenue_high

{'Chris Hemsworth': 2027450773,
 'Denis Leary': 1629460639,
 'Anne Hathaway': 1522851057,
 'Robert Downey Jr.': 1519557910,
 'Chris Evans': 1519557910,
 'Mark Ruffalo': 1519557910,
 'Scarlett Johansson': 1519557910,
 'Ralph Fiennes': 1409561013,
 'Sacha Baron Cohen': 1368110577,
 'Kristen Stewart': 1234384318,
 'Emma Thompson': 1163009983,
 'Tom Hardy': 1134717867}

* SECOND METHOD - Using pd.Series.value_counts()

In [82]:
cast = pd.Series(data_2012['cast'].sum())
cast = cast.value_counts(ascending=False)

for actor in cast.index:
    cast[actor] = data_2012[data_2012['cast'].map(lambda x: actor in x)]['revenue'].sum() # sorting the rows containing every certain actor out of the dataframe, summing up their revenues

cast.sort_values(ascending=False)

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Scarlett Johansson    1519557910
Chris Evans           1519557910
                         ...
Jason Bateman            3428048
Danny Huston             2106557
Sami Gayle               2106557
Nicolas Cage             2106557
Josh Lucas               2106557
Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [18]:
answers['16'] = 'Matt Damon'

In [85]:
high_budget_data = data[data['budget'] > data['budget'].mean()]
pd.Series(high_budget_data['cast'].sum()).value_counts(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Eddie Murphy         15
                     ..
Joss Ackland          1
Bridget Moynahan      1
Jason Schwartzman     1
Johnny Strong         1
Betty Buckley         1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [19]:
answers['17'] = 'Action'

In [87]:
NCage_data = data[data['cast'].map(lambda x: 'Nicolas Cage' in x)]
pd.Series(NCage_data['genres'].sum()).value_counts(ascending=False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
Romance             1
War                 1
Horror              1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [20]:
answers['18'] = 'tt0267626 K-19: The Widowmaker'

In [89]:
ParPic_data = data[data['production_companies'].map(lambda x: 'Paramount Pictures' in x)]
ParPic_data[ParPic_data['profit'] == ParPic_data['profit'].min()][['imdb_id', 'original_title', 'profit']]

       imdb_id        original_title    profit
925  tt0267626  K-19: The Widowmaker -64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [21]:
answers['19'] = 2015

* FIRST METHOD - Using pandas.Series

In [91]:
year_revenue = data['release_year'].value_counts()

for year in year_revenue.index:
    year_revenue[year] = data[data['release_year'] == year]['revenue'].sum()

year_revenue.sort_values(ascending=False)

2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: release_year, dtype: int64

* SECOND METHOD - Using collections.Counter()

In [94]:
year_revenue_dict = Counter()

for year in data['release_year'].value_counts().index:
    year_revenue_dict[year] = data[data['release_year'] == year]['revenue'].sum()

year_revenue_dict = {
    key: value for key, value in sorted(year_revenue_dict.items(), key=lambda item: item[1], reverse=True)
} # sorting dict to dict by descending values

year_revenue_dict

{2015: 25449202382,
 2014: 23405862953,
 2013: 23213799791,
 2012: 23079001687,
 2011: 22676791872,
 2010: 21071204961,
 2009: 20261791024,
 2008: 18252781990,
 2007: 18162406801,
 2004: 15663430720,
 2005: 15309425558,
 2006: 14775042320,
 2003: 14346123312,
 2002: 14136361487,
 2001: 13017764865,
 2000: 10664099805}

# 20. Какой самый прибыльный год для студии Warner Bros?

In [22]:
answers['20'] = 2014

In [97]:
# preprocessing
companies = pd.Series(data['production_companies'].sum()).value_counts() # проверяем название компании в датасете, тк по 'Warner Bros' найти нечего не удалось
companies.sort_index(ascending=False)[60:70] # видим, что в поиск включать нужно все 4

Warp Films                                  1
Warner Independent Pictures (WIP)           4
Warner Bros. Pictures                      13
Warner Bros. Interactive Entertainment      1
Warner Bros. Animation                      5
Warner Bros.                              168
Wandering Star Pictures                     1
Walt Disney Television Animation            2
Walt Disney Studios Motion Pictures         3
Walt Disney Pictures                       82
dtype: int64

In [99]:
WB_data = data[data['production_companies'].map(lambda x: 'Warner Bros' in '|'.join(x))] # join companies back to string because of 4 different company names include 'Warner Bros' string
WB_year_revenue = WB_data['release_year'].value_counts() # collecting all unique release years

for year in WB_year_revenue.index:
    WB_year_revenue[year] = WB_data[WB_data['release_year'] == year]['revenue'].sum()

WB_year_revenue.sort_values(ascending=False)

2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: release_year, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [23]:
answers['21'] = 9

In [110]:
data['release_month'] = data['release_date'].dt.month
month_movies = data['release_month'].value_counts().sort_index() # creating index of month movies Series

for month in month_movies.index:
    month_movies[month] = len(data[data['release_month'] == month]) # filling it in with movies numbers

month_movies.sort_values(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [24]:
answers['22'] = 450

* FIRST METHOD

In [115]:
%timeit num = len(data[(data['release_month'] >= 6) & (data['release_month'] < 9)]) # or dataframe.count()
num

1.02 ms ± 141 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

450

* SECOND METHOD

In [123]:
%timeit num1 = len(data[data['release_month'].isin(range(6, 9))])
num1

960 µs ± 9.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [25]:
answers['23'] = 'Peter Jackson'

In [128]:
data_winter = data[data['release_month'].isin([12, 1, 2])]
pd.Series(data_winter['director'].sum()).value_counts().sort_values(ascending=False)

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Shawn Levy           4
                    ..
Charles Stone III    1
Peter Howitt         1
James Duffy          1
Rob Letterman        1
Joel Gallen          1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [26]:
answers['24'] = 'Four By Two Productions'

In [131]:
comp_titles = pd.Series(data['production_companies'].sum()).value_counts()

for company in comp_titles.index:
    titles = data[data['production_companies'].map(lambda x: company in x)]['original_title']
    titles = titles.map(lambda x: len(x))
    comp_titles[company] = round(titles.mean())

comp_titles.sort_values(ascending=False)

Four By Two Productions       83
Jim Henson Company, The       59
Dos Corazones                 47
Museum Canada Productions     46
Polsky Films                  46
                              ..
Everest Entertainment          3
Berlanti Productions           3
Ixtlan Productions             2
XM2 Productions                2
Global Entertainment Group     2
Length: 1771, dtype: int64

In [133]:
# let's see how come the average title length is 83 symbols
data[data['production_companies'].map(lambda x: 'Four By Two Productions' in x)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,"[Sacha Baron Cohen, Ken Davitian, Luenell, Pam...",[Larry Charles],"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,[Comedy],"[Twentieth Century Fox Film Corporation, Four ...",2006-11-02,6.4,2006,243572744,11

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [27]:
answers['25'] = 'Midnight Picture Show'

In [138]:
from statistics import mean

comp_descr = pd.Series(data['production_companies'].sum()).value_counts() # creating a list of unique company names (Series.index)
# display(comp_descr)

for company in comp_descr.index:
    temp = list(data[data['production_companies'].map(lambda x: company in x)]['overview'].values) # list of overviews of a certain company
    comp_descr[company] = mean([len(item.split(' ')) for item in temp]) # turning temp into a list of overview lengths, calculating mean length, writing down into Series

comp_descr.sort_values(ascending=False)

Midnight Picture Show                          175
Room 9 Entertainment                           161
Heineken Branded Entertainment                 161
98 MPH Productions                             159
Brookwell-McNamara Entertainment               156
                                              ...
Phantom Four                                    13
Sony Pictures Worldwide Acquisitions (SPWA)     13
London Boulevard                                13
Motion Picture Corporation of America           11
Empire Pictures                                 11
Length: 1771, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [29]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [29]:
# set of options proposed:
titles1 = ['Inside Out', 'The Dark Knight', '12 Years a Slave']
titles2 = ['BloodRayne', 'The Adventures of Rocky & Bullwinkle']
titles3 = ['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down']
titles4 = ['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1']
titles5 = ['Upside Down', 'Inside Out', 'Iron Man']

titles_list = [titles1, titles2, titles3, titles4, titles5]

* FIRST METHOD - Simply

In [70]:
votes = data['vote_average'].sort_values(ascending=False)

length = round(len(votes)*0.01)
votes_1percent = votes[:length]

data_best1 = data.iloc[list(votes_1percent.index)]

print('The answer is: {}'.format(find_set(data_best1, titles_list)))

display(data_best1.head())

The answer is: ['Inside Out', 'The Dark Knight', '12 Years a Slave']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",[Morten Tyldum],The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]",2014-11-14,8.0,2014,219555708
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",2015-06-09,8.0,2015,678708609
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",2014-11-05,8.0,2014,456752480
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",2015-10-16,8.0,2015,29401758

* SECOND METHOD - Using pandas tools

In [71]:
data_best2 = data.sort_values(by='vote_average', axis=0, ascending=False).iloc[:round(len(data)*0.01)]

print('The answer is: {}'.format(find_set(data_best2, titles_list)))

display(data_best2.head())

The answer is: ['Inside Out', 'The Dark Knight', '12 Years a Slave']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",2008-07-16,8.1,2008,816921825
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",2014-11-05,8.0,2014,456752480
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",[Morten Tyldum],The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]",2014-11-14,8.0,2014,219555708
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",2015-06-09,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",2015-10-16,8.0,2015,29401758

* THIRD METHOD - Using np.quantile()

In [72]:
quantile = np.quantile(data['vote_average'], 0.99)
data_best3 = data[data['vote_average'] >= quantile]

print('The answer is: {}'.format(find_set(data_best3, titles_list)))

display(data_best3.head())

The answer is: ['Inside Out', 'The Dark Knight', '12 Years a Slave']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",2015-06-09,8.0,2015,678708609
28,tt1895587,20000000,88346473,Spotlight,"[Mark Ruffalo, Michael Keaton, Rachel McAdams,...",[Tom McCarthy],Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,"[Drama, Thriller, History]","[Participant Media, Open Road Films, Anonymous...",2015-11-06,7.8,2015,68346473
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",2015-10-16,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",2014-11-05,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",[James Gunn],All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,"[Action, Science Fiction, Adventure]","[Marvel Studios, Moving Picture Company (MPC),...",2014-07-30,7.9,2014,603312399

**METHODS CHECK-UP**<br><br>
Let's check sorted df lengths and vote ranges of movies contained:

In [67]:
print(len(data_best1), len(data_best2), len(data_best3))
print(data_best1['vote_average'].max(), data_best2['vote_average'].max(), data_best3['vote_average'].max())
print(data_best1['vote_average'].min(), data_best2['vote_average'].min(), data_best3['vote_average'].min())

19 19 28
8.1 8.1 8.1
7.8 7.8 7.8

As we see, the vote ranges are the same, whereas the dataframe lengths are different. This is due to the concept mistake made while sorting movies out: the task was to sort out <i>1% of best by vote</i> movies. In the fisrt two methods we took 1% of the <i>total number</i> of movies whereas we were supposed to take movies by <i>the vote value</i>. Therefore, the third method using 0.99-quantile value is the most correct one.

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [30]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [149]:
from itertools import combinations

couples_list = (data['cast'].map(lambda x: list(combinations(x, 2)))).sum()
couples = pd.Series(couples_list)
couples.value_counts(ascending=False)

(Daniel Radcliffe, Rupert Grint)             8
(Daniel Radcliffe, Emma Watson)              8
(Rupert Grint, Emma Watson)                  7
(Ben Stiller, Owen Wilson)                   6
(Johnny Depp, Helena Bonham Carter)          6
                                            ..
(John Cusack, Matt McKenna)                  1
(Amanda Peet, Adam Scott)                    1
(Kristen Johnston, Jane Krakowski)           1
(Philip Seymour Hoffman, Allie Mickelson)    1
(Allison Janney, Cliff Curtis)               1
Length: 18121, dtype: int64

# Submission

In [31]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'tt1298650 Pirates of the Caribbean: On Stranger Tides',
 '2': 'tt0279111 Gods and Generals',
 '3': 'tt1449283 Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'tt0499549 Avatar',
 '7': 'tt1210819 The Lone Ranger',
 '8': 1478,
 '9': 'tt0468569 The Dark Knight',
 '10': 'tt1210819 The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'tt0267626 K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [32]:
# и убедиться что ни чего не пропустил)
len(answers)

27