In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1728,tt0765443,51500000,55112356,Eastern Promises,Naomi Watts|Viggo Mortensen|Vincent Cassel|Arm...,David Cronenberg,Every sin leaves a mark.,A Russian teenager living in London who dies d...,100,Thriller|Crime|Mystery,BBC Films|Serendipity Point Films|TÃ©lÃ©film C...,9/14/2007,7.0,2007
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
146,tt1528100,140000000,268031828,Exodus: Gods and Kings,Christian Bale|Joel Edgerton|John Turturro|Aar...,Ridley Scott,"Once brothers, now enemies.",The defiant leader Moses rises up against the ...,153,Adventure|Drama|Action,Scott Free Productions|Chernin Entertainment|B...,12/3/2014,5.6,2014
1709,tt0453451,25000000,229736344,Mr. Bean's Holiday,Rowan Atkinson|Max Baldry|Emma de Caunes|Wille...,Steve Bendelack,Disaster has a passport.,Mr. Bean wins a trip to Cannes where he unwitt...,90,Family|Comedy,Tiger Aspect Productions|Working Title Films,3/22/2007,6.1,2007
546,tt0211443,11000000,16000000,Jason X,Kane Hodder|Lexa Doig|Chuck Campbell|Lisa Ryde...,James Isaac,Evil has an upgrade.,"In the year 2455, Old Earth is now a contamina...",91,Horror|Science Fiction,New Line Cinema|Sean S. Cunningham Films|Cryst...,7/24/2001,4.3,2001

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [7]:
# 1
data['release_date'] = pd.to_datetime(data['release_date']) # turning release date strings into a Series with dtype datetime64[ns]
data['release_date']

0      2015-06-09
1      2015-05-13
2      2015-03-18
3      2015-12-15
4      2015-04-01
          ...
1884   2000-07-13
1885   2000-10-27
1886   2000-06-30
1887   2000-02-16
1888   2000-07-19
Name: release_date, Length: 1889, dtype: datetime64[ns]

In [8]:
# 2
data['genres'] = data['genres'].apply(lambda x: x.split('|')) # splitting genres strings into lists
data['genres']

0       [Action, Adventure, Science Fiction, Thriller]
1       [Action, Adventure, Science Fiction, Thriller]
2               [Adventure, Science Fiction, Thriller]
3        [Action, Adventure, Science Fiction, Fantasy]
4                            [Action, Crime, Thriller]
                             ...
1884              [Adventure, Action, Science Fiction]
1885                         [Horror, Family, Foreign]
1886    [Adventure, Animation, Action, Comedy, Family]
1887                                   [Comedy, Drama]
1888                                        [Thriller]
Name: genres, Length: 1889, dtype: object

In [117]:
# 3
data['director'] = data['director'].apply(lambda x: x.split('|')) # splitting directors strings into lists
data['director']

0        [Colin Trevorrow]
1          [George Miller]
2       [Robert Schwentke]
3            [J.J. Abrams]
4              [James Wan]
               ...
1884        [Bryan Singer]
1885            [Uli Edel]
1886         [Des McAnuff]
1887        [Diane Keaton]
1888        [Mary Lambert]
Name: director, Length: 1889, dtype: object

In [ ]:
import re

# data['imdb_id'] = data['imdb_id'].apply(lambda x: re.search('\d+', x)[0]) # removing 'tt' from imdb_id's
data.head(10)

In [ ]:
# data['cast'] = data['cast'].apply(lambda x: x.split('|')) # splitting string into a list
data['cast'][0]

In [9]:
# 4
data['profit'] = data['revenue'] - data['budget'] # add the column with profit
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]",Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,"[Action, Adventure, Science Fiction, Thriller]",Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,"[Adventure, Science Fiction, Thriller]",Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]",Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,"[Action, Crime, Thriller]",Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [10]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'tt1298650 Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [11]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

ВАРИАНТ 2

In [ ]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [12]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'tt0279111 Gods and Generals'

In [13]:
data[data['runtime'] == data['runtime'].max()][['imdb_id', 'original_title', 'runtime']]

        imdb_id     original_title  runtime
1157  tt0279111  Gods and Generals      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
answers['3'] = 'tt1449283 Winnie the Pooh'

In [15]:
data[data['runtime'] == data['runtime'].min()][['imdb_id', 'original_title', 'runtime']]

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [16]:
answers['4'] = 110

In [17]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [18]:
answers['5'] = 107

In [19]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [20]:
answers['6'] = 'tt0499549 Avatar'

In [21]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()][['imdb_id', 'original_title', 'profit']]

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [22]:
answers['7'] = 'tt1210819 The Lone Ranger'

In [23]:
data[data['profit'] == data['profit'].min()][['imdb_id', 'original_title', 'profit']]

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
answers['8'] = 1478

In [25]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
answers['9'] = 'tt0468569 The Dark Knight'

* FIRST METHOD: Using the column 'release_date'. If 'release_date' stays string.

In [27]:
import time

%timeit released_2008 = data[data['release_date'].str.contains('2008')]
released_2008[released_2008['revenue'] == released_2008['revenue'].max()][['imdb_id', 'original_title', 'revenue']]

AttributeError: Can only use .str accessor with string values!

* SECOND METHOD: using the column 'release_date'. If 'release_date' is turned into datetime

In [33]:
%timeit released_2008 = data[(data['release_date'] >= '2008-01-01') & (data['release_date'] <= '2008-12-31')]
released_2008[released_2008['revenue'] == released_2008['revenue'].max()][['imdb_id', 'original_title', 'revenue']]

610 µs ± 7.99 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

The second method is much faster

* THIRD METHOD: Using the column 'release_year' (int64)

In [34]:
%timeit released_2008 = data[data['release_year'] == 2008]
released_2008[released_2008['revenue'] == released_2008['revenue'].max()][['imdb_id', 'original_title', 'revenue']]

423 µs ± 9.74 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [35]:
answers['10'] = 'tt1210819 The Lone Ranger'

* FIRST METHOD: Using the column 'release_date'. If 'release_date' is turned into datetime

In [40]:
%timeit movies_2012_2014 = data[(data['release_date'] >= '2012-01-01') & (data['release_date'] <= '2014-12-31')]
movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()][['imdb_id', 'original_title', 'profit']]

759 µs ± 139 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

* SECOND METHOD: Using the column 'release_year' (int64)

In [39]:
%timeit movies_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()][['imdb_id', 'original_title', 'profit']]

599 µs ± 11.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

Working with pandas datetimes is faster after all.

# 11. Какого жанра фильмов больше всего?

In [ ]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [41]:
answers['11'] = 'Drama'

* FIRST METHOD

In [60]:
genres_counter = Counter() # genres Counter
for genre_list in data['genres']: # listing each list in Series
    for genre in genre_list: # listing each genre in list
        genres_counter[genre] += 1

genres_counter_ordered = {key: value for key, value in sorted(genres_counter.items(), key=lambda item: item[1], reverse=True)} # sorting dictionary by values - giving a dictionary
genres_counter_ordered

{'Drama': 782,
 'Comedy': 683,
 'Thriller': 596,
 'Action': 582,
 'Adventure': 415,
 'Crime': 315,
 'Romance': 308,
 'Family': 260,
 'Science Fiction': 248,
 'Fantasy': 222,
 'Horror': 176,
 'Mystery': 168,
 'Animation': 139,
 'Music': 64,
 'History': 62,
 'War': 58,
 'Western': 19,
 'Documentary': 8,
 'Foreign': 2}

* SECOND METHOD

In [45]:
genres_counter_ordered_keys = sorted(genres_counter, key=genres_counter.get, reverse=True) # sorting dictionary by values - giving a list of keys
genres_counter_ordered_keys[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [92]:
answers['12'] = 'Drama'

In [61]:
def genres_profit(row, genres_profit_counter):
    """
    Takes a row of a movies dataframe and an outer genres Counter, adds up 1 to the genre if the movie is profitable.
    """
    
    for genre in row['genres']:
        if row['profit'] > 0:
            genres_profit_counter[genre] += 1
    return True


genres_profit_counter = Counter()
data.apply(genres_profit, axis=1, genres_profit_counter=genres_profit_counter) # applying function to the dataframe

genres_profit_counter_ordered = {key: value for key, value in sorted(genres_profit_counter.items(), key=lambda item: item[1], reverse=True)} # sorting dictionary by values - giving a dictionary
genres_profit_counter_ordered

{'Drama': 560,
 'Comedy': 551,
 'Thriller': 446,
 'Action': 444,
 'Adventure': 337,
 'Romance': 242,
 'Crime': 231,
 'Family': 226,
 'Science Fiction': 195,
 'Fantasy': 188,
 'Horror': 150,
 'Animation': 120,
 'Mystery': 119,
 'Music': 47,
 'History': 46,
 'War': 41,
 'Western': 12,
 'Documentary': 7}

In [78]:
data[data['genres'].map(lambda x: 'Foreign' in x) == True] # why genre 'Foreign' is not in 'genres_profit_counter_ordered'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
494,tt1396208,10000000,5000000,Action Replayy,Akshay Kumar|Aishwarya Rai Bachchan|Neha Dhupi...,Vipul Amrutlal Shah,Romance 1970s style,A young man tries to revive his parents' wilti...,100,"[Drama, Comedy, Romance, Foreign]",PVR Cinemas|Hari Om Entertainment Co.|Blockbus...,2010-11-05,4.9,2010,-5000000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,"[Horror, Family, Foreign]",New Line Cinema,2000-10-27,6.4,2000,-8444012

=> see that their profit is < 0

Ответ получен (драма), ОДНАКО частота различных жанров различна - соответственно, ожидаемо, что прибыльность наиболее часто встречающихся жанров будет выше. Поэтому имеет смысл посчитать прибыльность относительно частоты "встречаемости" жанра.

In [93]:
genres_profit_counter_ordered['Foreign'] = 0 # adding profitability of the genre 'Foreign' to 'genres_profit_counter_ordered' (to make lengths of both dicts equal)

In [91]:
# create a dataframe of genres profitability
genres = pd.DataFrame({'frequency': [value for value in genres_counter_ordered.values()], 'abs_profitability': [value for value in genres_profit_counter_ordered.values()]})
genres['rel_profitability'] = round(genres['abs_profitability'] / genres['frequency'], 4)
genres.index = [key for key in genres_counter_ordered.keys()]
genres

                 frequency  abs_profitability  rel_profitability
Drama                  782                560             0.7161
Comedy                 683                551             0.8067
Thriller               596                446             0.7483
Action                 582                444             0.7629
Adventure              415                337             0.8120
Crime                  315                242             0.7683
Romance                308                231             0.7500
Family                 260                226             0.8692
Science Fiction        248                195             0.7863
Fantasy                222                188             0.8468
Horror                 176                150             0.8523
Mystery                168                120             0.7143
Animation              139                119             0.8561
Music                   64                 47             0.7344
History                 62                 46             0.7419
War                     58                 41             0.7069
Western                 19                 12             0.6316
Documentary              8                  7             0.8750
Foreign                  2                  0             0.0000

In [96]:
genres.describe()

        frequency  abs_profitability  rel_profitability
count   19.000000          19.000000          19.000000
mean   268.789474         208.526316           0.735742
std    239.699019         181.700415           0.189598
min      2.000000           0.000000           0.000000
25%     63.000000          46.500000           0.725250
50%    222.000000         188.000000           0.762900
75%    365.000000         289.500000           0.829400
max    782.000000         560.000000           0.875000

In [97]:
genres[genres['rel_profitability'] >= 0.8294] # checking the 4th quartile

             frequency  abs_profitability  rel_profitability
Family             260                226             0.8692
Fantasy            222                188             0.8468
Horror             176                150             0.8523
Animation          139                119             0.8561
Documentary          8                  7             0.8750

Таким образом, из всех выпущенных фильмов в жанрах семейные, фэнтэзи, хоррор, анимационные, документальные наибольшее процентное количество становится прибыльными.

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [105]:
answers['13'] = 'James Cameron'

In [119]:
data[data['revenue'] == data['revenue'].max()]['director']

239    [James Cameron]
Name: director, dtype: object

# 14. Какой режисер снял больше всего фильмов в стиле Action?

FIRST METHOD: Using collections.Counter

In [122]:
action_dir_counter = Counter()

def action_dir_count(row, counter):
    for director in row['director']:
        if 'Action' in row['genres']:
            counter[director] += 1
    return True

data.apply(action_dir_count, axis=1, counter=action_dir_counter)
display(action_dir_counter)
sorted(action_dir_counter, key=action_dir_counter.get, reverse=True)[0] # sort counter dictionary keys by values descending, take the first key

Counter({'Colin Trevorrow': 1,
         'George Miller': 1,
         'J.J. Abrams': 4,
         'James Wan': 2,
         'Alan Taylor': 2,
         'Sam Mendes': 2,
         'Lana Wachowski': 4,
         'Lilly Wachowski': 4,
         'Chris Columbus': 1,
         'Joss Whedon': 2,
         'Olivier Megaton': 4,
         'Peyton Reed': 2,
         'Brad Bird': 3,
         'Antoine Fuqua': 6,
         'Brad Peyton': 2,
         'Christopher McQuarrie': 1,
         'Matthew Vaughn': 3,
         'Wes Ball': 2,
         'Neill Blomkamp': 3,
         'Jaume Collet-Serra': 3,
         'Breck Eisner': 3,
         'Guy Ritchie': 4,
         'Ilya Naishuller': 1,
         'Ericson Core': 1,
         'Michael Mann': 2,
         'Denis Villeneuve': 1,
         'Josh Trank': 1,
         'Paul Feig': 2,
         'Aleksander Bach': 1,
         'Ron Howard': 2,
         'Andy Fickman': 1,
         'John Erick Dowdle': 1,
         'Camille Delamarre': 2,
         'Pierre Morel': 3,
         'Anne Fletcher': 1,
         'James Gunn': 1,
         'Joe Russo': 1,
         'Anthony Russo': 1,
         'Chad Stahelski': 1,
         'David Leitch': 1,
         'Don Hall': 1,
         'Chris Williams': 1,
         'David Ayer': 3,
         'Neil Burger': 1,
         'Bryan Singer': 4,
         'Luc Besson': 2,
         'Jonathan Liebesman': 2,
         'Michael Bay': 7,
         'Matt Reeves': 2,
         'Marc Webb': 2,
         'Doug Liman': 3,
         'Evan Goldberg': 2,
         'Seth Rogen': 2,
         'Clint Eastwood': 3,
         'Ridley Scott': 6,
         'Gareth Edwards': 1,
         'Robert Stromberg': 1,
         'Roger Donaldson': 2,
         'Dean DeBlois': 1,
         'Patrick Hughes': 1,
         'Phil Lord': 3,
         'Christopher Miller': 3,
         'Gary Shore': 1,
         'Noam Murro': 1,
         'Vic Armstrong': 1,
         'J.C. Chandor': 2,
         'Brett Ratner': 5,
         'Tim Story': 4,
         'Kenneth Branagh': 2,
         'JosÃ© Padilha': 1,
         'George Clooney': 1,
         'Paul W.S. Anderson': 7,
         'Scott Waugh': 2,
         'Brian A Miller': 1,
         'Steven Quale': 1,
         'Adam Wingard': 1,
         'Renny Harlin': 4,
         'James Cameron': 1,
         'Quentin Tarantino': 5,
         'Patrick Tatopoulos': 1,
         'McG': 3,
         'Zack Snyder': 5,
         'Roland Emmerich': 5,
         'Shane Acker': 1,
         'Stephen Sommers': 3,
         'Shawn Levy': 3,
         'Steve Carr': 1,
         'Mark Neveldine': 4,
         'Brian Taylor': 4,
         'Christian Alvart': 1,
         'Alex Proyas': 2,
         'Hoyt Yeatman': 1,
         'Kevin Macdonald': 1,
         'Michael Spierig': 1,
         'Peter Spierig': 1,
         'Paul McGuigan': 1,
         'Dominic Sena': 4,
         'James McTeigue': 2,
         'Troy Duffy': 1,
         'NimrÃ³d Antal': 2,
         'Paul Weitz': 1,
         'David Bowers': 1,
         'Justin Lin': 4,
         'Daniel Barber': 1,
         'Jonathan Mostow': 3,
         'Andrzej Bartkowiak': 5,
         'Michael J. Bassett': 1,
         'Gavin Hood': 2,
         'Christopher Nolan': 4,
         'Jon Favreau': 3,
         'Pierre Coffin': 1,
         'Chris Renaud': 1,
         'Sylvester Stallone': 2,
         'Joseph Kosinski': 2,
         'Phillip Noyce': 1,
         'Florian Henckel von Donnersmarck': 1,
         'Mike Newell': 1,
         'Louis Leterrier': 5,
         'Jon Turteltaub': 3,
         'Edgar Wright': 2,
         'Tony Scott': 5,
         'Joe Carnahan': 3,
         'Robert Schwentke': 2,
         'Robert Rodriguez': 9,
         'Ethan Maniquis': 1,
         'Albert Hughes': 1,
         'Allen Hughes': 1,
         'Tom McGrath': 1,
         'M. Night Shyamalan': 3,
         'Adam McKay': 1,
         'Miguel Sapochnik': 1,
         'James Mangold': 2,
         'Andy Tennant': 1,
         'Paul Greengrass': 5,
         'Harald Zwart': 3,
         'Jonathan Lynn': 1,
         'Jimmy Hayward': 1,
         'Robert Luketic': 1,
         'John Luessenhop': 1,
         'Kevin Smith': 1,
         'Neil Marshall': 2,
         'Jorma Taccone': 1,
         'Brian Levant': 1,
         'Stuart Beattie': 1,
         'Kevin Munroe': 2,
         'Peter Jackson': 5,
         'Simon West': 4,
         'Tim Burton': 1,
         'Brian Helgeland': 1,
         'John A. Davis': 1,
         'Chris Nahon': 1,
         'Peter Howitt': 2,
         'Hironobu Sakaguchi': 1,
         'Motonori Sakakibara': 1,
         'John Moore': 4,
         'Rod Lurie': 1,
         'Lee Tamahori': 5,
         'Gore Verbinski': 5,
         'John Herzfeld': 1,
         'Ivan Reitman': 1,
         'Frank Oz': 2,
         'Demian Lichtenstein': 1,
         'John Carpenter': 1,
         'Bobby Farrelly': 1,
         'Peter Farrelly': 1,
         'Rob Cohen': 5,
         'Barry Levinson': 1,
         'Luke Greenfield': 1,
         'Les Mayfield': 1,
         'Henry Selick': 1,
         'Rob Pritts': 1,
         'Joe Johnston': 2,
         'Peter Hyams': 2,
         'Ernest R. Dickerson': 1,
         'DJ Pooh': 1,
         'Steven Spielberg': 4,
         'Marc Forster': 3,
         'Eric Brevig': 1,
         'Timur Bekmambetov': 2,
         'Peter Berg': 5,
         'Ben Stiller': 1,
         'D.J. Caruso': 3,
         'Jeff Wadlow': 1,
         'David Gordon Green': 2,
         'Lexi Alexander': 1,
         'Pete Travis': 2,
         'Peter Segal': 1,
         'Mathieu Kassovitz': 1,
         'Rob Minkoff': 1,
         'Jon Avnet': 1,
         'Dennis Dugan': 1,
         'Edward Zwick': 3,
         'Howard McCain': 1,
         'Oxide Pang Chun': 1,
         'Danny Pang': 1,
         'Frank Miller': 2,
         'Craig Mazin': 1,
         'Jason Friedberg': 2,
         'Aaron Seltzer': 2,
         'Simon Hunter': 1,
         'Nicolas Winding Refn': 1,
         'Rob Marshall': 2,
         'Rupert Wyatt': 1,
         'Andrew Niccol': 2,
         'Patrick Lussier': 1,
         'Martin Campbell': 4,
         'Gary McKendry': 1,
         'Scott Stewart': 1,
         'John Singleton': 4,
         'Tarsem Singh': 1,
         'Chris Gorak': 1,
         'Chris Miller': 1,
         'Michel Gondry': 1,
         'Marcus Nispel': 2,
         'Oliver Parker': 1,
         'Joe Cornish': 1,
         'Joe Wright': 1,
         'John Michael McDonagh': 1,
         'Alister Grierson': 1,
         'Sean McNamara': 1,
         'Ruben Fleischer': 2,
         'John Whitesell': 1,
         'Benny Chan': 1,
         'Sam Raimi': 3,
         'George Lucas': 2,
         'Barry Sonnenfeld': 3,
         'Corey Yuen Kwai': 1,
         'Guillermo del Toro': 3,
         'Andrew Davis': 2,
         'Stuart Baird': 1,
         'Kurt Wimmer': 1,
         'Jay Roach': 1,
         'Jim Gillespie': 1,
         'Chuck Russell': 1,
         'Betty Thomas': 1,
         'Randall Wallace': 1,
         'Ron Shelton': 1,
         'Simon Wells': 1,
         'Walter Hill': 2,
         'John Woo': 3,
         'Roger Michell': 1,
         'Michael Apted': 1,
         'Rob Bowman': 2,
         'Tom Dey': 1,
         'Joel Schumacher': 1,
         'Luis Mandoki': 1,
         'Tamra Davis': 1,
         'Ron Underwood': 1,
         'Kevin Bray': 1,
         'Malcolm D. Lee': 1,
         'MÃ¥ns MÃ¥rlind': 1,
         'BjÃ¶rn Stein': 1,
         'Tony Gilroy': 1,
         'Mark Andrews': 1,
         'Steve Purcell': 1,
         'Brenda Chapman': 1,
         'Ang Lee': 2,
         'Len Wiseman': 4,
         'Boaz Yakin': 1,
         'Andrew Stanton': 1,
         'Rian Johnson': 1,
         'Mike McCoy': 1,
         'Baltasar KormÃ¡kur': 2,
         'Stephen St. Leger': 1,
         'James Mather': 1,
         'Daniel Espinosa': 1,
         'Asger Leth': 1,
         'Mabrouk El Mechri': 1,
         'Dan Bradley': 1,
         'Julie Anne Robinson': 1,
         'Anthony Hemingway': 1,
         'David Koepp': 1,
         'David Barrett': 1,
         'Mark Steven Johnson': 2,
         'Stephen Norrington': 1,
         'F. Gary Gray': 2,
         'Jan de Bont': 1,
         'Jon Amiel': 1,
         'David Dobkin': 2,
         'Clark Johnson': 2,
         'Richard Donner': 2,
         'John McTiernan': 1,
         'William Friedkin': 2,
         'Uwe Boll': 3,
         'Shane Black': 1,
         'Francis Lawrence': 2,
         'David Twohy': 3,
         'Tommy Wirkola': 1,
         'Carl Rinsch': 1,
         'Gary Fleder': 1,
         'Mikael HÃ¥fstrÃ¶m': 1,
         'Taylor Hackford': 1,
         'Steven Knight': 1,
         'Spike Lee': 1,
         'Dito Montiel': 1,
         'Keanu Reeves': 1,
         'Courtney Solomon': 2,
         'Fyodor Bondarchuk': 1,
         'Karyn Kusama': 1,
         'Adam Shankman': 1,
         'John Stockwell': 1,
         'Sydney Pollack': 1,
         'Terry Gilliam': 1,
         'Jay Chandrasekhar': 1,
         'Richard Shepard': 1,
         'John Dahl': 1,
         'Bruce Hunt': 1,
         'Alfonso CuarÃ³n': 1,
         'Stefen Fangmeier': 1,
         'Mel Gibson': 1,
         'Bruce Beresford': 1,
         'Wolfgang Petersen': 1,
         'David R. Ellis': 2,
         'Jeff Tremaine': 1,
         'John Bonito': 1,
         'Geoffrey Sax': 1,
         'Tony Bill': 1,
         'Wayne Kramer': 1,
         'Sanjay Gadhvi': 1,
         'Phil Joanou': 1,
         'Alexander Witt': 1,
         'David S. Goyer': 2,
         'Bibo Bergeron': 1,
         'Vicky Jenson': 1,
         'Rob Letterman': 1,
         'Kerry Conran': 1,
         'Oliver Stone': 1,
         'Jonathan Hensleigh': 1,
         'Pitof': 1,
         'Philip Kaufman': 1,
         'Trey Parker': 1,
         'Steven Brill': 1,
         'Frank Coraci': 1,
         'Paul Abascal': 1,
         'Joseph Kahn': 1,
         'David Mamet': 1,
         'Jay Russell': 1,
         'Robert Redford': 1,
         'Philip G. Atwell': 1,
         'Michael Davis': 1,
         'Xavier Gens': 1,
         'Eli Roth': 1,
         'Rob Zombie': 1,
         'Jason Eisener': 1,
         'Dave Meyers': 1,
         'Russell Mulcahy': 1,
         'Andrew Dominik': 1,
         'Doug Lefler': 1,
         'David Leland': 1,
         'Feng Xiaogang': 1,
         'Ben Garant': 1,
         'Joel Coen': 1,
         'Donald Petrie': 1,
         'Paul Verhoeven': 1,
         'Roger Spottiswoode': 1,
         'Antony Hoffman': 1,
         'Stephen T. Kay': 1,
         'Don Bluth': 1,
         'Gary Goldman': 1,
         'Christian Duguay': 1,
         'Douglas Aarniokoski': 1,
         'Gina Prince-Bythewood': 1,
         'Brian Robbins': 1,
         'Des McAnuff': 1})

'Robert Rodriguez'

SECOND METHOD: Using Series.value_counts()

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [95]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'tt1298650 Pirates of the Caribbean: On Stranger Tides',
 '2': 'tt0279111 Gods and Generals',
 '3': 'tt1449283 Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'tt0499549 Avatar',
 '7': 'tt1210819 The Lone Ranger',
 '8': 1478,
 '9': 'tt0468569 The Dark Knight',
 '10': 'tt1210819 The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama'}

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)